<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle40px font-bold">SharePoint Solutions</h1>
            <div class="d-flex fxWrapMb">
                <div class="font-medium  subtitle18px colorBlack d-flex gap-2">
                    <a routerLink="/ourServices/Software&Development"
                        class="font-medium mb-0 subtitle20px colorBlack">Software & Development</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <span class="mb-0 color-linearGradient font-medium  subtitle18px">SharePoint Solutions</span>
            </div>
        </div>
        <img src="assets/images/CodeServices/Software & Development/SharePoint Solutions/SharePointSolutions-min.jpg"
            alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">Connect. Collaborate. <br> Take Control. <br> All in <span
                        class="color-linearGradient">One Place.
                    </span></h1>
                <p class="subtitle18px mb-0 style-font colorTwo">In today’s decentralized, digital-first world,
                    SharePoint empowers organizations to bring teams, content, and
                    communication together in one powerful platform.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb16 colorOne subtitle18px style-font">At CODE, we help you maximize this potential through
                    secure, scalable and fully tailored SharePoint environments.
                </p>
                <p class="mb-0 colorOne subtitle18px style-font">From smart document
                    management and automated workflows to custom intranets and digital workplace solutions our
                    SharePoint experts build platforms that streamline operations, enhance collaboration and support
                    your business
                    transformation goals. Whether you're migrating to the cloud or modernizing legacy systems, we build
                    for resilience,
                    efficiency and long-term impact.</p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <span class="color-linearGradient subtitle18px font-medium mb16 d-block">Smart Portals. Secure Access.
                    Seamless Experience.</span>
                <h4 class="colorThree subtitle36px font-bold mb24"> Enterprise Collaboration. <br>
                    <span class="color-linearGradient ">Reimagined. </span>
                </h4>
                <p class="font-bold subtitle18px colorBlack">Intranet & Departmental Portals</p>
                <p class="style-font subtitle16px colorBlack">Create intuitive internal hubs where employees can access
                    tools, resources, and updates — all wrapped in a branded,
                    permission-aware experience.</p>
                <p class="font-bold subtitle18px colorBlack">Document & Knowledge Management </p>
                <p class="style-font subtitle16px colorBlack">Structure and centralize your content in libraries with
                    automated versioning, permission controls, and approval
                    workflows — reducing redundancy and improving audit readiness.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <img src="assets/images/CodeServices/Software & Development/SharePoint Solutions/SharePointSolutions1-min.png"
                    alt="image AI">
            </div>
        </div>
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <div class="boxBootom"></div>
                <p class="font-bold subtitle18px colorBlack">Workflow Automation</p>
                <p class="style-font subtitle16px colorBlack">Accelerate decisions and free up time by automating
                    routine processes like reviews, approvals, alerts, and escalations
                    with SharePoint-powered workflows.</p>
                <p class="font-bold subtitle18px colorBlack">Custom Solutions & Integrations </p>
                <p class="style-font subtitle16px colorBlack">Go beyond out-of-the-box. We design custom web parts,
                    dynamic forms, and integrations with Microsoft Teams, Power BI,
                    and Dynamics 365 — tailored to your operations.</p>
                <p class="font-bold subtitle18px colorBlack">Migration & Modernization </p>
                <p class="style-font subtitle16px colorBlack">Move from legacy platforms or outdated SharePoint versions
                    to SharePoint Online or hybrid environments — with zero data
                    loss, minimal downtime, and full future compatibility.</p>
                <p class="font-bold subtitle18px colorBlack">Security, Governance & Compliance </p>
                <p class="style-font subtitle16px colorBlack">Protect your data with robust access controls, usage
                    policies, and compliance frameworks — all aligned with internal
                    governance and regulatory mandates.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxBootom"></div>
                <img src="assets/images/CodeServices/Software & Development/SharePoint Solutions/SharePointSolutions2.jpg"
                    alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Built for <span class="color-linearGradient ">Saudi </span> Institutions and Enterprises</h1>
            <div class="d-flex align-items-center">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">Whether you're a government
                    agency, or a large-scale enterprise CODE delivers SharePoint solutions engineered for secure
                    collaboration, efficiency and growth all while aligning with Vision 2030’s ambitions for a digitally
                    empowered,
                    connected nation.</p>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">

                <h1 class=" subtitle40px font-bold mb-0" data-aos="fade-down">Let’s Build Your <br> <span
                        class="color-linearGradient">SharePoint Ecosystem </span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Whether you're a government agency, or a large-scale enterprise
            CODE delivers SharePoint solutions engineered for secure
            collaboration, efficiency and growth all while aligning with Vision 2030’s ambitions for a digitally
            empowered,
            connected nation.</p>
    </div>
</section>