.serviceDetailsS3 .fx-serviceDetailsS3{align-items: normal;}
.serviceDetailsS3 .fx-serviceDetailsS3 .serviceDetailsS3-imgs img{min-height:100%;}
.serviceDetailsS2 .serviceDetailsS2-part1{
    width: 40%;
}
.serviceDetailsS2 .serviceDetailsS2-part2{
    width: 60%;
}