/* Style services SECTION 4 */
.servicesS4{
    margin: 67px 0;
}
.servicesS4 .fxServicesS4{
    gap: 20px;
}
.servicesS4 .fxServicesS4 a{
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 0px);
    padding: 0 1.5rem;
    border-radius: 15px;
    background: #FFF;
    gap: 8px;
    color: #000;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease;
    text-decoration: none;
    justify-content: center;
}

.servicesS4 .fxServicesS4 a:hover,
.servicesS4 .fxServicesS4 a.active{
    border: 2px solid #0255a3;
}
.servicesS4 .fxServicesS4 a:hover span,
.servicesS4 .fxServicesS4 a.active span{
    color: #0255a3;
    font-weight: 500;
}
.servicesS4 .fxServicesS4 a img{width: 20%;}
@media (min-width:1706.67px) {
}
@media (min-width:1920px) {
}
@media (min-width:2048px) {
 }
@media (min-width:2304px) {}
@media (max-width:1396.36px) {
    .servicesS4 .fxServicesS4 a{padding: 0 20px;}
}
@media (max-width:1228.8px) {
    .servicesS4 .fxServicesS4 a{padding: 0 1rem;}
    .servicesS4 .fxServicesS4 a span{font-size: 15px;}
}
@media (max-width:1024px) {   
    .servicesS4 .fxServicesS4 a{height: 70px;border-radius: 10px;}
    .servicesS4 .fxServicesS4 a span{font-size: 13px;}
}
@media (max-width:877.71px) {
    .servicesS4 .fxServicesS4 a{
        flex: 1 1 calc(33.3% - 20px);
        max-width: calc(33.3% - 0px);
    }
}
@media (max-width:768px) {}
@media (max-width:614.4px) {
    .servicesS4 .fxServicesS4{gap: 8px;}
    .servicesS4 .fxServicesS4 a{
        flex: 1 1 calc(50% - 8px);
        max-width: calc(50% - 0px);
        padding: 0 12px;
    }
    .servicesS4 .fxServicesS4 a img{width: 28px;}
    .servicesS4 .fxServicesS4 a span{font-size: 13px;}
}