<section class="servicesS4">
    <div class="servicesS4-container px-120">
        <div class="fxServicesS4 fxGeneral-cards ">
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/AISolutions"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/AISolutions.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">{{ 'SERVICESNAMES.servicesS4.AISolutions' | translate }}</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/AutomationAndSecurity"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Automation&Security.svg" alt="Automation & Security icon">
                <span class="subtitle20px style-font">{{ 'SERVICESNAMES.servicesS4.AutomationAndSecurity' | translate
                    }}</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/DigitalHealthcare"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/DigitalHealthcare.svg" alt="Digital Healthcare icon">
                <span class="subtitle20px style-font">{{ 'SERVICESNAMES.servicesS4.DigitalHealthcare' | translate
                    }}</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Passive&CivilWork"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Passive&CivilWork.svg" alt="Passive & Civil Work icon">
                <span class="subtitle20px style-font">{{ 'SERVICESNAMES.servicesS4.PassiveCivilWork' | translate
                    }}</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Data&CloudEngineering"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Data&CloudEngineering.svg" alt="Data & Cloud Engineering icon">
                <span class="subtitle20px style-font">{{ 'SERVICESNAMES.servicesS4.DataCloudEngineering' | translate
                    }}</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Software&Development"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Software&Development.svg" alt="Software & Development icon">
                <span class="subtitle20px style-font">{{ 'SERVICESNAMES.servicesS4.SoftwareDevelopment' | translate
                    }}</span>
            </a>
        </div>
    </div>
</section>