<section class="servicesS4">
    <div class="servicesS4-container px-120">
        <div class="fxServicesS4 fxGeneral-cards ">
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/AI-Packages"
                routerLinkActive="active">
                <img src="assets/images/HeaderIcons/AI-PackagesIcon.svg" alt="AI Solutions icon">
                <span class="subtitle18px style-font">{{ 'SERVICES_S4.AI_PACKAGES' | translate }}</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/AISolutions"
                routerLinkActive="active">
                <img src="assets/images/HeaderIcons/AI-SolutionsIcon.svg" alt="Automation & Security icon">
                <span class="subtitle18px style-font">{{ 'SERVICES_S4.AI_SOLUTIONS' | translate }}</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/ICT-Solutions"
                routerLinkActive="active">
                <img src="assets/images/HeaderIcons/ICT-SolutionsIcon.svg" alt="Digital Healthcare icon">
                <span class="subtitle18px style-font">{{ 'SERVICES_S4.ICT_SOLUTIONS' | translate }}</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/DigitalTransformation"
                routerLinkActive="active">
                <img src="assets/images/HeaderIcons/Digital-TransformationIcon.svg" alt="Passive & Civil Work icon">
                <span class="subtitle18px style-font">{{ 'SERVICES_S4.DIGITAL_TRANSFORMATION' | translate }}</span>
            </a>
        </div>
    </div>
</section>