<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle48px font-bold">Disaster Recovery Solutions</h1>
            <p class="font-medium mb-0 subtitle20px colorBlack">AI Solutions > <br><span
                    class="color-linearGradient">Disaster Recovery Solutions</span></p>
        </div>
        <img src="assets/images/CodeServices/Data & Cloud Engineering/Disaster Recovery/Disaster Recovery-min.png"
            alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">Turning Data into Actionable
                    Advantage</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500"><span class="color-linearGradient">Protect</span> What Matters. <br><span
                        class="color-linearGradient">Minimize </span> Downtime. <br> Restore with <span
                        class="color-linearGradient">Confidence</span>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">Every second of disruption can cost organizations
                    trust, money, and momentum. </p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb-0 colorOne subtitle18px style-font">CODE’s Disaster Recovery Solutions help ensure your
                    data, systems, and workflows are resilient in the face of unexpected
                    failures — from cyberattacks and human error to infrastructure outages. <br> <br>
                    Our approach combines platform-native automation, robust scenario management, and centralized data
                    lineage — helping you
                    recover quickly while maintaining full compliance and operational continuity.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24"> What It
                    <span class="color-linearGradient ">Delivers </span>
                </h4>
                <p class="font-bold subtitle18px colorBlack">Automated Backup & Restore Scenarios</p>
                <p class="style-font subtitle16px colorBlack">Define recovery scenarios with time-based or event-based
                    triggers. Automate workflows that ensure reliable data and
                    model backups across environments.</p>
                <p class="font-bold subtitle18px colorBlack">Version History & Rollback</p>
                <p class="style-font subtitle16px colorBlack">Keep a full log of workflow and model changes, with the
                    ability to restore a previous state instantly in case of failure
                    or corruption.</p>
                <p class="font-bold subtitle18px colorBlack">Full Data Lineage</p>
                <p class="style-font subtitle16px colorBlack">Trace every data source, transformation, and access point
                    from start to finish — improving auditability, impact
                    analysis, and recovery clarity.</p>
                <p class="font-bold subtitle18px colorBlack">Collaborative Root-Cause Analysis</p>
                <p class="style-font subtitle16px colorBlack">Monitor pipeline behavior and log failures in real time,
                    making it easier for technical and business teams to resolve
                    issues together.</p>
                <p class="font-bold subtitle18px colorBlack">Secure & Scalable by Design</p>
                <p class="style-font subtitle16px colorBlack">Compatible with cloud and hybrid environments. Supports
                    complex recovery paths across SQL databases, data lakes, NoSQL
                    stores, & big data ecosystems.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Data & Cloud Engineering/Disaster Recovery/Disaster Recovery1-min.png"
                    alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Ready for <span class="color-linearGradient ">KSA's Resilience </span> Mandates</h1>
            <div class="d-flex align-items-center ">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">CODE’s disaster recovery approach
                    supports digital continuity for critical services in alignment with Saudi Arabia’s
                    Vision 2030. <br> <br>
                    Whether you manage infrastructure, healthcare, education, or public services, we help you plan,
                    prepare, and recover
                    — with control and confidence.</p>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down"> Let’s Build Your <span
                        class="color-linearGradient">Recovery Readiness </span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Disruption is inevitable. Downtime doesn’t have to be. Let’s
            talk about how CODE can help you safeguard your operations
            and get back online — fast.</p>
    </div>
</section>