<section class="aboutSOne">
    <div class="aboutSOne-container px-120">
        <div class="aboutSOne-content">
            <h1 class="font-bold colorWhite text-center" data-aos="fade-down">Discover a single place that <br>
                create <span class="color-linearGradient">powerful </span>products</h1>
        </div>
    </div>
</section>
<section class="aboutSTwo">
    <div class="aboutSTwo-container">
        <div class="d-flex align-items-center justify-content-between aboutSTwoText px-120">
            <h1 class="color-linearGradient font-bold subtitle36px" data-aos="fade-down" data-aos-easing="linear"
                data-aos-duration="1000">Our clients</h1>
            <div class="arrows-logos d-flex align-items-center ms-3" (click)="nextSlidelogo()"><img
                    src="../../../../../assets/images/rightBlog.svg" alt="Next Slide"
                    class="rightLogo transition3s ms-2" (click)="prevSlidelogo()"><img
                    src="../../../../../assets/images/leftBlog.svg" alt="Previous Slide" class="leftLogo transition3s">
            </div>
        </div>
        <ngx-slick-carousel class="sliderLogos-black" [config]="slideConfig" #slickModallogos>
            <div ngxSlickItem *ngFor="let logo of logos" class="slide">
                <img [src]="logo" alt="logo" />
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<section class="aboutSThree">
    <div class="aboutSThree-container px-120">
        <div class="d-flex fx-aboutSThree">
            <div class="aboutSThree-texts ">
                <span class="subtitle24px color-linearGradient font-medium mb24 d-block" data-aos="fade-down"
                    data-aos-easing="linear" data-aos-duration="500">Who is Code?</span>
                <h1 class="subtitle48px colorOne font-bold mb24" data-aos="zoom-in-up"> Code is the <span
                        class="color-linearGradient">AI
                        power</span>
                    that helps
                    you create
                    amazing product</h1>
                <p class="mb-0 subtitle24px colorTwo style-font mb24">Built on years of experience by experts,
                    we
                    ensure that
                    our
                    customers
                    are educated
                    and protected, have expert solutions
                    and recommendations to rely on. <br> <br>
                    We have complete support that helps our customers integrate their business with today’s
                    needs.
                </p>
            </div>
            <div class="aboutSThree-imgs">
                <img src="../../../../../assets/images/WhoisCode.png" alt="About image"
                    class="aboutSThree-img1 d-block">
                <div class="createdDate">
                    <h4 class="font-medium colorTwo subtitle24px ">Create</h4>
                    <h1 class="color-linearGradient font-bold subtitle72px">2016</h1>
                </div>
                <div class="imgAbs">
                    <img src="../../../../../assets/images/WhoisCode2.png" alt="About image" class="aboutSThree-img2">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="aboutSFour">
    <div class="aboutSFour-container px-120">
        <img src="../../../../../assets/images/OVERVIEW-back.png" alt="OVERVIEW background" class="overviewBack">
        <div class="d-flex fx-aboutSFour">
            <div class="aboutSFour-part">
                <img src="../../../../../assets/images/aboutSFour-img1.png" alt="about img" class="aboutSFour-img"
                    data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <div class="aboutSFour-texts">
                    <h1 class="text-center font-bold subtitle48px colorOne mb24" data-aos="zoom-in-up"> <span
                            class="color-linearGradient">Code</span> is Guided by a strong<span
                            class="color-linearGradient"> mission</span>
                    </h1>
                    <p class="mb-0 colorTwo subtitle24px style-font text-center">Our mission is to empower
                        customers with the right care solutions, backed by expertise and research, ensuring
                        their
                        protection through consultation, integration, and support.</p>
                </div>

            </div>
            <div class="aboutSFour-part">
                <div class="aboutSFour-texts">
                    <h1 class="text-center font-bold subtitle48px colorOne mb24" data-aos="zoom-in-up"> <span
                            class="color-linearGradient">Code</span> is
                        driven by a <br> clear <span class="color-linearGradient">vision</span>
                    </h1>
                    <p class="mb-0 colorTwo subtitle24px style-font text-center">CODE is committed to customer
                        satisfaction,
                        directing all initiatives toward their benefit
                        and striving for industry
                        leadership. <br> <br>
                        CODE is dedicated to providing top-tier care services and solutions, continuously
                        evolving
                        to drive business success.
                    </p>
                </div>
                <img src="../../../../../assets/images/aboutSFour-img2.png" alt="about img" class="aboutSFour-img"
                    data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            </div>
        </div>
    </div>
</section>
<section class="aboutSSix">
    <div class="aboutSSix-container px-120">
        <div class="d-flex flex-column gap24 sectionThree-titles">
            <span class="font-medium text-center subtitle24px color-linearGradient">Project Timeline</span>
            <h1 class="text-center font-bold subtitle48px" data-aos="fade-down"> <span class="color-linearGradient">AI
                    Project </span>In The
                <span class="color-linearGradient">Best </span>Milestones
            </h1>
            <p class="mb-0 text-center subtitle24px style-font">Design the digital twin architecture tailored to the
                specific needs of the buildings.</p>
        </div>

        <div class="d-flex fx-aboutSSix">
            <div class="box">
                <img src="../../../../../assets/images/FoundingIcon.svg" alt="Founding Icon">
                <h3 class="subtitle20px colorBlack style-font">Founding</h3>
            </div>
            <div class=" boxDots">
                <div class="circleRed1"></div>
                <div class="circleRed2"></div>
                <div class="circleRed3"></div>
                <div class="circleRed4"></div>
            </div>
            <div class="box">
                <img src="../../../../../assets/images/keyProjectsIcon.svg" alt="key projects Icon">
                <h3 class="subtitle20px colorBlack style-font">key projects</h3>
            </div>
            <div class="boxDots">
                <div class="circleRed1"></div>
                <div class="circleRed2"></div>
                <div class="circleRed3"></div>
                <div class="circleRed4"></div>
            </div>
            <div class="box">
                <img src="../../../../../assets/images/partnershipsIcon.svg" alt="partnerships Icon">
                <h3 class="subtitle20px colorBlack style-font">partnerships</h3>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="../../../../../assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24" data-aos="fade-down"
                    data-aos-easing="linear" data-aos-duration="1000"> Work with us</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="zoom-in-up">Ready to <span
                        class="color-linearGradient">join us
                    </span>& <span class="color-linearGradient"><br> level up</span> your
                    skills</h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button">
                    <span class="font-semiBold colorWhite subtitle20px">Contact us</span>
                    <img src="../../../../../assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font">DB Consulting specializes in SQL Server, our tutorial and training
            is founded
            on
            real-life
            experience, and we practice
            what we preach! In addition to training courses and workshops, we offer</p>
    </div>
</section>