<section class="aboutSOne">
    <div class="aboutSOne-container px-120">
        <div class="aboutSOne-content">
            <h1 class="font-bold colorWhite text-center subtitle48px" data-aos="fade-down">Your <span
                    class="color-linearGradient">AI
                    One-Stop-Shop</span> for<br>
                <span class="color-linearGradient">Smart Digital Transformation</span>
            </h1>
        </div>
    </div>
</section>
<section class="aboutSTwo">
    <div class="aboutSTwo-container">
        <div class="d-flex align-items-center justify-content-between aboutSTwoText px-120">
            <h1 class="color-linearGradient font-bold subtitle32px" data-aos="fade-down" data-aos-easing="linear"
                data-aos-duration="500">Trusted by Leading Institutions in Saudi Arabia and Beyond</h1>
            <!-- <div class="arrows-logos d-flex align-items-center ms-3" (click)="nextSlidelogo()"><img
                    src="assets/images/rightBlog.svg" alt="Next Slide"
                    class="rightLogo transition3s ms-2" (click)="prevSlidelogo()"><img
                    src="assets/images/leftBlog.svg" alt="Previous Slide" class="leftLogo transition3s">
            </div> -->
        </div>
        <ngx-slick-carousel class="sliderLogos-black" [config]="slideConfig" #slickModallogos>
            <div ngxSlickItem *ngFor="let logo of logos" class="slide">
                <img [src]="logo" alt="logo" />
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<section class="aboutSThree">
    <div class="aboutSThree-container px-120">
        <div class="d-flex fx-aboutSThree ">
            <div class="aboutSThree-texts ">
                <span class="subtitle24px color-linearGradient font-medium mb24 d-block" data-aos="fade-down"
                    data-aos-easing="linear" data-aos-duration="500">Who We Are</span>
                <h1 class="subtitle48px colorOne font-bold mb24" data-aos="zoom-in-up">
                    <span class="color-linearGradient">Saudi </span> Expertise. <br>
                    <span class="color-linearGradient">Global </span> Standard.<br>
                    <span class="color-linearGradient">Smarter </span> Outcomes.
                </h1>
                <p class="subtitle22px colorTwo style-font mb24">CODE is a Saudi technology company delivering
                    <b> end-to-end AI and digital solutions for smart infrastructure.</b> As a
                    one-stop-shop, we support organizations from strategy to scale — with tailored platforms, local
                    expertise, and
                    international standards.
                </p>
                <p class="mb-0 subtitle22px colorTwo style-font">We work with government entities, critical
                    facilities, and enterprises to design and deploy intelligent systems that
                    deliver measurable outcomes. Our team includes <b> 80+ technical experts </b> and holds
                    <b> certifications in ISO
                        9001, 27001, and
                        20000 </b> — ensuring every solution meets the highest standards of quality and security.
                </p>
            </div>
            <div class="aboutSThree-imgs">
                <img src="assets/images/WhoisCode.png" alt="About image" class="aboutSThree-img1 d-block">
                <div class="createdDate">
                    <h4 class="font-medium colorTwo subtitle24px ">Create</h4>
                    <h1 class="color-linearGradient font-bold subtitle72px">2016</h1>
                </div>
                <div class="imgAbs">
                    <img src="assets/images/WhoisCode2.png" alt="About image" class="aboutSThree-img2">
                </div>
            </div>
        </div>
        <p class="subtitle22px colorTwo style-font mb24">Our flagship solutions, including <span
                class="color-linearGradient font-bold">AI Digital Twin</span> and <span
                class="color-linearGradient font-bold">AI
                Computer
                Vision </span> — are already
            powering <b> over 20,000
                buildings
                across the Kingdom </b>, bringing real-time insight and automation to complex environments.</p>
        <p class="mb-0 subtitle22px colorTwo style-font">With CODE, you're not just adopting new technology. You're
            building a smarter, more connected future — one
            solution at a
            time.</p>
    </div>
</section>

<section class="aboutSFour">
    <div class="aboutSFour-container px-120">
        <img src="assets/images/OVERVIEW-back.png" alt="OVERVIEW background" class="overviewBack">
        <div class="d-flex fx-aboutSFour">
            <div class="aboutSFour-part">
                <div class="aboutSFour-img"><img src="assets/images/aboutSFour-img2.png" alt="about img"
                        data-aos="fade-up" data-aos-anchor-placement="center-bottom"></div>
                <div class="aboutSFour-texts">
                    <span class="subtitle24px color-linearGradient font-medium mb24 d-block">Our Vision</span>
                    <h1 class="text-start font-bold subtitle48px colorOne mb24" data-aos="zoom-in-up">Building Smarter
                        Systems <br>for a <span class="color-linearGradient">Smarter Nation</span>
                    </h1>
                    <p class="mb-0 colorTwo subtitle24px style-font text-start text-justify">We envision a future where
                        every building, system, and service in Saudi Arabia is intelligent, connected, and adaptive.
                        <br> <br>
                        Through AI and digital innovation, CODE empowers institutions to lead the Kingdom’s
                        transformation — sustainably,
                        securely, and at scale.
                    </p>
                </div>
            </div>
            <div class="aboutSFour-part">

                <div class="aboutSFour-texts">
                    <span class="subtitle24px color-linearGradient font-medium mb24 d-block">Our Mission</span>
                    <h1 class="font-bold subtitle48px colorOne mb24 text-start text-capitalize" data-aos="zoom-in-up">
                        Delivering <span class="color-linearGradient">Real Impact</span> <br> Through<span
                            class="color-linearGradient"> AI</span>
                    </h1>
                    <p class="mb-0 colorTwo subtitle24px style-font text-justify">Our mission is to help organizations
                        unlock the full potential of AI — by designing, developing, and deploying secure,
                        scalable, and locally tailored solutions that drive performance, enhance decision-making, and
                        support Vision 2030 goals.</p>
                </div>
                <div class="aboutSFour-img"><img src="assets/images/aboutSFour-img1.png" alt="about img"
                        data-aos="fade-up" data-aos-anchor-placement="center-bottom"></div>
            </div>

        </div>
    </div>
</section>

<section class="aboutSSeven">
    <div class="aboutSSeven-container px-120">
        <div class="d-flex flex-column divTitles">
            <span class="font-medium text-center subtitle24px color-linearGradient">Our certificates</span>
            <h1 class="text-center font-bold subtitle48px" data-aos="fade-down">Proven Excellence. <span
                    class="color-linearGradient">Trusted Standards. </span></h1>
            <p class="mb-0 text-center subtitle24px style-font">CODE meets global standards for quality, service, and
                security — ensuring every solution is built to perform, protect,
                and grow with you.</p>
        </div>
        <div class="d-flex fx-aboutSSeven">
            <div class="imgsDiv imgsDiv1">
                <img src="assets/images/9001Dark.svg" alt="9001 Image" class="imgOne">
                <img src="assets/images/9001Blue.svg" alt="9001 Image" class="imgTwo">
            </div>
            <div class="imgsDiv imgsDiv2">
                <img src="assets/images/20000Dark.svg" alt="20000 Image" class="imgOne">
                <img src="assets/images/20000Orange.svg" alt="20000 Image" class="imgTwo">
            </div>
            <div class="imgsDiv imgsDiv3">
                <img src="assets/images/27001Dark.svg" alt="27001 Image" class="imgOne">
                <img src="assets/images/27001Green.svg" alt="27001 Image" class="imgTwo">
            </div>
        </div>
    </div>
</section>
<section class="aboutSSix">
    <div class="aboutSSix-container px-120">
        <div class="d-flex flex-column divTitles">
            <span class="font-medium text-center subtitle24px color-linearGradient">Project Timeline</span>
            <h1 class="text-center font-bold subtitle48px" data-aos="fade-down"><span class="color-linearGradient"> AI
                    Projects</span> Delivered Through <br> <span class="color-linearGradient">Meaningful</span>
                Milestones</h1>
            <p class="mb-0 text-center subtitle24px style-font">CODE meets global standards for quality, service, and
                security — ensuring every solution is built to perform, protect,
                and grow with you.</p>
        </div>
        <div class="d-flex fx-aboutSSix">
            <div class="box">
                <img src="assets/images/FoundingIcon.svg" alt="Founding Icon">
                <h3 class="subtitle20px colorBlack style-font">Founding</h3>
            </div>
            <div class=" boxDots">
                <div class="circleRed1"></div>
                <div class="circleRed2"></div>
                <div class="circleRed3"></div>
                <div class="circleRed4"></div>
            </div>
            <div class="box">
                <img src="assets/images/keyProjectsIcon.svg" alt="key projects Icon">
                <h3 class="subtitle20px colorBlack style-font">key projects</h3>
            </div>
            <div class="boxDots">
                <div class="circleRed1"></div>
                <div class="circleRed2"></div>
                <div class="circleRed3"></div>
                <div class="circleRed4"></div>
            </div>
            <div class="box">
                <img src="assets/images/partnershipsIcon.svg" alt="partnerships Icon">
                <h3 class="subtitle20px colorBlack style-font">partnerships</h3>
            </div>
        </div>
    </div>
</section>
<!-- <section class="aboutSEight">
    <div class="aboutSEight-container px-120">
        <div class="d-flex flex-column divTitles">
            <span class="font-medium text-center subtitle24px color-linearGradient">Our training programes</span>
            <h1 class="text-center font-bold subtitle48px" data-aos="fade-down">How to Build Your Own <span
                    class="color-linearGradient">Professional <br> DB Consulting </span>Service in 40 Days?</h1>
            <p class="mb-0 text-center subtitle24px style-font">DB Consulting specializes in SQL Server, our tutorial
                and training is founded on real-life experience, and we practice
                what we preach! In addition to training courses and workshops, we offer</p>
        </div>
        <div class="d-flex fxSEight">
            <div class="partOne">
                <div class="d-flex flex-column boxSEight">
                    <div class="d-flex fxTitleImg">
                        <h4 class="colorBlue font-bold subtitle22px ">Fundamental Level</h4>
                        <img src="assets/images/rateIcon.svg" alt="rate Icon" class="rateIcon">
                    </div>
                    <p class="colorTwo mb-0 subtitle16px font-medium">How to build and manage your database
                        infrastructure in 10
                        days?</p>
                </div>
                <div class="d-flex flex-column boxSEight">
                    <div class="d-flex fxTitleImg">
                        <h4 class="colorBlue font-bold subtitle22px ">Beginning Level</h4>
                        <img src="assets/images/rateIcon.svg" alt="rate Icon" class="rateIcon">
                    </div>
                    <p class="colorTwo mb-0 subtitle16px font-medium">How to start using Microsoft SQL Server and create
                        your own DB application in 10 days?</p>
                </div>
                <div class="d-flex flex-column boxSEight">
                    <div class="d-flex fxTitleImg">
                        <h4 class="colorBlue font-bold subtitle22px ">Intermediate Level</h4>
                        <img src="assets/images/rateIcon.svg" alt="rate Icon" class="rateIcon">
                    </div>
                    <p class="colorTwo mb-0 subtitle16px font-medium">How to build and manage your database
                        infrastructure in 10 days?</p>
                </div>
                <div class="d-flex flex-column boxSEight">
                    <div class="d-flex fxTitleImg">
                        <h4 class="colorBlue font-bold subtitle22px ">Advanced Level</h4>
                        <img src="assets/images/rateIcon.svg" alt="rate Icon" class="rateIcon">
                    </div>
                    <p class="colorTwo mb-0 subtitle16px font-medium">How do you configure and scale your DB to handle
                        the largest workload in 5 days?</p>
                </div>
                <div class="d-flex flex-column boxSEight">
                    <div class="d-flex fxTitleImg">
                        <h4 class="colorBlue font-bold subtitle22px ">Professional Level</h4>
                        <img src="assets/images/rateIcon.svg" alt="rate Icon" class="rateIcon">
                    </div>
                    <p class="colorTwo mb-0 subtitle16px font-medium">How to Build your own Data Engineering Platform
                        and Manage TB Data in 10 Days?</p>
                </div>
            </div>
            <div class="partTwo">
                <img src="assets/images/sectionOneGif.gif" alt="">
            </div>
            <div class="partThree">
                <div class="d-flex flex-column boxTitle">
                    <span class="style-font colorTwo">DB Consulting Overview</span>
                    <h4 class="subtitle22px font-bold">Who should attend?</h4>
                </div>
                <div class="d-flex flex-column boxContent">
                    <h3 class="subtitle18px colorTwo font-bold">SQL Server enthusiasts</h3>
                    <p class="mb-0 style-font">Those eager for hands-on experience.</p>
                </div>
                <div class="d-flex flex-column boxContent">
                    <h3 class="subtitle18px colorTwo font-bold">MCSE aspirants</h3>
                    <p class="mb-0 style-font">Passionate about SQL Server certification.</p>
                </div>
                <div class="d-flex flex-column boxContent">
                    <h3 class="subtitle18px colorTwo font-bold">T-SQL learners</h3>
                    <p class="mb-0 style-font">Anyone with basic T-SQL knowledge.</p>
                </div>
                <div class="d-flex flex-column boxContent">
                    <h3 class="subtitle18px colorTwo font-bold">SQL Server professionals</h3>
                    <p class="mb-0 style-font">Managers, developers, analysts, and engineers.</p>
                </div>
                <div class="d-flex flex-column boxContent">
                    <h3 class="subtitle18px colorTwo font-bold">Tech professionals</h3>
                    <p class="mb-0 style-font">.NET developers, DB admins, analysts, and engineers..</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="aboutSNine">
    <div class="aboutSNine-container px-120">
        <div class="d-flex flex-column divTitles">
            <span class="font-medium text-center subtitle24px color-linearGradient">Our Team</span>
            <h1 class="text-center font-bold subtitle48px" data-aos="fade-down">company <span
                    class="color-linearGradient">makes for an <br> successful </span>Service in 40 Days?</h1>
        </div>
        <div class="d-flex fxCardsTeam fxGeneral-cards">
            <div *ngFor="let card of teamCards" class="cardTeam fxCard" (mouseenter)="onMouseEnter(card)"
                (mouseleave)="onMouseLeave(card)">

                <div class="divOne" [class.hidden]="card.isHovered"
                    [style.background]="'linear-gradient(180deg, rgba(0, 0, 0, 0.00) 24.46%, rgba(0, 0, 0, 0.50) 73.8%), url(' + card.imageUrl + ') lightgray 50% / cover no-repeat'">
                    <div class="d-flex flex-column divText">
                        <h3 class="font-semiBold subtitle16px colorWhite text-center">{{card.name}}</h3>
                        <p class="mb-0 colorWhite font-light text-center">{{card.role}}</p>
                    </div>
                </div>

                <div class="divTwo" [class.visible]="card.isHovered">
                    <div class="d-flex flex-column divText">
                        <h3 class="font-semiBold subtitle16px colorBlue2 text-center">{{card.name}}</h3>
                        <span class="mb-0 colorBlue2 font-light text-center">{{card.role}}</span>
                        <p class="mb-0 style-font colorBlack">{{card.description}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> -->
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24" data-aos="fade-down"
                    data-aos-easing="linear" data-aos-duration="1000"> Join CODE. Shape What’s Next.</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="zoom-in-up">Ready to Build the <span
                        class="color-linearGradient">Future
                    </span>and <span class="color-linearGradient">Grow </span>with Us?</h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button">
                    <span class="font-semiBold colorWhite subtitle20px">Contact us</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font">CODE ensuring a clear roadmap for your business to success.</p>
    </div>
</section>