<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle36px font-bold">SOC & NOC Environments </h1>
            <p class="font-medium mb-0 subtitle18px colorBlack">AI Solutions > <span class="color-linearGradient">NOC &
                    SOC </span></p>
        </div>
        <img src="assets/images/CodeServices/Passive & Civil Work/NOC & SOC/NOC & SOC-min.jpg" alt="service image"
            data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-center">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">Designed for Performance. Built for
                    Impact.</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-dow    n" data-aos-easing="linear"
                    data-aos-duration="500">
                    Total <span class="color-linearGradient">Visibility.</span><br>
                    Immediate <span class="color-linearGradient">Response.</span> <br>
                    Unmatched <span class="color-linearGradient">Resilience.</span> <br>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">ODE’s Network Operations Center (NOC) and Security
                    Operations Center (SOC) solutions are purpose-built environments for
                    real-time monitoring, risk management, and infrastructure control.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class=" colorOne subtitle18px style-font mb16">Whether you're detecting cybersecurity threats,
                    ensuring IT performance, or maintaining network health, these centers
                    provide the situational awareness needed for swift and accurate action.</p>
                <p class="colorOne subtitle18px style-font mb-0">Tailored for Saudi Arabia’s critical infrastructure and
                    high-priority services, each deployment is customized to deliver
                    unified visibility, operational resilience, and actionable intelligence — 24/7.</p>

            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">
                    <span class="color-linearGradient"> Monitor</span> Smarter. <span
                        class="color-linearGradient">Respond </span> Faster.
                </h4>
                <p class="font-bold subtitle18px colorBlack">Centralized Monitoring Environments</p>
                <p class="style-font subtitle16px colorBlack">Gain unified visibility across IT, cybersecurity, and
                    operational domains with ergonomic workstations, interactive
                    dashboards, and secure control zones.</p>
                <p class="font-bold subtitle18px colorBlack">Multi-Layered Threat Detection</p>
                <p class="style-font subtitle16px colorBlack">Detect and respond to physical and cyber threats using
                    AI-powered analytics, automated alerts, and structured escalation
                    protocols.</p>
                <p class="font-bold subtitle18px colorBlack">Integrated Performance Oversight</p>
                <p class="style-font subtitle16px colorBlack">Track uptime, server health, bandwidth utilization, and
                    application performance through real-time metrics and
                    intelligent alerting.</p>
                <p class="font-bold subtitle18px colorBlack">Continuity Built-In</p>
                <p class="style-font subtitle16px colorBlack">Ensure operational resilience with UPS-backed
                    infrastructure, environmental control systems, and secure access protocols
                    — designed for high availability during peak demand or crisis.</p>

            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <div class="boxBootom"></div>
                <img src="assets/images/CodeServices/Passive & Civil Work/NOC & SOC/NOC & SOC1-min.png" alt="image AI">
            </div>
        </div>

    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Built for <span class="color-linearGradient ">Vision 2030 </span>Infrastructure Goals</h1>
            <div class="d-flex align-items-center flex-column gap-3">
                <p class="mb16 colorWhite  style-font text-center subtitle20px p-head">CODE’s SOC and NOC solutions help
                    Saudi institutions uphold operational integrity, strengthen digital resilience, and
                    ensure secure, reliable service delivery.
                </p>
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">From government ministries and
                    smart cities to enterprise networks, these centers play a key role in
                    building secure,
                    efficient, and future-ready infrastructure.</p>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle40px font-bold mb-0" data-aos="fade-down">Real-Time<span
                        class="color-linearGradient">Control </span> for<br> <span
                        class="color-linearGradient">Always-On Operations</span></h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">From threat detection to network health, manage what matters
            with complete visibility and speed. </p>
    </div>
</section>