<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle48px font-bold">Robotic Process Automation</h1>
            <div class="d-flex fxWrapMb">
                <p class="font-medium  subtitle18px colorBlack d-flex gap-2">
                    <span>Automation Security</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </p>
                <span class="mb-0 color-linearGradient font-medium  subtitle18px">Robotic Process Automation</span>
            </div>
        </div>
        <img src="assets/images/CodeServices/Automation & Security/Robotic Process Automation/Robotic Process Automation-min.png"
            alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">Powering Productivity with
                    Protection</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">Automate with <span class="color-linearGradient">Precision. <br> Empower
                    </span> Your Team <br> to <span class="color-linearGradient">Do More.</span>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">Repetitive, rule-based tasks slow your teams down and
                    drain time that could be spent on innovation.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb-0 colorOne subtitle18px style-font">CODE’s Robotic Process Automation (RPA) services —
                    developed in collaboration with global leaders — eliminate
                    inefficiencies by deploying intelligent bots to handle routine processes quickly, accurately, and
                    around the clock. <br> <br>
                    From data entry and report generation to system integration and compliance tasks, RPA frees up your
                    human resources for
                    high-value work that drives growth. Designed for organizations in Saudi Arabia, our solutions align
                    with Vision 2030 by
                    delivering secure, scalable, and easily integrated automation across departments.</p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <span class="color-linearGradient subtitle20px font-medium spanHead">Case Study: Logistics & Supply
                    Chain Data Entry</span>
                <h4 class="colorThree subtitle36px font-bold mb24">
                    Real-World
                    <span class="color-linearGradient ">Impact </span>
                </h4>
                <p class="style-font subtitle16px colorBlack">A global logistics company automated its manual data entry
                    processes — reducing errors by 95% and cutting processing
                    time in half.
                    The result? Substantial cost savings, improved employee satisfaction, and readiness to scale — all
                    without replacing existing systems.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Automation & Security/Robotic Process Automation/Robotic Process Automation in Finance_ Streamlining Operations with FinTech.jpeg"
                    alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Built for <span class="color-linearGradient ">Saudi </span>Organizations</h1>
            <div class="d-flex align-items-center flex-column fxTextsStyle">
                <p class=" colorWhite  style-font text-center subtitle20px p-head">CODE’s RPA solutions are
                    purpose-built to drive measurable impact across public and private sectors in the Kingdom. We
                    enable digital transformation aligned with Vision 2030 and a strong focus on:</p>
                <div class="d-flex justify-content-center fxUl">
                    <ul>
                        <li class="colorWhite  style-font  subtitle20px">Operational Efficiency</li>
                        <li class="colorWhite  style-font  subtitle20px">Workforce Optimization</li>
                    </ul>
                    <ul>
                        <li class="colorWhite  style-font  subtitle20px">Process Standardization</li>
                        <li class="colorWhite  style-font  subtitle20px">Scalable Automation</li>
                    </ul>
                </div>
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">Whether you’re streamlining
                    logistics, enhancing citizen services, managing finances, or automating back-office
                    workflows — we help eliminate repetitive work and unlock your team’s full potential.</p>
            </div>
        </div>
    </div>
</section>
<section class="servicesS5">
    <div class="servicesS5-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Streamline the Mundane.
                Empower the Essential.</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down"> What <span
                    class="color-linearGradient">Robotic Process Automation</span> Delivers
            </h1>
        </div>
        <div class="fxServicesS5 fxGeneral-cards fxServicesS5New">
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/AI solutions/AI Computer Vision/Precisely-tailored.svg"
                    alt=" Precisely tailored to your environment">
                <h3 class="font-semiBold subtitle20px text-center ">Smart Task Automation</h3>
                <p class="text-center  subtitle18px style-font mb-0">Automate repetitive, time-consuming tasks like form
                    filling, data extraction, invoice matching, and system updates —
                    freeing up your team for strategic work.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/AI solutions/AI Computer Vision/Trained-for.svg"
                    alt="Trained for high accuracy">
                <h3 class="font-semiBold subtitle20px text-center ">High Accuracy & Speed</h3>
                <p class="text-center  subtitle18px style-font mb-0">Eliminate manual errors and accelerate workflows
                    with 24/7 bots operating at consistent speed and precision.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/AI solutions/AI Computer Vision/FastToDeploy.svg"
                    alt="Fast to deploy, easy to scale">
                <h3 class="font-semiBold subtitle20px text-center ">Secure & Compliant</h3>
                <p class="text-center  subtitle18px style-font mb-0">Ensure data protection and process compliance with
                    role-based access controls, audit logs, and adherence to local and
                    international standards.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/AI solutions/AI Computer Vision/Precisely-tailored.svg"
                    alt=" Precisely tailored to your environment">
                <h3 class="font-semiBold subtitle20px text-center ">Real-Time Monitoring & Optimization</h3>
                <p class="text-center  subtitle18px style-font mb-0">Track bot performance, spot issues instantly, and
                    fine-tune workflows using built-in dashboards and reporting tools.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/AI solutions/AI Computer Vision/Trained-for.svg"
                    alt="Trained for high accuracy">
                <h3 class="font-semiBold subtitle20px text-center ">Scalable Deployment</h3>
                <p class="text-center  subtitle18px style-font mb-0">Start small and scale fast — across finance, HR,
                    logistics, and customer service — with centralized management and rapid
                    onboarding.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/AI solutions/AI Computer Vision/FastToDeploy.svg"
                    alt="Fast to deploy, easy to scale">
                <h3 class="font-semiBold subtitle20px text-center ">Seamless Integration</h3>
                <p class="text-center  subtitle18px style-font mb-0">Connect with legacy systems, ERPs, and modern cloud
                    platforms — no need to disrupt existing infrastructure.</p>
            </div>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle40px font-bold mb-0" data-aos="fade-down"> Let’s <span
                        class="color-linearGradient">Automate </span> What Slows You Down
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Ready to reduce costs, eliminate errors, and free up your team
            for what matters most? Let’s talk about how CODE can
            deliver an RPA solution that meets your goals — today and tomorrow.</p>
    </div>
</section>