<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle36px font-bold">Smart Meeting Rooms </h1>
            <div class="d-flex fxWrapMb">
                <div class="font-medium  subtitle18px colorBlack d-flex gap-2">
                    <a routerLink="/ourServices/Passive&CivilWork"
                        class="font-medium mb-0 subtitle20px colorBlack">Passive & Civil
                        Work</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <span class="mb-0 color-linearGradient font-medium  subtitle18px">Smart Meeting Rooms</span>
            </div>
        </div>
        <img src="assets/images/CodeServices/Passive & Civil Work/Smart Meeting Rooms/Smart Meeting Rooms.jpg"
            alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">Where <span class="color-linearGradient">Collaboration</span><br>
                    Meets <span class="color-linearGradient">Intelligence</span></h1>
                <p class="subtitle18px mb-0 style-font colorTwo">CODE’s Smart Meeting Rooms elevate everyday meetings
                    into dynamic, high-performance collaboration spaces.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class=" colorOne subtitle18px style-font mb16">Whether hosting strategic workshops, executive board
                    sessions, or multi-location video calls, these rooms integrate
                    intelligent controls, seamless connectivity and user-centric design all optimized for productivity,
                    comfort and
                    confidentiality.</p>
                <p class="colorOne subtitle18px style-font mb-0">From government entities and corporate headquarters to
                    academic institutions and innovation hubs, each room is tailored
                    to meet the operational needs and expectations of modern leadership in Saudi Arabia.</p>

            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">
                    Purpose-Built for <span class="color-linearGradient">Better Decisions</span> </h4>
                <p class="font-bold subtitle18px colorBlack">Effortless Connectivity</p>
                <p class="style-font subtitle16px colorBlack">Plug-and-play access to content sharing, conferencing, and
                    screen mirroring without delays or technical complexity.
                </p>
                <p class="font-bold subtitle18px colorBlack">Smart AV & Environmental Controls</p>
                <p class="style-font subtitle16px colorBlack">Automated control of lighting, audio, temperature and
                    blinds via central panels or voice command for a comfortable,
                    distraction-free experience.</p>
                <p class="font-bold subtitle18px colorBlack">Seamless Hybrid Collaboration</p>
                <p class="style-font subtitle16px colorBlack">Integrated high-quality video and audio systems for hybrid
                    meetings, remote participation, and global communication.</p>
                <p class="font-bold subtitle18px colorBlack">Privacy & Security by Design</p>
                <p class="style-font subtitle16px colorBlack">Built-in acoustic insulation, controlled access and
                    encrypted AV infrastructure to safeguard sensitive discussions and
                    data.</p>
                <p class="font-bold subtitle18px colorBlack">Modular and Scalable by Nature</p>
                <p class="style-font subtitle16px colorBlack">Whether a compact huddle space or a large executive
                    chamber, each room can be tailored in layout, equipment and user
                    experience to fit your unique needs.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <img src="assets/images/CodeServices/Passive & Civil Work/Smart Meeting Rooms/Smart Meeting Rooms1.jpg"
                    alt="image AI">
            </div>
        </div>

    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Aligned with <span class="color-linearGradient ">Vision 2030 </span>Collaboration Goals</h1>
            <div class="d-flex align-items-center flex-column gap-3">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">As Saudi Arabia advances digital
                    governance and embraces knowledge-based decision-making, CODE’s Smart Meeting Rooms
                    play a key role in this transformation enabling connected, efficient, and future-ready environments
                    for communication
                    and collaboration.</p>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">

                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">Let's<span
                        class="color-linearGradient">Upgrade </span><br>
                    How You <span class="color-linearGradient">Meet</span></h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Modern meetings need more than a screen and a table. Let’s
            create a space that brings your people and ideas together
            smarter.</p>
    </div>
</section>