<section class="servicesS1">
    <div class="servicesS1-container px-120">
        <div class="back-servicesS1"
            style="background-image:url('assets/images/CodeServices/Digital Healthcare/Digital-Healthcare.jpg');">
            <div class="servicesS1-texts">
                <h1 class="subtitle40px colorThree font-bold">
                    {{ 'digitalHealthcare.title' | translate }}
                </h1>
                <p class="mb-0 colorThree subtitle16px font-medium">
                    {{ 'digitalHealthcare.description' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<app-services-s4></app-services-s4>

<section class="servicesS3">
    <div class="servicesS3-container px-120">
        <div class="ourServiceFlow-titles">
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">
                {{ 'digitalHealthcare.whatWeOffer' | translate }}
            </h1>
        </div>
        <div class="d-flex fx-servicesS3 fxGeneral-cards">
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                *ngFor="let card of serviceCards" (mouseenter)="onMouseEnter(card)" (mouseleave)="onMouseLeave(card)">
                <div class="divOne" [style.backgroundImage]="'url('+ card.imageUrl +')'"
                    [class.hidden]="card.isHovered">
                    <h3 class="font-bold subtitle24px colorWhite">{{ card.nameKey | translate }}</h3>
                    <div class="divArrow">
                        <a class="btn-hover" [routerLink]="card.link" routerLinkActive="active">
                            <img src="assets/images/arrow-linear.svg" alt="arrow-linear">
                        </a>
                    </div>
                </div>
                <div class="divTwo" [class.visible]="card.isHovered">
                    <p class="mb-0 font-medium colorWhite subtitle20px">{{ card.descKey | translate }}</p>
                    <div class="d-flex fxDescription align-items-center justify-content-between">
                        <h3 class="font-bold subtitle24px colorWhite">{{ card.nameKey | translate }}</h3>
                        <div class="divArrow">
                            <a class="btn-hover" [routerLink]="card.link" routerLinkActive="active">
                                <img src="assets/images/arrow-linear.svg" alt="arrow-linear">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                {{ 'digitalHealthcare.builtForTitle' | translate }}
            </h1>
            <div class="d-flex flex-column align-items-center fxTextsStyle">
                <p class="colorWhite style-font text-center subtitle20px p-head text-center">
                    {{ 'digitalHealthcare.builtForDesc' | translate }}
                </p>
                <div class="d-flex justify-content-center fxUl">
                    <ul>
                        <li class="colorWhite style-font text-center subtitle20px p-head">{{
                            'digitalHealthcare.benefit1' | translate }}</li>
                        <li class="colorWhite style-font text-center subtitle20px p-head">{{
                            'digitalHealthcare.benefit2' | translate }}</li>
                    </ul>
                    <ul>
                        <li class="colorWhite style-font text-center subtitle20px p-head">{{
                            'digitalHealthcare.benefit3' | translate }}</li>
                        <li class="colorWhite style-font text-center subtitle20px p-head">{{
                            'digitalHealthcare.benefit4' | translate }}</li>
                    </ul>
                </div>
                <p class="mb-0 colorWhite style-font text-center subtitle20px p-head text-center">
                    {{ 'digitalHealthcare.benefit5' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<app-our-service-flow></app-our-service-flow>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="{{ 'digitalHealthcare.contactAlt' | translate }}"
        class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <h1 class="subtitle40px font-bold mb-0" data-aos="fade-down">
                    {{ 'digitalHealthcare.contactTitle' | translate }}
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">
                        {{ 'digitalHealthcare.contactBtn' | translate }}
                    </span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">
            {{ 'digitalHealthcare.contactDesc' | translate }}
        </p>
    </div>
</section>