<section class="sectionOne">
    <div class="sectionOne-container px-120">
        <h1 class="font-bold text-center">
            <span [innerHTML]="typedText"></span>
        </h1>
        <!-- <p class=" font-medium p-head text-center">Inspire your
            vision</p> -->
        <div class="d-flex fx-sectionOne">
            <div class="d-flex justify-content-between align-items-end part1-sectionOne">
                <img src="assets/images/img-sectionOne.png" alt="img section One" class="img-sectionOne">
                <div class="texts-side">
                    <div class="d-flex fxHead-texts align-items-center">
                        <span class="font-bold colorThree">AI With Purpose</span>
                        <div class="border"></div>
                    </div>
                    <p class="style-font subtitle20px colorBlack text-justify">CODE designs intelligent platforms that
                        solve real
                        problems, serve national priorities, and deliver performance that
                        lasts.</p>
                    <!-- <div class="d-flex fxLast-texts">
                        <img src="assets/images/arrow-linear.svg" alt="arrow linear"
                            class="arrow-linear">
                        <p class="mb-0 style-font subtitle20px colorBlack">is constantly rising and the need to
                            be the best is greater
                            than ever
                            before.</p>
                    </div> -->
                </div>
                <div class="button-side">
                    <button class="btn-linearGradient" type="button" (click)="router.navigate(['ourServices'])">
                        <span class="font-semiBold colorWhite subtitle20px">Explore AI Solutions</span>
                        <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                    </button>
                </div>
            </div>
            <div class="d-flex part2-sectionOne">
                <div class="d-flex flex-column fxBox-num">
                    <div class="d-flex fx-number">
                        <h2 class="font-semiBold subtitle48px">16</h2>
                        <img src="assets/images/plusLinear.svg" alt="plusLinear icon" class="">
                    </div>
                    <p class="font-light mb-0 subtitle16px colorBlack">years of experience</p>
                </div>
                <div class="d-flex flex-column fxBox-num">
                    <div class="d-flex fx-number">
                        <h2 class="font-semiBold subtitle48px">53</h2>
                        <img src="assets/images/plusLinear.svg" alt="plusLinear icon" class="">
                    </div>
                    <p class="font-light mb-0 subtitle16px colorBlack">Projects done</p>
                </div>
                <div class="d-flex flex-column fxBox-num">
                    <div class="d-flex fx-number">
                        <h2 class="font-semiBold subtitle48px">97</h2>
                        <img src="assets/images/plusLinear.svg" alt="plusLinear icon" class="">
                    </div>
                    <p class="font-light mb-0 subtitle16px colorBlack">Happy clients</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionTwo">
    <div class="sectionTwo-container px-120">
        <div class="d-flex fx-sectionTwo">
            <div class="part1-sectionTwo">
                <h4 class="font-medium color-linearGradient subtitle24px">Intelligence That Performs</h4>
                <h1 class="font-bold mb-0 subtitle48px" data-aos="fade-down">For Leaders Ready to <span
                        class="color-linearGradient">Build What’s Next</span></h1>
            </div>
            <p class="style-font mb-0 subtitle24px">CODE delivers <b> real-time visibility, smarter automation, and
                    data-driven control </b>— all built for scale, speed, and
                security. From <span class="color-linearGradient">Digital Twins</span> to <span
                    class="color-linearGradient">Computer Vision</span> , our AI
                platforms help you solve complex challenges,
                improve operations,
                and unlock measurable impact across your environment.</p>
        </div>
        <div class="fx-sectionTwoImgs d-flex align-items-center">
            <img src="assets/images/sectionTwo-img1.png" alt="Who we are img" class="sectionTwo-img1"
                data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
            <img src="assets/images/sectionTwo-img2.png" alt="Who we are img" class="sectionTwo-img2"
                data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
            <div class="d-flex justify-content-center  fx-columnImages">
                <img src="assets/images/sectionTwo-img3.png" alt="Who we are img" class="sectionTwo-img3"
                    data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
                <img src="assets/images/sectionTwo-img4.png" alt="Who we are img" class="sectionTwo-img4"
                    data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
            </div>
        </div>
    </div>
</section>
<section class="sectionThree">
    <div class="sectionThree-container px-120">
        <div class="d-flex flex-column gap24 sectionThree-titles">
            <span class="font-medium text-center subtitle24px color-linearGradient">Our Flagship Services</span>
            <h1 class="text-center font-bold subtitle48px" data-aos="fade-down">Real-Time AI for <span
                    class="color-linearGradient">Smarter, Safer,</span> <br> and <span
                    class="color-linearGradient">Scalable Infrastructure</span></h1>
            <p class=" text-center subtitle20px style-font">Our flagship services give you <b> live operational
                    visibility,
                    intelligent automation, and faster decision-making. </b></p>
            <p class="mb-0 text-center subtitle20px style-font">Designed for mission-critical environments, they help
                you run smarter, respond faster, and scale with confidence.</p>
        </div>
        <div class="d-flex fx-sectionThree">
            <div *ngFor="let box of boxes; let i = index" class="d-flex sectionThree-box"
                [ngClass]="{'active': box.isActive}" (click)="onBoxClick(box)">
                <div class="d-flex align-items-center sectionThree-part1">
                    <p class="font-medium mb-0">{{ i + 1 }}</p>
                    <p class="font-medium mb-0 rotate-p">{{box.title}}</p>
                </div>
                <div class="sectionThree-part2" *ngIf="box.showPart2" [ngClass]="{'animate-part2': box.isAnimating}">
                    <h2 class="font-medium subtitle32px colorWhite">{{box.title}}</h2>
                    <h1 class="font-bold subtitle48px" data-aos="fade-down"> {{box.subTitle}} </h1>
                    <p class="style-font subtitle24px">{{box.content}}</p>
                    <button routerLink="" routerLinkActive="" type="button"
                        class="font-medium d-flex align-items-center justify-content-center">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionVideos">
    <div class="sectionVideos-container ">
        <div class="divTitles">
            <span class="font-medium text-center subtitle24px color-linearGradient d-block span-head">Our Trend solution
                with AI Power</span>
            <h1 class="text-center font-bold subtitle48px h1-head">How Our <span class="color-linearGradient">AI Digital
                    Twin</span> Brings <span class="color-linearGradient">Environment to Life</span></h1>
            <p class="mb-0 text-center subtitle20px style-font">Discover how CODE’s AI Digital Twin delivers real-time
                visibility, predictive analytics, and intelligent automation —
                turning complex operations into smart, responsive systems.</p>
        </div>
        <div class="divVideo  px-120">
            <img src="assets/images/AL-POWER.svg" alt="AL POWER Word" class="AL-POWER">
            <div class="fx-Videos">
                <div class="divMainVideo" *ngIf="mainVideo">
                    <div class="mainVideo-text">
                        <h3 class="subtitle36px font-bold color-two">{{ mainVideo.title }}</h3>
                        <p class="subtitle16px style-font color-two mb-0">{{ mainVideo.subTitle }}</p>
                    </div>

                    <video #videoPlayer class="mainVideo" [attr.src]="mainVideo.src" controls muted
                        crossorigin="anonymous">
                        Your browser does not support the video tag. </video>
                    <!-- <video #videoPlayer class="mainVideo" controls muted crossorigin="anonymous">
                        <source [attr.src]="mainVideo.src" [attr.type]="mainVideo.type">
                        Your browser does not support the video tag.
                    </video> -->

                </div>
                <!-- Thumbnails -->
                <div class="d-flex video-thumbnails fxGeneral-cards">
                    <div class="thumbnail" *ngFor="let video of plyrList" (click)="changeVideo(video)">
                        <img src="assets/images/play-button.svg" alt="play-button" class="play-button">
                        <img [src]="video.img" alt="{{ video.title }}" class="imgVideo">
                        <div class="thumbnail-text">
                            <h3 class="subtitle16px font-bold colorWhite">{{ video.title }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="sectionFive">
    <div class="sectionFive-container">
        <h1 class="text-center font-bold subtitle48px">Our
            integration <span class="color-linearGradient">Partners</span></h1>
        <ngx-slick-carousel class="sliderLogos sliderLogos1 m-sliderLogos" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let logo of logos" class="slide">
                <img [src]="logo" alt="logo" />
            </div>
        </ngx-slick-carousel>

        <ngx-slick-carousel class="sliderLogos sliderLogos2" [config]="slideConfiglogos2">
            <div ngxSlickItem *ngFor="let logo of logos2" class="slide">
                <img [src]="logo" alt="logo" />
            </div>
        </ngx-slick-carousel>

    </div>
</section>
<!-- <app-people-saying></app-people-saying> -->
<section class="sectionFour">
    <div class="sectionFour-container px-120">
        <div class="d-flex fx-sectionFour">
            <div class="sectionFour-part1">
                <img [src]="slidesBlogs[0].img" #imgActive alt="Active Slide Image" class="slideActive imgActive"
                    id="imgActive">
            </div>
            <div class="sectionFour-part2">
                <span class="color-linearGradient font-medium subtitle24px">Explore our AI blog</span>
                <h1 class="font-bold subtitle48px" #slideTitle id="slideTitle">
                    {{ slidesBlogs[0].title }}
                </h1>
                <ngx-slick-carousel #slickModalBlogs="slick-carousel" class="sliderBlogs" [config]="slideBlog"
                    (beforeChange)="onBeforeChange($event)">
                    <div ngxSlickItem *ngFor="let slide of slidesBlogs">
                        <div class="slide">
                            <img [src]="slide.img" alt="Blog image" class="slideImage" />
                        </div>
                    </div>
                </ngx-slick-carousel>

                <div class="d-flex fxTexts align-items-start mt-3">
                    <div class="fxTexts-part1">
                        <p class="style-font mb-0" #slideText id="slideText" (click)="onReadMoreClick($event)">
                            {{ slidesBlogs[0].shortText }}
                            <b class="color-linearGradient readMoreBtn" style="cursor:pointer;">Read more</b>
                        </p>
                    </div>
                    <div class="arrows-blogs d-flex align-items-center ms-3">
                        <img src="assets/images/rightBlog.svg" alt="Next Slide" class="rightBlog transition3s ms-2"
                            style="cursor:pointer;" (click)="prevSlideBlog()">
                        <img src="assets/images/leftBlog.svg" alt="Previous Slide" class="leftBlog transition3s"
                            style="cursor:pointer;" (click)="nextSlideBlog()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionSeven">
    <div class="sectionSeven-container px-120">
        <div class="d-flex fx-sectionSeven">
            <div class="sectionSeven-part1">
                <span class="font-medium color-linearGradient subtitle24px d-block">You ask. We answer</span>
                <h1 class="subtitle48px font-bold" data-aos=" fade-down">Frequently Asked Questions</h1>
            </div>
            <div class="d-flex flex-column gap24 sectionSeven-part2">
                <div *ngFor="let faq of faqs; let i = index" class="faqBox" [class.active]="activeIndex === i">
                    <div class="d-flex justify-content-between faqBox-head transition3s" (click)="toggleFaq(i)">
                        <h4 class="subtitle20px font-semiBold">{{ faq.question }}</h4>
                        <img [src]="activeIndex === i ? 'assets/images/minus-circle.svg' : 'assets/images/plus-circle.svg'"
                            alt="icon" class="faq-icon"
                            [style.transform]="activeIndex === i ? 'rotate(180deg)' : 'rotate(0deg)'" />
                    </div>
                    <div class="boxText" *ngIf="activeIndex === i">
                        <p class="style-font mb-0">{{ faq.answer }}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- @slideFade -->