.boxImage img{
    width: 60%;
    aspect-ratio: 5 / 2;
    object-fit: contain;
}
@media (max-width: 768px) {
    .boxImage img{
        width: 100%;
    }
   .flex.gap-4 {
        flex-direction: column;
    }
}