<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle48px font-bold">AI Digital Twin</h1>
            <p class="font-medium mb-0 subtitle20px colorBlack">AI Solutions > <span class="color-linearGradient">AI
                    Digital Twin Solutions</span></p>
        </div>
        <img src="assets/images/CodeServices/AI solutions/AI Digital Twin/AI Digital Twin-min.png" alt="service image"
            data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">AI Solutions for Real-World
                    Impact</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500"><span class="color-linearGradient">Transforming</span> Buildings your <br>
                    and Infrastructure into <br>
                    <span class="color-linearGradient ">Smart, Responsive Systems</span>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">CODE’s AI-powered Digital Twin technology creates a
                    living, dynamic digital replica of your physical assets — whether
                    buildings, campuses, or entire city infrastructure.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb-0 colorOne subtitle18px style-font">Unlike static 3D models, a Digital Twin is connected
                    to real-time data — enabling you to continuously monitor, analyze,
                    and optimize operations. <br> <br>
                    It helps you understand what’s happening inside your facilities right now, anticipate issues before
                    they occur, and plan
                    smarter for the future. <br> <br>
                    It helps you understand what’s happening inside your facilities right now, anticipate issues before
                    they occur, and plan
                    smarter for the future.

                    Whether you're managing energy, safety, space utilization, or system performance, the Digital Twin
                    brings all your
                    insights into one place — live, visual, and easily accessible.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="sectionVideos">
    <div class="sectionVideos-container ">
        <div class="divTitles">
            <span class="font-medium text-center subtitle20px color-linearGradient d-block span-head">See It in
                Action</span>
            <h1 class="text-center font-bold subtitle40px h1-head">Developing and Operating a <span
                    class="color-linearGradient">Live Digital Replica </span> of Your Building</h1>
        </div>
        <div class="divVideo  px-120">
            <div class="fx-Videos">
                <div class="divMainVideo" *ngIf="mainVideo">
                    <video #videoPlayer class="mainVideo" [attr.src]="mainVideo.src" controls muted
                        crossorigin="anonymous">
                        Your browser does not support the video tag. </video>
                    <div class="mainVideo-text">
                        <h3 class="subtitle32px font-bold color-two">{{ mainVideo.title }}</h3>
                        <p class="subtitle20px style-font color-two mb-0">{{ mainVideo.subTitle }}</p>
                    </div>
                </div>
                <!-- Thumbnails -->
                <div class="d-flex video-thumbnails fxGeneral-cards">
                    <div class="thumbnail" *ngFor="let video of plyrList" (click)="changeVideo(video)">
                        <img src="assets/images/play-button.svg" alt="play-button" class="play-button">
                        <img [src]="video.img" alt="{{ video.title }}" class="imgVideo">
                        <div class="thumbnail-text">
                            <h3 class="subtitle16px font-bold colorWhite">{{ video.title }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <!-- <div class="serviceDetailsS3-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">What we
                offer</span>
            <h1 class="font-bold subtitle40px colorOne mb24 aos-init text-center" data-aos="fade-down"><span
                    class="color-linearGradient">Cloud
                    Integration </span>services</h1>
            <p class="style-font text-center colorTwo subtitle24px p-head mb-0">Our team ensures ensuring
                scalability, efficiency, and long-term success</p>
        </div> -->
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">
                    <span class="color-linearGradient ">Smarter </span> Operations. <span
                        class="color-linearGradient ">Fewer</span> Disruptions.
                </h4>
                <p class="font-bold subtitle18px colorBlack">Know what’s happening in real time</p>
                <p class="style-font subtitle16px colorBlack">Track temperature, air quality, equipment status, and more
                    — all from a single interface.</p>
                <p class="font-bold subtitle18px colorBlack">Prevent problems before they happen</p>
                <p class="style-font subtitle16px colorBlack">Predict maintenance issues, detect inefficiencies, and
                    avoid unexpected downtime.</p>
                <p class="font-bold subtitle18px colorBlack">Make better decisions, faster</p>
                <p class="style-font subtitle16px colorBlack">Use accurate data to support budgeting, asset planning,
                    and emergency response.</p>
                <p class="font-bold subtitle18px colorBlack">Connect what you already have</p>
                <p class="style-font subtitle16px colorBlack">CODE’s solution integrates with BIM, GIS, and IoT
                    technologies — bringing together 3D building models, spatial data, and
                    live sensor inputs into one real-time platform.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <div class="boxBootom"></div>
                <img src="assets/images/CodeServices/AI solutions/AI Digital Twin/AI Digital Twin1-min.jpg"
                    alt="image AI">
            </div>
        </div>
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24"> Designed to <span class="color-linearGradient">Grow
                    </span> With You</h4>
                <p class="style-font subtitle16px colorBlack">Smarter decisions, safer buildings, and better long-term
                    planning — that’s what an AI Digital Twin makes possible.</p>
                <p class="font-bold subtitle18px colorBlack">Tailored to your business needs</p>
                <p class="style-font subtitle16px colorBlack">Every Digital Twin is configured to align with your
                    operational environment and specific requirements — regardless of
                    your sector or facility type.</p>
                <p class="font-bold subtitle18px colorBlack">Future-ready and scalable</p>
                <p class="style-font subtitle16px colorBlack">Easily expand across additional sites or departments as
                    your organization evolves.</p>
                <p class="font-bold subtitle18px colorBlack">Operational from day one</p>
                <p class="style-font subtitle16px colorBlack">We integrate seamlessly with your existing systems and
                    data sources — no need to rebuild or start from scratch.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <div class="boxBootom"></div>
                <img src="assets/images/CodeServices/AI solutions/AI Digital Twin/AI Digital Twin2-min.png"
                    alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Delivering Impact Where
                It Matters</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Built for <span class="color-linearGradient ">Vision 2030 </span>Goals</h1>
            <div class="d-flex fxTexts">
                <p class="mb-0 colorWhite  style-font text-justify subtitle20px p-head">CODE’s AI-powered Digital Twin
                    solutions are actively contributing to strategic projects across the Kingdom — enhancing
                    life safety, enabling environmental monitoring, and driving infrastructure development in alignment
                    with Vision 2030.</p>
                <p class="mb-0 colorWhite  style-font text-justify subtitle20px p-head">Whether you’re modernizing
                    schools, improving government facility efficiency, or managing large-scale real estate
                    assets, we equip you with intelligent tools and data-driven insights to build environments that are
                    smarter, safer, and
                    more sustainable.</p>
            </div>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/Subtract.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">Let's Build Your <br>
                    <span class="color-linearGradient">Smart Digital Mirror</span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Let’s build a smarter IT future together.</p>
    </div>
</section>