<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle48px font-bold">IT Service Management</h1>
            <div class="d-flex fxWrapMb">
                <div class="font-medium  subtitle18px colorBlack d-flex gap-2">
                    <a routerLink="/ourServices/Data&CloudEngineering"
                        class="font-medium mb-0 subtitle20px colorBlack">Data & Cloud
                        Engineering</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <span class="mb-0 color-linearGradient font-medium  subtitle18px">IT Service Management</span>
            </div>
        </div>
        <img src="assets/images/CodeServices/Data & Cloud Engineering/ITSM/ITSM-min.png" alt="service image"
            data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">
                    <span class="color-linearGradient">Smarter,</span> Standardized <br><span
                        class="color-linearGradient">IT Operations </span>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">CODE’s IT Service Management (ITSM) solutions help
                    organizations standardize service delivery, automate key workflows,
                    and gain full visibility into their IT and business operations.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb-0 colorOne subtitle18px style-font">Whether you're managing a government helpdesk,
                    overseeing enterprise infrastructure, or coordinating multi-department
                    support, our ITSM offering combines AI-powered automation, unified endpoint control, and real-time
                    infrastructure
                    monitoring all aligned with ISO and ITIL best practices.</p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24"> What It
                    <span class="color-linearGradient ">Delivers </span>
                </h4>
                <p class="font-bold subtitle18px colorBlack">Enterprise Service Management (ESM)</p>
                <p class="style-font subtitle16px colorBlack">Extend service management beyond IT. Enable HR,
                    facilities, and business units to deliver consistent, trackable
                    services through a unified platform.</p>
                <p class="font-bold subtitle18px colorBlack">AI-Driven Automation</p>
                <p class="style-font subtitle16px colorBlack">Leverage smart triggers, chatbot assistants, and automated
                    workflows to resolve incidents faster and reduce manual
                    effort.</p>
                <p class="font-bold subtitle18px colorBlack">Visual Workflow Management</p>
                <p class="style-font subtitle16px colorBlack">Design, deploy, and adapt service processes with no-code
                    tools and visual designers — helping you stay agile and
                    compliant.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>

                <img src="assets/images/CodeServices/Data & Cloud Engineering/ITSM/ITSM3-min.png" alt="image AI">
            </div>
        </div>
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <p class="font-bold subtitle18px colorBlack">Endpoint Management & Patch Control</p>
                <p class="style-font subtitle16px colorBlack">Manage and secure endpoints and mobile devices with remote
                    control, OS deployment, and automated patching for Windows,
                    Mac, Linux, and 1,000+ third-party apps.</p>
                <p class="font-bold subtitle18px colorBlack">Identity & Access Management</p>
                <p class="style-font subtitle16px colorBlack">Centralize control over Active Directory, Azure, file
                    servers, & email access — with role based permissions, session
                    audits, & self-service options.</p>
                <p class="font-bold subtitle18px colorBlack">Privileged Access Governance</p>
                <p class="style-font subtitle16px colorBlack">Secure high-level credentials with session recording,
                    access approvals, and compliance-ready audit logs.</p>
                <p class="font-bold subtitle18px colorBlack">Real-Time IT Operations Monitoring</p>
                <p class="style-font subtitle16px colorBlack">Gain complete visibility into network, servers,
                    applications, and hybrid environments with alerts, dashboards, and REST
                    API integrations.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxBootom"></div>
                <img src="assets/images/CodeServices/Data & Cloud Engineering/ITSM/ITSM2-min.png" alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Built for <span class="color-linearGradient ">Vision 2030 </span> IT Prioritie</h1>
            <div class="d-flex align-items-center ">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">CODE’s ITSM offering enables
                    public institutions and enterprises in Saudi Arabia to deliver smarter, faster and more
                    accountable services across IT and business operations. Whether you’re targeting ISO compliance,
                    enhancing digital
                    services, or improving internal response times, we provide a scalable platform to get there.</p>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">

                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down"> Let’s Redefine How You <span
                        class="color-linearGradient">Deliver IT </span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Ready to modernize your IT service desk, consolidate tools, or
            enable cross-functional service management? Let’s explore
            how CODE can help implement an ITSM strategy built for growth and governance.</p>
    </div>
</section>