<header class="header px-120">
    <div class="d-flex align-items-center justify-content-between fx-header">
        <a class="logo-header" routerLink="/"><img src="assets/images/logo.svg" alt="logo image"></a>
        <div class="d-flex links-header  align-items-center">
            <a routerLink="/" routerLinkActive="color-linearGradient" [routerLinkActiveOptions]="{exact:true}"
                class="font-medium  linkStyle">{{ 'Navbar.Links.Home' | translate}}</a>
            <a routerLink="aboutUs" routerLinkActive="color-linearGradient" class="font-medium linkStyle"></a>
            <div class="btnServicesHeader" (mouseenter)="showCover()" (mouseleave)="hideCover()">
                <button type="button" class="link d-flex align-items-center bgNone" data-target="Industries-list">
                    <span class="font-medium linkStyle">{{ 'Navbar.Links.AboutUs.Title' | translate}}</span>
                    <img src="assets/images/arrowDown.svg" alt="arrowDown icon">
                </button>
                <div class="listAboutHeader">
                    <a routerLink="aboutUs" routerLinkActive="active" class="font-medium subtitle16px "
                        [routerLinkActiveOptions]="{ exact: true }">
                        {{ 'Navbar.Links.AboutUs.AboutCODE' | translate}} </a>
                    <a routerLink="/aboutUs/ourClients" routerLinkActive="active" class="font-medium subtitle16px ">{{
                        'Navbar.Links.AboutUs.OurClients' | translate}}</a>
                    <a routerLink="/aboutUs/ourPartners" routerLinkActive="active" class="font-medium subtitle16px">{{
                        'Navbar.Links.AboutUs.OurPartners' | translate}}</a>
                </div>
            </div>
            <!-- <div class="btnServicesHeader" (mouseenter)="showCover()" (mouseleave)="hideCover()">
                <button type="button" class="link d-flex align-items-center" routerLink="/ourServices"
                    routerLinkActive="dropDownActive">
                    <span class="font-medium linkStyle">{{ 'Navbar.Links.OurServices' | translate }}</span>
                    <img src="assets/images/arrowDown.svg" alt="arrowDown icon">
                </button>
                <div class="listServicesHeader" id="Industries-list">
                    <div class="d-flex fxListPart">
                        <div class="listPart">
                            <div class="backService backServiceActive" routerLink="/ourServices/AISolutions">
                                <span class="font-medium subtitle16px">{{ 'SERVICES.AISolutions.title' | translate
                                    }}</span>
                            </div>
                            <div class="d-flex flex-column fx-listServices">
                                <a class="font-medium" routerLink="/ourServices/AISolutions/AIDigitalTwin"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.AISolutions.items.digitalTwin' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/AISolutions/AiComputerVision"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.AISolutions.items.computerVision' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/AISolutions/AiVoicebotChatbot"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.AISolutions.items.voiceChatbots' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/AISolutions/AiInnovationHub"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.AISolutions.items.innovationHub' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/AISolutions/IndoorWayfinding"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.AISolutions.items.indoorWayfinding' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/AISolutions/smartCabins"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.AISolutions.items.smartCabins' | translate }}
                                </a>
                            </div>
                        </div>

                        <div class="listPart listPartCenter">
                            <div class="backService">
                                <span class="font-medium subtitle16px" routerLink="/ourServices/Data&CloudEngineering">
                                    {{ 'SERVICES.DataCloudEngineering.title' | translate }}
                                </span>
                            </div>
                            <div class="d-flex flex-column fx-listServices">
                                <a class="font-medium" routerLink="/ourServices/Data&CloudEngineering/dataEngineering"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.DataCloudEngineering.items.dataEngineering' | translate }}
                                </a>
                                <a class="font-medium"
                                    routerLink="/ourServices/Data&CloudEngineering/databaseConsolidation"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.DataCloudEngineering.items.databaseConsolidation' | translate }}
                                </a>
                                <a class="font-medium"
                                    routerLink="/ourServices/Data&CloudEngineering/disasterRecoverySolutions"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.DataCloudEngineering.items.disasterRecovery' | translate }}
                                </a>
                                <a class="font-medium"
                                    routerLink="/ourServices/Data&CloudEngineering/ItServiceManagement"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.DataCloudEngineering.items.ITSM' | translate }}
                                </a>
                            </div>
                        </div>

                        <div class="listPart">
                            <div class="backService" routerLink="/ourServices/DigitalHealthcare">
                                <span class="font-medium subtitle16px">{{ 'SERVICES.DigitalHealthcare.title' | translate
                                    }}</span>
                            </div>
                            <div class="d-flex flex-column fx-listServices">
                                <a class="font-medium"
                                    routerLink="/ourServices/DigitalHealthcare/Hospital-InformationSystems"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.DigitalHealthcare.items.HIS' | translate }}
                                </a>
                                <a class="font-medium"
                                    routerLink="/ourServices/DigitalHealthcare/Revenue-CycleManagement"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.DigitalHealthcare.items.RCM' | translate }}
                                </a>
                                <a class="font-medium"
                                    routerLink="/ourServices/DigitalHealthcare/Diagnosis-RelatedGroups"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.DigitalHealthcare.items.DRG' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/DigitalHealthcare/Tele-medicine"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.DigitalHealthcare.items.teleMedicine' | translate }}
                                </a>
                            </div>
                        </div>

                        <div class="listPart">
                            <div class="backService" routerLink="/ourServices/Passive&CivilWork">
                                <span class="font-medium subtitle16px">{{ 'SERVICES.PassiveCivil.title' | translate
                                    }}</span>
                            </div>
                            <div class="d-flex flex-column fx-listServices">
                                <a class="font-medium" routerLink="/ourServices/Passive&CivilWork/commandCenter"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.PassiveCivil.items.commandCenter' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/Passive&CivilWork/mediaCenter"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.PassiveCivil.items.mediaCenter' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/Passive&CivilWork/socNocenvironments"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.PassiveCivil.items.NOC_SOC' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/Passive&CivilWork/smartMeetingRooms"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.PassiveCivil.items.meetingRooms' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/Passive&CivilWork/businessResearch"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.PassiveCivil.items.businessResearch' | translate }}
                                </a>
                            </div>
                        </div>

                        <div class="listPart listPartCenter">
                            <div class="backService" routerLink="/ourServices/AutomationAndSecurity">
                                <span class="font-medium subtitle16px">{{ 'SERVICES.AutomationSecurity.title' |
                                    translate }}</span>
                            </div>
                            <div class="d-flex flex-column fx-listServices">
                                <a class="font-medium" routerLink="/ourServices/AutomationAndSecurity/digitalSignature"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.AutomationSecurity.items.digitalSignature' | translate }}
                                </a>
                                <a class="font-medium" routerLink="/ourServices/AutomationAndSecurity/roboticProcess"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.AutomationSecurity.items.RPA' | translate }}
                                </a>
                            </div>
                        </div>

                        <div class="listPart">
                            <div class="backService" routerLink="/ourServices/Software&Development">
                                <span class="font-medium subtitle16px">{{ 'SERVICES.SoftwareDevelopment.title' |
                                    translate }}</span>
                            </div>
                            <div class="d-flex flex-column fx-listServices">
                                <a class="font-medium"
                                    routerLink="/ourServices/Software&Development/webMobileAppDevelopment"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.SoftwareDevelopment.items.webMobile' | translate }}
                                </a>
                                <a class="font-medium"
                                    routerLink="/ourServices/Software&Development/sharePointSolutions"
                                    routerLinkActive="active">
                                    {{ 'SERVICES.SoftwareDevelopment.items.sharePoint' | translate }}
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->


            <div class="nav-item-wrapper">
                <button type="button" class="link d-flex align-items-center bgNone btnOurService"
                    routerLink="/ourServices" routerLinkActive="dropDownActive" (mouseenter)="showServicesMenu()"
                    (mouseleave)="hideServicesMenu()">
                    <span class="font-medium linkStyle">{{ 'Navbar.Links.OurServices' | translate }}</span>
                    <img src="assets/images/arrowDown.svg" alt="arrowDown icon">
                </button>
                @if (isServicesMenuOpen) {
                <div class="solutions-drop-down" (mouseenter)="showServicesMenu()" (mouseleave)="hideServicesMenu()">
                    <div class="d-flex fxDropDown">

                        <div class="solutionsBtns d-flex align-items-center justify-content-between flex-column h-100">
                            @for (service of mainServices; track service.id) {
                            <button class="btn-solutionsBtns" [class.active]="activeMainService.id === service.id"
                                (click)="selectMainService(service)">
                                <div class="d-flex align-items-center justify-content-between fxOne">
                                    <div class="d-flex fxTow">
                                        <img [src]="service.icon" [alt]="service.title | translate"
                                            class="serviceTitleImg">
                                        <div class="divText d-flex flex-column">
                                            <span class="colorNavyBlue subtitle16px font-semiBold">
                                                {{ service.title | translate }}
                                            </span>
                                            <p class="colorNavyBlue style-font subtitle14px mb-0">
                                                {{ service.subtitle | translate }}
                                            </p>
                                        </div>
                                    </div>
                                    <img src="assets/images/HeaderIcons/arrowGrey.svg" alt="arrowGrey"
                                        class="arrowGrey">
                                </div>
                            </button>
                            }
                        </div>

                        <div class="listServicesSolutions">
                            <div class="d-flex fx-listServices align-items-end justify-content-between">

                                <div class="textTitle d-flex flex-column">
                                    <h3 class="subtitle22px font-semiBold colorNavyBlue">
                                        {{ activeMainService.title | translate }}
                                    </h3>
                                    <p class="colorNavyBlue style-font subtitle16px">
                                        {{ activeMainService.subtitle | translate }}
                                    </p>
                                </div>

                                @if (activeMainService.hasSubCategories) {
                                <div class="dropdownSubServices">
                                    <button class="mainSubService d-flex align-items-center justify-content-between"
                                        (click)="toggleDropdown()">
                                        <span class="style-font subtitle14px colorOrange">
                                            {{ activeSubCategory?.name | translate }}
                                        </span>
                                        <img src="assets/images/HeaderIcons/arrowOrange.svg" alt="arrow">
                                    </button>

                                    @if (isDropdownOpen) {
                                    <div class="subServices">
                                        @for (sub of activeMainService.subCategories; track sub.name) {
                                        <a (click)="selectSubCategory(sub)"
                                            [class.active]="activeSubCategory?.name === sub.name"
                                            class="font-medium subtitle12px pointer">
                                            {{ sub.name | translate }}
                                        </a>
                                        }
                                    </div>
                                    }
                                </div>
                                }
                            </div>

                            <ngx-slick-carousel class="sliderServices" #slickModal="slick-carousel"
                                [config]="slideConfigService">
                                @for (card of currentCards; track card.name) {
                                <div ngxSlickItem class="slide">
                                    @if (card.logo) {
                                    <img [src]="card.logo" alt="logo" />
                                    }
                                    <div class="card-service">
                                        <div class="divImage">
                                            <img [src]="card.img" alt="Slider service" />
                                        </div>
                                        <div class="divText">
                                            <h4 class="font-semiBold subtitle16px colorNavyBlue">
                                                {{ card.name | translate }}
                                            </h4>
                                            <p class="colorNavyBlue style-font subtitle12px">
                                                {{ card.description | translate }}
                                            </p>
                                            <button class="d-flex bgNone align-items-center" [routerLink]="card.route"
                                                (click)="closeMenu()">
                                                <span class="font-semiBold subtitle12px color-linearGradient">
                                                    {{ 'ServicesMenu.KnowMore' | translate }}
                                                </span>
                                                <img src="assets/images/HeaderIcons/linear-arrow.svg" alt="Arrow">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                }
                            </ngx-slick-carousel>

                            <div class="d-flex align-items-center justify-content-between fxExplore">
                                <div class="d-flex arrowsSliderHeader">
                                    <button class="arrowLeft" (click)="prevSlide()">
                                        <img src="assets/images/HeaderIcons/arrowSlider-left.svg" alt="arrow Slider">
                                    </button>
                                    <button class="arrowRight active" (click)="nextSlide()">
                                        <img src="assets/images/HeaderIcons/arrowSlider-right.svg" alt="arrow Slider">
                                    </button>
                                </div>
                                <button [routerLink]="activeMainService.exploreLink" (click)="closeMenu()"
                                    class="colorWhite btn-linearGradient font-bold subtitle14px btnExplore">
                                    {{ activeMainService.exploreText | translate }}
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                }
            </div>

            <a routerLink="news" routerLinkActive="color-linearGradient" class="font-medium linkStyle">{{
                'Navbar.Links.Insights' | translate}}</a>
            <a routerLink="contactUs" routerLinkActive="color-linearGradient" class="font-medium linkStyle">{{
                'Navbar.Links.ContactUs' | translate}}</a>
        </div>
        <div class="btn-header d-flex">
            <button type="button" (click)="openJoinUsModal()" class="font-medium btn-linearGradient colorWhite"
                type="button">{{ 'Navbar.Links.JoinUs' | translate}}</button>
            <button type="button" class="font-medium btn-linearGradient colorWhite btnLang" type="button"
                (click)="switchLanguage('ar')" *ngIf="lang == 'en'">Ar</button>
            <button type="button" class="font-medium btn-linearGradient colorWhite btnLang" type="button"
                (click)="switchLanguage('en')" *ngIf="lang == 'ar'">En</button>
        </div>
    </div>
</header>
<div class="coverBack" [ngClass]="{ 'active': isCoverVisible }"></div>




<!-- <div class="listServicesHeader">
                        <div class="d-flex flex-wrap fxListPart">
                            <div class="listPart" *ngFor="let service of services; let i = index"
                                [class.listPartCenter]="(i+1) % 3 === 2">
                                <div class="backService" [routerLink]="['/ourServices', service.slug]">
                                    <img *ngIf="service.imageService" [src]="service.imageService" alt="{{service.title}}"
                                        class="service-img">
                                    <span class="font-medium subtitle16px">
                                        {{ service.title }}
                                    </span>
                                </div>
    
                                <div class="d-flex flex-column fx-listServices">
                                    <a *ngFor="let sub of service.subServices" class="font-medium"
                                        [routerLink]="['/ourServices', service.slug, sub.slug]" routerLinkActive="active">
                                        {{ sub.title }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->



<!-- <a routerLink="ourPartners" routerLinkActive="color-linearGradient" class="font-medium linkStyle">Our
                    partners</a> -->

<!-- <a routerLink="services" routerLinkActive="color-linearGradient" class="font-medium linkStyle">{{
                                        'Navbar.Links.ContactUs' | translate}}</a> -->
<!-- <a routerLink="/dashboard/home" class="font-medium linkStyle"
                                        *ngIf="(currentUser$ | async) as user">dashboard</a>
                                    <a routerLink="/auth/signIn" class="font-medium linkStyle" *ngIf="!(currentUser$ | async)">signIn</a> -->
<!-- <a routerLink="ourServices" routerLinkActive="color-linearGradient" class="font-medium linkStyle">Our
                                                                services</a> -->