<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle40px font-bold">Web & Mobile App Development</h1>
            <p class="font-medium mb-0 subtitle20px colorBlack">AI Solutions > <br><span
                    class="color-linearGradient">Web & Mobile App Development</span></p>
        </div>
        <img src="assets/images/CodeServices/Software & Development/Web & Mobile App Development/Web and Mobile Development-min.jpeg"
            alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">Code That Connects. Design That
                    Delivers.</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500"><span class="color-linearGradient">Modern Digital </span>Experiences. <br>
                    Built for
                    <span class="color-linearGradient">Performance.</span> <br>Designed for
                    <span class="color-linearGradient">Growth..</span>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">In today’s digital-first economy, your web and mobile
                    presence defines your brand, your reach, and your results.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb-0 colorOne subtitle18px style-font">CODE’s Web & Mobile App Development services empower
                    organizations to move from idea to impact — with fast, secure, and
                    user-centric platforms designed for scale. <br> <br>
                    Whether you’re launching a customer-facing app, streamlining internal workflows, or delivering
                    end-to-end digital
                    services, we bring together strategy, UX design, and modern engineering to build solutions that
                    perform. Our
                    native-first, security-by-design approach ensures seamless experiences across devices, regions, and
                    user segments —
                    helping your business grow without limits.</p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <span class="color-linearGradient subtitle18px font-medium mb16 d-block">Websites. Mobile Apps. Admin
                    Dashboards. Seamlessly Connected.</span>
                <h4 class="colorThree subtitle36px font-bold mb24"> Your Digital Presence,
                    <span class="color-linearGradient ">Elevated </span>
                </h4>
                <p class="font-bold subtitle18px colorBlack">Native & Cross-Platform Mobile Apps</p>
                <p class="style-font subtitle16px colorBlack">We develop high-performance mobile applications using
                    native iOS and Android technologies — delivering speed,
                    reliability, and exceptional UX. Need cross-platform? We use modern frameworks to build seamless
                    experiences without
                    compromising quality.</p>
                <p class="font-bold subtitle18px colorBlack">Web Applications & Admin Portals </p>
                <p class="style-font subtitle16px colorBlack">From engaging websites to robust admin dashboards, we
                    create scalable, cloud-ready web platforms that are fast-loading,
                    flexible, and easy to manage.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <img src="assets/images/CodeServices/Software & Development/Web & Mobile App Development/Web and Mobile Development1-min.jpeg"
                    alt="image AI">
            </div>
        </div>
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <div class="boxBootom"></div>
                <p class="font-bold subtitle18px colorBlack">Business-Aligned Architecture</p>
                <p class="style-font subtitle16px colorBlack">Your goals drive our architecture. Each web and mobile
                    solution is tailored to your workflows, users, and long-term
                    objectives — whether you’re a startup, SME, or enterprise.</p>
                <p class="font-bold subtitle18px colorBlack">Security & Performance by Design </p>
                <p class="style-font subtitle16px colorBlack">Built for scale and speed, our platforms feature
                    enterprise-grade backend systems, responsive design, and high
                    availability — with privacy and security baked in from the start.</p>
                <p class="font-bold subtitle18px colorBlack">User-First Experience </p>
                <p class="style-font subtitle16px colorBlack">We create beautiful, intuitive interfaces that users love
                    to engage with. Every scroll, tap, and click is optimized for
                    clarity, conversion, and usability — front to back.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxBootom"></div>
                <img src="assets/images/CodeServices/Software & Development/Web & Mobile App Development/Web and Mobile Development2-min.jpeg"
                    alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Success Doesn’t End at
                Launch</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Backed by <span class="color-linearGradient ">CODE Care </span>Services</h1>
            <div class="d-flex align-items-center">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">From strategic consultation to
                    post-launch optimization, CODE is with you every step of the way.
                    <br><br>
                    Our expert teams manage integrations, deployments, and performance monitoring — ensuring lasting
                    value and operational continuity.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">Build Your <br> <span
                        class="color-linearGradient">Digital Flagship </span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Whether you're launching a new service, digitizing operations,
            or delivering standout digital experiences — our web and
            mobile development team is here to turn your vision into reality.</p>
    </div>
</section>