<section class="servicesS1">
    <div class="servicesS1-container px-120">
        <div class="back-servicesS1">
            <div class="servicesS1-texts">
                <h1 class="subtitle48px colorThree font-bold">Build <span class="color-linearGradient">Smarter. </span>
                    Scale <br> <span class="color-linearGradient">Faster.</span> Transform <br>
                    <span class="color-linearGradient">Digitally.</span>
                </h1>
                <p class="mb-0 colorThree subtitle20px font-medium">In a connected world, software is more than
                    infrastructure — it’s how your business speaks, operates, and grows.</p>
            </div>
        </div>
    </div>
</section>
<section class="servicesS4">
    <div class="servicesS4-container px-120">
        <div class="fxServicesS4 fxGeneral-cards ">
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/AISolutions"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/AISolutions.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">AI solutions</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Automation&Security"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Automation&Security.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Automation & Security</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/DigitalHealthcare"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/DigitalHealthcare.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Digital Healthcare</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Passive&CivilWork"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Passive&CivilWork.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Passive & Civil Work</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Data&CloudEngineering"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Data&CloudEngineering.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Data & Cloud Engineering</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic " routerLink="/ourServices/Software&Development"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Software&Development.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Software & Development</span>
            </a>
        </div>
    </div>
</section>
<!-- <section class="servicesS2">
    <div class="servicesS2-container px-120">
        <div class="d-flex fx-servicesS2 fxGeneral-cards">
            <div class="box fxCard d-flex align-items-center justify-content-center flex-column boxColor1">
                <img src="assets/images/ICTSolutios.svg" alt="ICTSolutios icon">
                <h3 class="font-medium subtitle20px">ICT solutios</h3>
            </div>
            <div class="box fxCard d-flex align-items-center justify-content-center flex-column boxColor2">
                <img src="assets/images/DataSolutions.svg" alt="Data solutions icon">
                <h3 class="font-medium subtitle20px">Data solutions</h3>
            </div>
            <div class="box fxCard d-flex align-items-center justify-content-center flex-column boxColor3">
                <img src="assets/images/ITSolutions.svg" alt="IT Solutions icon">
                <h3 class="font-medium subtitle20px">IT solutions</h3>
            </div>
            <div class="box fxCard d-flex align-items-center justify-content-center flex-column boxColor4">
                <img src="assets/images/AISolutions.svg" alt="AI Solutions icon">
                <h3 class="font-medium subtitle20px">AI solutions</h3>
            </div>
        </div>

    </div>
</section> -->
<section class="servicesS3">
    <div class="servicesS3-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">CODE That Connects.
                Design That Delivers.</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">From Concept to
                Code <br> <span class="color-linearGradient">We Build What Moves You Forward</span>
            </h1>
            <p class="style-font text-center colorTwo subtitle20px p-head mb-0">CODE’s Software & Development services
                empower organizations across Saudi Arabia to move from ideas to impact with
                powerful web platforms, mobile applications, and collaboration tools tailored for performance, security,
                and scale. <br> <br>
                Whether you're launching a new customer experience, streamlining workflows, or enabling seamless
                collaboration, we
                develop solutions that are as intuitive as theyare intelligent.</p>
        </div>
        <div class="d-flex fx-servicesS3 fxGeneral-cards">
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/servicesS3-img1.png');">
                <h3 class="font-bold subtitle24px colorWhite">Web and Mobile App Development</h3>
                <div class="divArrow">
                    <button class="btn-hover"><img src="assets/images/arrow-linear.svg" alt="arrow-linear"></button>
                </div>
            </div>
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/servicesS3-img2.png');">
                <h3 class="font-bold subtitle24px colorWhite">SharePoint Solutions</h3>
                <div class="divArrow">
                    <button class="btn-hover"><img src="assets/images/arrow-linear.svg" alt="arrow-linear"></button>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="servicesS5">
    <div class="servicesS5-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Web. Mobile.
                SharePoint. Custom Solutions. Intelligent Integration.</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down"> <span
                    class="color-linearGradient">Delivers.</span> <br>
                People Who <span class="color-linearGradient">Understand.</span>
            </h1>
            <p class="style-font text-center colorTwo subtitle20px p-head mb-0">Designed for both public and private
                sector needs, our platforms combine flexibility, speed, and enterprise-grade
                reliability — fully aligned with Vision 2030’s digital transformation goals.</p>
        </div>
        <div class="fxServicesS5 fxGeneral-cards ">
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/servicesS5/Client-AlignedArchitecture.svg" alt="">
                <h3 class="font-semiBold subtitle20px text-center ">Client-Aligned Architecture</h3>
                <p class="text-center  subtitle18px style-font mb-0">Each solution is purpose-built around your goals —
                    scalable,
                    secure, and
                    user-first.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/servicesS5/BuiltforSaudiInfrastructure.svg" alt="">
                <h3 class="font-semiBold subtitle20px text-center ">Built for Saudi Infrastructure</h3>
                <p class="text-center  subtitle18px style-font mb-0">Arabic-ready, Vision 2030-aligned, and designed to
                    integrate seamlessly with local regulations and platforms.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/servicesS5/FullLifecycleSupport.svg" alt="">
                <h3 class="font-semiBold subtitle20px text-center ">Full Lifecycle Support</h3>
                <p class="text-center  subtitle18px style-font mb-0">From strategy and development to post-launch
                    optimization, our teams partner with you every step of the way.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/servicesS5/Enterprise-GradeSecurity.svg" alt="">
                <h3 class="font-semiBold subtitle20px text-center ">Enterprise-Grade Security</h3>
                <p class="text-center  subtitle18px style-font mb-0">Security and compliance are built in from the start
                    — with access controls, privacy protections, and performance
                    safeguards at every layer.</p>
            </div>
        </div>
    </div>
</section>
<section class="ourServiceFlow">
    <div class="ourServiceFlow-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Our Service
                Flow</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos=" fade-down">Our
                Step-by-Step Work Process <br>at <span class="color-linearGradient text-uppercase">Code</span> from
                start to
                finish
            </h1>
            <p class="style-font text-center colorTwo subtitle20px p-head">At CODE, we follow a structured and
                efficient workflow to ensure the highest quality of service for our customers</p>
        </div>
        <div class="d-flex fx-ourServiceFlow fxGeneral-cards">
            <div class="box fxCard d-flex align-items-center justify-content-center flex-column boxBack1">
                <img src="assets/images/Research-icon.svg" alt="Research icon">
                <h3 class="font-medium subtitle20px">Research</h3>
            </div>
            <div class="box fxCard d-flex align-items-center justify-content-center flex-column boxBack2">
                <img src="assets/images/Brainstorm-icon.svg" alt="Brainstorm icon">
                <h3 class="font-medium subtitle20px">Brainstorm</h3>
            </div>
            <div class="box fxCard d-flex align-items-center justify-content-center flex-column boxBack3">
                <img src="assets/images/Development-icon.svg" alt="Development icon">
                <h3 class="font-medium subtitle20px">Development</h3>
            </div>
            <div class="box fxCard d-flex align-items-center justify-content-center flex-column boxBack4">
                <img src="assets/images/Delivery-icon.svg" alt="Delivery icon">
                <h3 class="font-medium subtitle20px">Delivery</h3>
            </div>
        </div>

    </div>
</section>
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle48px font-bold mb-0 " data-aos=" fade-down"> <span
                        class="color-linearGradient">Build
                    </span> <br>
                    What’s <span class="color-linearGradient"> Next</span></h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Whether you're creating a digital platform, enabling internal
            agility, or transforming citizen services — CODE is your
            trusted development partner.</p>
    </div>
</section>