<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
<div id="code-chatbot">
    <button (click)="toggleBot()" class="subtitle20px">
        {{ 'CHATBOT.buttonOpen' | translate }}
    </button>
    <div id="botWindow" [class.show]="botVisible">
        <p>
            {{ 'CHATBOT.greeting' | translate }}
        </p>
        <p><strong>{{ 'CHATBOT.instruction' | translate }}</strong></p>
        <ul style="list-style:none;padding:0;">
            <li>📱
                <a href="https://wa.me/966546492332" target="_blank">
                    {{ 'CHATBOT.whatsapp' | translate }}: <bdo dir="ltr">+966 54 282 8120</bdo>
                </a>
            </li>
            <li>☎️
                <a href="tel:+966114710010">
                    {{ 'CHATBOT.callUs' | translate }}: <bdo dir="ltr">+966 11 471 0010</bdo>
                </a>
            </li>
            <li>✉️
                <a href="mailto:sales@code.sa">
                    {{ 'CHATBOT.email' | translate }}: sales&#64;code.sa
                </a>
            </li>
        </ul>
        <button (click)="toggleBot()">
            {{ 'CHATBOT.buttonClose' | translate }}
        </button>
    </div>
</div>