<div class="flex h-full min-h-screen items-center justify-center bg-gray-100 dark:bg-gray-900">
    <div class="flex-col justify-center hidden w-6/12 max-w-full p-3 pr-0 my-auto text-center flex-0 lg:flex">
        <img src="/assets/dashboardImages/backLogin.png" alt="" class="rounded-xl overflow-hidden"
            style="height: 100vh;" />
    </div>
    <div class="flex flex-col w-full max-w-full px-3 shrink-0 md:flex-0 md:w-6/12 lg:w-5/12 xl:w-4/12 ml-auto">
        <div
            class="relative flex flex-col min-w-0 break-words bg-transparent border-0 shadow-none lg:py4 dark:bg-gray-950 rounded-2xl bg-clip-border">
            <div class="p-6 pb-0 mb-0">
                <h2 class="font-bold">Add New User</h2>
                <p class="mb-0">Enter your email and password to sign in</p>
            </div>
            <div class="flex-auto p-6">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4 flex flex-col gap-2">

                    <input type="text" placeholder="Full Name" formControlName="fullName"
                        class="block w-full rounded-lg border border-gray-300 bg-white p-3 text-sm text-gray-700 placeholder-gray-500 outline-none focus:border-blue-400 focus:shadow-md dark:bg-gray-950 dark:text-white/80 dark:placeholder:text-white/60" />

                    <input type="email" placeholder="Email" formControlName="email"
                        class="block w-full rounded-lg border border-gray-300 bg-white p-3 text-sm text-gray-700 placeholder-gray-500 outline-none focus:border-blue-400 focus:shadow-md dark:bg-gray-950 dark:text-white/80 dark:placeholder:text-white/60" />

                    <input type="password" placeholder="Password (min 6 characters)" formControlName="password"
                        class="block w-full rounded-lg border border-gray-300 bg-white p-3 text-sm text-gray-700 placeholder-gray-500 outline-none focus:border-blue-400 focus:shadow-md dark:bg-gray-950 dark:text-white/80 dark:placeholder:text-white/60" />

                    <input type="tel" placeholder="Phone Number" formControlName="phoneNumber"
                        class="block w-full rounded-lg border border-gray-300 bg-white p-3 text-sm text-gray-700 placeholder-gray-500 outline-none focus:border-blue-400 focus:shadow-md dark:bg-gray-950 dark:text-white/80 dark:placeholder:text-white/60" />

                    <input type="date" formControlName="dateOfBirth"
                        class="block w-full rounded-lg border border-gray-300 bg-white p-3 text-sm text-gray-700 outline-none focus:border-blue-400 focus:shadow-md dark:bg-gray-950 dark:text-white/80" />

                    <select formControlName="gender"
                        class="block w-full rounded-lg border border-gray-300 bg-white p-3 text-sm text-gray-700 outline-none focus:border-blue-400 focus:shadow-md dark:bg-gray-950 dark:text-white/80">
                        <option value="">Select Gender</option>
                        <option *ngFor="let g of genders" [value]="g.value">{{ g.name }}</option>
                    </select>

                    <select formControlName="city"
                        class="block w-full rounded-lg border border-gray-300 bg-white p-3 text-sm text-gray-700 outline-none focus:border-blue-400 focus:shadow-md dark:bg-gray-950 dark:text-white/80">
                        <option value="">Select City</option>
                        <option *ngFor="let c of cities" [value]="c.value">{{ c.name }}</option>
                    </select>

                    <!-- <div class="form-group mb-3">
                        <label for="">Image Url</label>
                        <input type="file" (change)="onFileSelected($event)" class="mt-2 ms-2 d-block"
                            style="border-radius: 0px !important;" />
                    </div> -->



                    <button type="submit"
                        class="w-full rounded-lg bg-blue-500 px-4 py-3 text-sm font-bold text-white shadow-md transition-all hover:bg-blue-600 hover:shadow-lg active:opacity-85">
                        Sign Up
                    </button>
                    <button routerLink="/dashboard/home" type="button"
                        class="inline-block w-full px-16 py-3.5 mt-0 mb-0 font-bold leading-normal text-center text-white align-middle transition-all bg-slate-700 border-0 rounded-lg cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25">
                        Back to Dashboard
                    </button>
                </form>



            </div>
            <div class="border-black/12.5 rounded-b-2xl border-t-0 border-solid p-6 text-center pt-0 px-1 sm:px-6">
                <p class="mx-auto mb-6 leading-normal text-sm">Do you have an account?<a routerLink="/auth/signIn"
                        class="font-semibold text-transparent bg-clip-text bg-gradient-to-tl from-blue-500 to-violet-500">
                        Sign
                        in</a></p>
            </div>
        </div>
    </div>

</div>