<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle36px font-bold">Revenue Cycle Management (RCM)</h1>
            <div class="d-flex fxWrapMb">
                <p class="font-medium  subtitle18px colorBlack d-flex gap-2">
                    <span>Digital Healthcare</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </p>
                <span class="mb-0 color-linearGradient font-medium  subtitle18px">Revenue Cycle Management (RCM)</span>
            </div>
        </div>
        <img src="assets/images/CodeServices/Digital Healthcare/RCM/RCM-min.jpg" alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">Smart Systems for Better
                    Care</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">Optimize
                    <span class="color-linearGradient">Financial <br> Performance. </span> Streamline <br>
                    <span class="color-linearGradient">Patient Billing.</span>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">In modern healthcare, administrative efficiency is just
                    as vital as clinical care. </p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb24 colorOne subtitle18px style-font">CODE’s Revenue Cycle Management solution transforms how
                    providers manage billing, insurance claims, and collections —
                    ensuring seamless financial operations from patient registration to final reimbursement.</p>
                <p class="mb24 colorOne subtitle18px style-font">Built for hospitals, clinics, and diagnostic chains in
                    Saudi Arabia, our digital-first platform integrates every
                    touchpoint of the revenue cycle into one unified workflow.</p>
                <p class="mb-0 colorOne subtitle18px style-font">The result? Shorter billing cycles, fewer errors, and
                    predictable cash flows — all fully compliant and tailored for
                    scalable operations.</p>
            </div>
        </div>
    </div>
</section>

<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24"> Secure.
                    <span class="color-linearGradient ">Compliant. </span> Scalable.
                </h4>
                <p class="style-font subtitle18px colorBlack mb16">Built on microservices and hosted on a
                    HiTrust-certified cloud, CODE’s solution ensures secure, end-to-end transactions
                    with seven-layer protection. <br> <br> It’s fully compliant with global standards like HIPAA and
                    GDPR and
                    offers local deployment
                    and data residency options for public and private institutions across Saudi Arabia.</p>

            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Digital Healthcare/RCM/RCM1-min.jpg" alt="image AI">
            </div>
        </div>
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">From Admission to Reimbursement
                    <span class="color-linearGradient "><br> Without Friction</span>
                </h4>
                <p class="font-bold subtitle18px colorBlack">Comprehensive Financial Automation</p>
                <p class="style-font subtitle16px colorBlack">Digitize the entire billing lifecycle — from OP/IP billing
                    and discharge planning to claim submissions, follow-ups, and
                    final settlements. Built-in modules handle insurance pre-authorization, co-payments, and due alerts
                    automatically.</p>
                <p class="font-bold subtitle18px colorBlack">High Accuracy, Real-Time Processing</p>
                <p class="style-font subtitle16px colorBlack">Minimize delays and manual errors with intelligent billing
                    tools,
                    real-time patient account updates, and audit-ready documentation — poweredby cloud automation.</p>
                <p class="font-bold subtitle18px colorBlack">Insurance and Claims Integration</p>
                <p class="style-font subtitle16px colorBlack">Manage public and private insurance workflows, payer
                    rules,
                    and reimbursement timelines — with built-in support for national
                    and third-party health schemes.</p>
                <p class="font-bold subtitle18px colorBlack">Account Receivables & Doctor Payouts</p>
                <p class="style-font subtitle16px colorBlack">Track outstanding balances, generate statements, and
                    ensure full transparency in revenue sharing and payout cycles.</p>
                <p class="font-bold subtitle18px colorBlack">Seamless Interoperability</p>
                <p class="style-font subtitle16px colorBlack">Integrated with clinical modules (EMR, pharmacy,
                    diagnostics, OT)
                    and administrative systems (inventory, appointments, patient app)
                    — your financial data stays in sync. No duplication. No silos.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Digital Healthcare/RCM/RCM2-min.jpg" alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Built for Healthcare in <span class="color-linearGradient ">Saudi Arabia</span></h1>
            <div class="d-flex align-items-center">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">CODE’s RCM offering is part of a
                    broader digital healthcare transformation strategy supporting providers in delivering
                    excellent care while running financially sound operations. Whether you're a multi-specialty hospital
                    or a regional
                    clinic, our local experts ensure fast implementation, training and long-term support.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">
                    <span class="color-linearGradient ">Real Results, </span> Measurable ROI
                </h4>
                <p class="style-font subtitle18px colorBlack">A single, integrated platform connecting OP/IP billing,
                    pharmacy, insurance, and inventory minimizing revenue leakage
                    and uncovering new growth opportunities.</p>
                <p class="font-bold subtitle18px colorBlack">Accelerated Cash Flow</p>
                <p class="style-font subtitle16px colorBlack">Shorten collection cycles with real-time tracking,
                    automated alerts, and digital payment workflows.</p>
                <p class="font-bold subtitle18px colorBlack">Fewer Claim Denials</p>
                <p class="style-font subtitle16px colorBlack">Submit cleaner, more accurate claims using verified
                    patient data
                    and automated pre-authorization.</p>
                <p class="font-bold subtitle18px colorBlack">Actionable Insights</p>
                <p class="style-font subtitle16px colorBlack">Access real-time BI dashboards covering revenue trends,
                    inventory use, and patient financial activity.</p>
                <p class="font-bold subtitle18px colorBlack">Lower Administrative Burden</p>
                <p class="style-font subtitle16px colorBlack">Streamline financial operations and reduce manual work
                    across billing, reconciliation, and reporting.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Digital Healthcare/RCM/RCM3-min.jpg" alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle40px font-bold mb-0" data-aos="fade-down"> Let’s Redefine <span
                        class="color-linearGradient">Financial Efficiency in Healthcare </span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Fast, connected, and future-proof — revenue cycle management,
            the CODE way.</p>
    </div>
</section>