<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle36px font-bold">Hospital Information System (HIS)</h1>
            <p class="font-medium mb-0 subtitle20px colorBlack">AI Solutions > <br><span
                    class="color-linearGradient">Hospital Information System (HIS)</span></p>
        </div>
        <img src="assets/images/CodeServices/Digital Healthcare/HIS/HIS.jpg" alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">Smart Systems for Better
                    Care</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">One Platform. <br> Intelligent Operation. <br> <span
                        class="color-linearGradient">Future-Ready Care.</span> </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">CODE’s Hospital Information System (HIS) delivers a
                    unified digital foundation for modern healthcare — enabling full
                    patient lifecycle management, real-time operational visibility, and data-driven clinical decisions.
                </p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb24 colorOne subtitle18px style-font">Built on a secure, scalable, cloud-native architecture,
                    the platform streamlines every hospital function — from
                    admission and triage to labs, pharmacy, HR, and discharge — creating seamless collaboration across
                    all departments.</p>
                <p class="mb-0 colorOne subtitle18px style-font">By empowering Saudi hospitals to deliver high-impact
                    care, improve outcomes, and scale confidently, CODE’s HIS supports
                    sustainable growth and digital transformation in line with Vision 2030.</p>
            </div>
        </div>
    </div>
</section>
<section class="servicesS5">
    <div class="servicesS5-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24"></span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down"> Your Hospital,
                <span class="color-linearGradient">Digitally Unified</span>
            </h1>
            <p class="style-font text-center colorTwo subtitle18px p-head mb-0">60+ Modules. 48+ Specialties. 1
                Platform.</p>
        </div>
        <div class="fxServicesS5 fxGeneral-cards fxServicesS5New">
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/Digital Healthcare/HIS/End-to-EndPatientJourney.svg"
                    alt=" End-to-End Patient Journey">
                <h3 class="font-semiBold subtitle20px text-center ">End-to-End Patient Journey</h3>
                <p class="text-center  subtitle18px style-font mb-0">Digitally manage appointments, triage,
                    registration, OP/IP billing, discharge summaries, and longitudinal EMR/EHR — all
                    in one place.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/Digital Healthcare/HIS/Clinical & Diagnostic Integration.svg"
                    alt="Clinical & Diagnostic Integration">
                <h3 class="font-semiBold subtitle20px text-center ">Clinical & Diagnostic Integration</h3>
                <p class="text-center  subtitle18px style-font mb-0">Connect your emergency, daycare, LIS, RIS, OT, ICU,
                    cath lab, and ambulance systems — with built-in support for digital
                    imaging, lab reporting, and medication administration.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/Digital Healthcare/HIS/Pharmacy.svg"
                    alt="Fast to deploy, easy to scale">
                <h3 class="font-semiBold subtitle20px text-center ">Pharmacy & Supply Chain Management</h3>
                <p class="text-center  subtitle18px style-font mb-0">Track inventory, manage prescriptions, and oversee
                    procurement with integrated modules for both IP and OP pharmacies.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/Digital Healthcare/HIS/Non-Clinical Operations.svg"
                    alt=" End-to-End Patient Journey">
                <h3 class="font-semiBold subtitle20px text-center ">Non-Clinical Operations</h3>
                <p class="text-center  subtitle18px style-font mb-0">Digitally manage kitchen, diet, laundry, linen,
                    housekeeping, HRMS, duty rosters, and equipment maintenance — everything
                    needed for hospital efficiency.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/Digital Healthcare/HIS/Patient & Staff Engagement.svg"
                    alt="Clinical & Diagnostic Integration">
                <h3 class="font-semiBold subtitle20px text-center ">Patient & Staff Engagement</h3>
                <p class="text-center  subtitle18px style-font mb-0">Access everything from one unified interface —
                    including patient apps, doctor/nurse dashboards, call center tools,
                    phlebotomist views, and admin control panels.</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/Digital Healthcare/HIS/Fully Cloud-Native Architecture.svg"
                    alt="Fast to deploy, easy to scale">
                <h3 class="font-semiBold subtitle20px text-center ">Fully Cloud-Native Architecture</h3>
                <p class="text-center  subtitle18px style-font mb-0">Built on microservices and Kubernetes, this HIS
                    platform is ready to serve millions — with high availability, fast
                    deployment, and monthly auto-updates.</p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24"> Secure, Compliant,
                    <span class="color-linearGradient ">Saudi-Ready </span>
                </h4>
                <p class="style-font subtitle18px colorBlack">Built to Meet Local Needs and Global Standards</p>
                <p class="font-bold subtitle18px colorBlack">Data Security & Privacy</p>
                <p class="style-font subtitle16px colorBlack">HIPAA- and GDPR-aligned architecture with TLS 1.3
                    encryption, RBAC, audit logs, IP whitelisting, and role-based session
                    control.</p>
                <p class="font-bold subtitle18px colorBlack">Flexible Deployment</p>
                <p class="style-font subtitle16px colorBlack">Run in public cloud, private cloud, or on-premise — based
                    on your compliance or performance needs.</p>
                <p class="font-bold subtitle18px colorBlack">Arabic-Enabled and Customizable</p>
                <p class="style-font subtitle16px colorBlack">Arabic language support and flexible configurations to
                    align with operational norms across the Kingdom.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Digital Healthcare/HIS/HIS1-min.png" alt="image AI">
            </div>
        </div>
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">
                    <span class="color-linearGradient ">Analytics </span> and <span
                        class="color-linearGradient">AI,</span> Built In
                </h4>
                <p class="style-font subtitle18px colorBlack mb24">From Insights to Action — in Real Time</p>
                <ul>
                    <li class="style-font subtitle18px colorBlack">Unified data lake with smart ingestion from clinical,
                        operational, and financial systems</li>
                    <li class="style-font subtitle18px colorBlack">BI dashboards ready for Power BI, Tableau, and
                        QuickSight</li>
                    <li class="style-font subtitle18px colorBlack">Predictive insights for pharmacy, admissions,
                        discharge, and patient behavior</li>
                    <li class="style-font subtitle18px colorBlack">AI modules including <b> Patient AI, Disease AI,
                            Inventory AI, and Finance AI </b></li>
                </ul>

            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Digital Healthcare/HIS/HIS2-min.jpg" alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">From Day One to
                Long-Term Impact</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Fast to <span class="color-linearGradient ">Deploy. </span>Easy to <span
                    class="color-linearGradient">Scale.</span></h1>
            <div class="d-flex align-items-center">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">Whether you're running a
                    multi-specialty hospital, diagnostic center, or healthcare network, CODE’s HIS platform adapts
                    to your size, structure, and workflows. <br> <br>
                    With plug-and-play modules and support for legacy system migration, it’s designed for fast
                    onboarding and long-term growth.</p>
            </div>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle40px font-bold mb-0" data-aos="fade-down"> Let’s Build the <span
                        class="color-linearGradient">Digital Core of Your Hospital </span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Ready to connect departments, improve outcomes, and scale
            without limits? Let’s talk about how CODE can help digitize
            your entire hospital — securely and sustainably.</p>
    </div>
</section>