<section class="contactUsS1">
    <div class="contactUsS1-container px-120">
        <div class="d-flex fx-contactUsS1">
            <div class="contactUsS1-text">
                <span class="font-medium text-start subtitle24px color-linearGradient mb12 d-block">Powering what’s
                    next.</span>
                <h1 class="font-bold subtitle64px colorBlack" data-aos="fade-down" data-aos-easing="linear"><span
                        class="color-linearGradient">Transformation</span> <br>Starts Here
                </h1>
                <p class="mb-0 colorOne subtitle20px style-font">From national institutions to innovative teams, our
                    clients count on CODE to deliver intelligent systems <b> that perform,
                        scale, and last. </b>
                    <br> <br>
                    Whether you're exploring new possibilities or solving complex challenges, our team is here to help —
                    with <b> tailored
                        solutions backed by global technologyand local expertise.</b>
                </p>
            </div>
            <div class="contactUsS1-img">
                <img src="assets/images/contactS1.png" alt="contact image" data-aos="zoom-in">
            </div>
        </div>
    </div>
</section>
<section class="contactUsS2">
    <div class="contactUsS2-container px-120">
        <!-- <div class="d-flex fx-contactUsS2">
            <div class="contactUsS2-part1">
                <span class="color-linearGradient subtitle24px font-medium">Our Contacts</span>
                <h1 class="font-bold subtitle64px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">Get our all <span class="color-linearGradient">info</span><br>
                    <span class="color-linearGradient">directly</span> from here
                </h1>
            </div>
            <div class="contactUsS2-part2">
                <p class="mb-0 colorOne subtitle24px font-medium">CODE helps you define your business
                    requirements with precision, ensuring a clear roadmap to success. <br> <br>
                    Contact us to discover how we can support your business growth and streamline your path to
                    success.
                </p>
            </div>
        </div> -->
        <div class="d-flex flex-column divTitles">
            <span class="font-medium text-center subtitle24px color-linearGradient">Let’s Connect</span>
            <h1 class="text-center font-bold subtitle48px" data-aos="fade-down">Lead the <span
                    class="color-linearGradient">Change.</span> Start <span class="color-linearGradient">Here.</span>
            </h1>
            <p class="mb-0 text-center subtitle22px style-font">Whether you’re ready to start a project or just
                exploring possibilities, our team is here to answer your questions and
                guide you forward.</p>
        </div>
        <div class="d-flex fxGeneral-cards">
            <div class="box fxCard">
                <img src="assets/images/Address-icon.svg" alt="Address icon" class="Icon">
                <div class="boxText">
                    <h3 class="colorBlack subtitle20px font-semiBold">Address</h3>
                    <span class="colorBlack font-bold subtitle16px spanOne  d-block">HQ Office</span>
                    <span class="colorBlack style-font subtitle16px">Anas bin Malik Road, <br>
                        Al Malqa District – Riyadh</span>
                </div>
            </div>
            <div class="box fxCard">
                <img src="assets/images/GetInTouch-icon.svg" alt="Get In Touch icon" class="Icon">
                <div class="boxText">
                    <h3 class="colorBlack subtitle20px font-semiBold">Get In Touch</h3>
                    <span class="colorBlack style-font subtitle16px spanOne d-block"><b> Mobile: </b>
                        +966542828120</span>
                    <span class="colorBlack style-font subtitle16px"><b> E-mail:</b> sales&#64;code.sa</span>
                </div>
            </div>
            <div class="box fxCard">
                <img src="assets/images/HourOfOperation-icon.svg" alt="Hour of operation icon" class="Icon">
                <div class="boxText">
                    <h3 class="colorBlack subtitle20px font-semiBold">Hour of operation</h3>
                    <span class="colorBlack style-font subtitle16px spanOne d-block">Sunday-Thursday: 8am-5pm </span>
                    <span class="colorBlack style-font subtitle16px">Friday: Closed</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionMap">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.509054178088!2d46.60517359999999!3d24.803485499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee52a12b11b29%3A0x149438238c7566fc!2zQnVzaW5lc3MgUGF0aCDYtNix2YPYqSDZhdiz2KfYsSDYp9mE2KPYudmF2KfZhA!5e1!3m2!1sen!2sil!4v1749893267209!5m2!1sen!2sil"
        height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<section class="contactUsBanner">
    <img src="assets/images/contactBanner.png" alt="contact Banner" class="w-100" data-aos="zoom-in">
</section>
<section class="contactUsS3">
    <div class="contactUsS3-container">
        <div class="contactUsS3-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">SEND A
                MESSAGE</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center " data-aos="fade-down"
                data-aos-easing="linear" data-aos-duration="500">Looking for Answers? <span
                    class="color-linearGradient">Let’s Build Them.</span> </h1>
            <p class="style-font text-center colorTwo subtitle18px p-head">Tell us about your goals or requirements —
                and we’ll help you shape the right solution.</p>
        </div>
        <div class="boxContact">
            <img src="assets/images/back-boxContact.png" alt="back boxContact" class="back-boxContact">
            <div class="d-flex fx-boxContact">
                <div class="boxContact-text">
                    <img src="assets/images/mailbox.svg" alt="mailbox icon">
                    <h1 class="font-bold colorBlack subtitle36px text-center">Let’s Start the<br>
                        <span class="color-linearGradient">Conversation!</span>
                    </h1>
                    <p class="style-font mb-0 subtitle16px colorOne  text-center">You’re just one message away from
                        turning <b> interest into impact. </b></p>
                </div>
                <div class="boxContact-form">
                    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                        <div class="form-group">
                            <input type="text" name="fullName" [(ngModel)]="formData.fullName" #fullName="ngModel"
                                class="style-font subtitle16px" placeholder="Your Name" required />
                            <div *ngIf="fullName.invalid && fullName.touched" class="text-danger font-medium">
                                Name is required
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" [(ngModel)]="formData.email" #email="ngModel"
                                class="style-font subtitle16px" placeholder="Your Email" required />
                            <div *ngIf="email.invalid && email.touched" class="text-danger font-medium">
                                Valid email is required
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" name="subject" [(ngModel)]="formData.subject" #subject="ngModel"
                                class="style-font subtitle16px" placeholder="Subject" required />
                            <div *ngIf="subject.invalid && subject.touched" class="text-danger font-medium">
                                Subject is required
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea name="message" [(ngModel)]="formData.message" #message="ngModel"
                                class="style-font subtitle16px" placeholder="Briefly describe your goal,  project, or question — and we’ll  get back to you with a focused 
                                response." required></textarea>
                            <div *ngIf="message.invalid && message.touched" class="text-danger font-medium">
                                Message is required
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" [disabled]="loading || contactForm.invalid"
                                class="subtitle16px font-medium colorWhite btn-linearGradient w-100">
                                {{ loading ? 'Sending...' : 'Send Now' }}
                            </button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24">Be always in touch</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">Let's<span
                        class="color-linearGradient">Empower</span> your <br> brand & business </h1>
                <p class="style-font text-center colorTwo subtitle24px p-head">Tell us about your goals or requirements
                    — and we’ll help you shape the right solution.</p>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button">
                    <span class="font-semiBold colorWhite subtitle20px">Contact us</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle28px">DB Consulting specializes in SQL Server, our tutorial and
            training
            is founded
            on
            real-life
            experience, and we practice
            what we preach! In addition to training courses and workshops, we offer</p>
    </div>
</section>