<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle48px font-bold">AI Innovation Hub</h1>
            <p class="font-medium mb-0 subtitle20px colorBlack">AI Solutions > <span class="color-linearGradient">AI
                    Innovation Hub</span></p>
        </div>
        <img src="assets/images/CodeServices/AI solutions/AI Innovation Hub/AI Innovation Hub-min.png"
            alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">AI Solutions for Real-World
                    Impact</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500"> Designing <span class="color-linearGradient">Immersive, <br> AI Ready
                        Spaces</span> for <br> <span class="color-linearGradien">Smarter Engagement</span>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">CODE’s Innovation Hub is a flexible, integrated concept
                    that empowers organizations to rethink how they plan, train, and
                    present.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb-0 colorOne subtitle18px style-font">These interactive spaces combine 3D holography,
                    immersive simulation, and digital tools — creating an environment where
                    ideas come to life. <br>
                    Whether used for training, simulation, planning, or interactive presentations, each Hub is tailored
                    to the
                    organization’s goals and built to deliver real-world impact within its operational environment.</p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">
                    What It<span class="color-linearGradient "> Enables </span></h4>
                <p class="font-bold subtitle18px colorBlack">Immersive Learning and Training</p>
                <p class="style-font subtitle16px colorBlack">Simulate advanced scenarios across various domains using
                    high-resolution 3D models and gesture-based interaction —
                    enhancing training and skill development.</p>
                <p class="font-bold subtitle18px colorBlack">Interactive Project and Concept Visualization</p>
                <p class="style-font subtitle16px colorBlack">Present plans, services, or technical designs through
                    visually rich, engaging formats that support better stakeholder
                    understanding and faster decision-making.</p>
                <p class="font-bold subtitle18px colorBlack">Operational Mockups and Scenario Testing</p>
                <p class="style-font subtitle16px colorBlack">Test workflows or service delivery models in a virtual
                    environment — without affecting live operations — powered by
                    CODE’s intelligent platform.</p>
                <p class="font-bold subtitle18px colorBlack">Dynamic Demonstration of Data and Digital Products</p>
                <p class="style-font subtitle16px colorBlack">Showcase digital solutions and insights through
                    interactive 3D experiences — ideal for expos, executive presentations,
                    and strategic engagement settings.</p>

            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/AI solutions/AI Innovation Hub/AI Innovation Hub1-min.png"
                    alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Built for <span class="color-linearGradient ">Vision 2030 </span> Priorities</h1>
            <div class="">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">Each CODE Innovation Hub is
                    locally contextualized, AI-powered, and purpose-built to support Saudi Arabia’s national
                    transformation — from smart city development to future-ready learning environments. <br> <br>
                     It offers a scalable, practical way to embed innovation where it matters most: at the heart of
                    operations, people, and progress.</p>
            </div>
        </div>
    </div>
</section>
<section class="servicesS5">
    <div class="servicesS5-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Where It Fits</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">
                Aligns with
                <span class="color-linearGradient">Your Strategy.</span> <br>
                Adapts to
                <span class="color-linearGradient">Your Priorities.</span>
            </h1>
            <p class="style-font text-center colorTwo subtitle18px p-head mb-0">Created to match your ambition,
                accelerate execution, and adapt as you grow.</p>
        </div>
        <div class="fxServicesS5 fxGeneral-cards fxServicesS5New">
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/AI solutions/AI Innovation Hub/AiInnovationHub-icon.svg"
                    alt=" Precisely tailored to your environment">
                <h3 class="font-semiBold subtitle20px text-center ">Public Sector & Government</h3>
                <p class="text-center  subtitle18px style-font mb-0">Citizen services, city planning, policy engagement
                </p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/AI solutions/AI Innovation Hub/AiInnovationHub-icon.svg"
                    alt="Trained for high accuracy">
                <h3 class="font-semiBold subtitle20px text-center ">Education & Healthcare</h3>
                <p class="text-center  subtitle18px style-font mb-0">Clinical training, digital learning environments
                </p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column w33">
                <img src="assets/images/CodeServices/AI solutions/AI Innovation Hub/AiInnovationHub-icon.svg"
                    alt="Fast to deploy, easy to scale">
                <h3 class="font-semiBold subtitle20px text-center ">Private Sector & R&D</h3>
                <p class="text-center  subtitle18px style-font mb-0">Innovation showcases, stakeholder briefings,
                    product validation</p>
            </div>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">
                    Let's Build a Space That
                    <span class="color-linearGradient">Bring Ideas to Life</span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Ready to explore what a tailored Innovation Hub could look like
            for your organization? CODE can help design and deliver
            a space that blends immersive technology with strategic purpose.</p>
    </div>
</section>