.modalTalkCode{
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 64px;
    z-index: 99;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    background: #FFF;
    box-shadow: 1px 0px 10px 2px rgba(0, 0, 0, 0.11);
    overflow-y: auto;
    width: 55%;
    display: none;
}
.coverBack.show, .modal.show {
    display: block !important;
  }
  .coverBack.show{
    opacity: 1;
    visibility: visible;
    z-index: 98;
  }
 .boxContact{
    position: relative;
}
 .boxContact .fx-boxContact{
    gap: 37px;
    position: relative;
    width: 100%;
    align-items: center;
    z-index: 2;
}
 .boxContact .fx-boxContact .boxContact-text{width: 50%;}
 .boxContact .fx-boxContact .boxContact-text img{
    margin: auto;
    display: block;
    margin-bottom: 22px;
}
 .boxContact .fx-boxContact .boxContact-text h1{
    margin-bottom: 24px;
}
 .boxContact .fx-boxContact .boxContact-text p{
    width: 80%;
    margin: auto;
}
 .boxContact .fx-boxContact .boxContact-form{width: 50%;}
 .boxContact .fx-boxContact .boxContact-form form{
    display: flex;
    flex-direction: column;
    gap:12px;
}
 .boxContact .fx-boxContact .boxContact-form form input{
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding:0 24px;
    height: 47px;
    width: 100%;
    transition: 0.2s;
}
 .boxContact .fx-boxContact .boxContact-form form textarea{
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 24px;
    height: 133px;
    width: 100%;
    transition: 0.2s;
}
 .boxContact .fx-boxContact .boxContact-form form input:focus,
 .boxContact .fx-boxContact .boxContact-form form textarea:focus-visible{
    border: 2px solid #bababa;
    outline:0 ;
}
 .boxContact .fx-boxContact .boxContact-form form input::placeholder,
 .boxContact .fx-boxContact .boxContact-form form textarea::placeholder{
    color: #C1C1C1;
}
 .boxContact .fx-boxContact .boxContact-form form button{
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.fxButtonsForm{
  justify-content: space-between;
}
.fxButtonsForm button{
  width: 33.3%;
}
.fxButtonsForm .btnCancel{
  background: #FEEFE6;
  color: #FFAB86;
}
.text-danger{font-size: 12px;margin-top: 4px;display: block;padding: 0 1rem;}
@media (min-width:1706.67px) {
 .boxContact .fx-boxContact .boxContact-form form input,
 .boxContact .fx-boxContact .boxContact-form form button{height: 60px;}
 .boxContact .fx-boxContact .boxContact-form form textarea{height: 160px;}
}
@media (min-width:1920px) {
     .boxContact .fx-boxContact .boxContact-form form input,
     .boxContact .fx-boxContact .boxContact-form form button{height: 70px;}
     .boxContact .fx-boxContact .boxContact-form form textarea{height: 180px;}
     .modalTalkCode{width: 1200px;}
}
@media (max-width:1228.8px) {
    .modalTalkCode{padding: 32px;}
    .boxContact .fx-boxContact{gap: 24px;}
}
@media (max-width:1024px) {
    .modalTalkCode{width: 65%;}
    .boxContact .fx-boxContact .boxContact-form form input{height: 38px;padding: 0 8px;}
    .text-danger{font-size: 10px;}
}
@media (max-width:877.71px) {
    .modalTalkCode{padding: 1rem;}
}
@media (max-width:768px){
    .modalTalkCode{width: 70%;}
    .boxContact .fx-boxContact .boxContact-form form{gap: 4px;}
}
@media (max-width:614.4px) {
    .modalTalkCode{width: 95%;}
    .boxContact .fx-boxContact .boxContact-text h1{margin-bottom: 12px;}
    .boxContact .fx-boxContact{flex-direction: column;}
    .boxContact .fx-boxContact .boxContact-form form{gap: 8px;}
    .boxContact .fx-boxContact .boxContact-text h1{text-align: center;}
    .boxContact .fx-boxContact .boxContact-text p{width: 95%;text-align: center;}
    .boxContact .fx-boxContact .boxContact-text,
    .boxContact .fx-boxContact .boxContact-form{width: 100%;}
}
