<section class="servicesS1">
    <div class="servicesS1-container px-120">
        <div class="back-servicesS1"
            style="background-image:url('assets/images/CodeServices/Automation & Security/Automation & Security-min.png');">
            <div class="servicesS1-texts">
                <h1 class="subtitle36px colorThree font-bold">Less Manual Work. <br>
                    <span class="color-linearGradient">More Control. <br> Greater Confidence.</span>
                </h1>
                <p class="mb-0 colorThree subtitle16px font-medium">Modern organizations don’t just need to <b>move
                        fast — they need to move securely, accurately, and at scale.</b> </p>
            </div>
        </div>
    </div>
</section>
<app-services-s4></app-services-s4>
<section class="servicesS3">
    <div class="servicesS3-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Powering Productivity
                with Protection</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">
                Powerful Solutions for
                <span class="color-linearGradient">Automation</span><br> and.
                <span class="color-linearGradient">Security </span>
            </h1>
            <p class="style-font text-center colorTwo subtitle20px p-head mb-0">Whether you’re looking to reduce
                repetitive tasks or ensure document integrity, we help you
                <b>streamline operations while
                    protecting what matters most.</b>
                <br><br>
                From process automation with RPA to secure, compliant digital signatures — we bring together
                <b>efficiency
                    and
                    accountability</b> in one seamless offering. Fully aligned with Saudi regulatory standards and
                Vision 2030
                priorities, our
                solutions are <b>built for real-world impact.</b>
            </p>
        </div>
        <div class="d-flex fx-servicesS3 fxGeneral-cards">
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                *ngFor="let card of serviceCards" (mouseenter)="onMouseEnter(card)" (mouseleave)="onMouseLeave(card)">
                <div class="divOne" [style.backgroundImage]="'url('+ card.imageUrl +')'"
                    [class.hidden]="card.isHovered">
                    <h3 class="font-bold subtitle24px colorWhite">{{card.name}}</h3>
                    <div class="divArrow">
                        <a class="btn-hover" [routerLink]="card.link " routerLinkActive="active"><img
                                src="assets/images/arrow-linear.svg" alt="arrow-linear"></a>
                    </div>
                </div>
                <div class="divTwo" [class.visible]="card.isHovered ">
                    <p class="mb-0 font-medium colorWhite subtitle20px">{{card.description}}</p>
                    <div class="d-flex fxDescription align-items-center justify-content-between">
                        <h3 class="font-bold subtitle24px colorWhite">{{card.name}}</h3>
                        <div class=" divArrow">
                            <a class="btn-hover" [routerLink]="card.link " routerLinkActive="active"><img
                                    src="assets/images/arrow-linear.svg" alt="arrow-linear"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">Built for <span
                    class="color-linearGradient ">Saudi </span>Organizations</h1>
            <div class="d-flex flex-column align-items-center">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head text-center">CODE’s solutions are
                    already
                    empowering public institutions, enterprises, and service providers across the Kingdom. With
                    local infrastructure, Arabic-language support, and full regulatory compliance, we make sure your
                    digital transformation
                    isn’t just powerful — it’s practical. <br> <br>
                    Whether you're looking to streamline approvals, lighten your team’s workload, or mitigate
                    operational risks, our
                    <b>Automation & Security</b> services provide the secure, efficient tools to make it happen.
                </p>
            </div>
        </div>
    </div>
</section>
<app-our-service-flow></app-our-service-flow>
<section class=" contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24">Your Next Move
                    Starts
                    Here</span>
                <h1 class=" subtitle48px font-bold mb-0 " data-aos=" fade-down"> Let's Unlock <span
                        class="color-linearGradient">Smarter,
                    </span><span class="color-linearGradient"> Safer Workflows</span></h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Automate the repetitive. Secure the critical. Focus on what
            moves you forward.</p>
    </div>
</section>