<section class="sectionEightNew">
    <div class="sectionEightNew-container px-120">
        <div class="d-flex fx-sectionEight">

            <div class="partTwo d-flex flex-column ">
                <h1 class="font-bold subtitle48px" data-aos="fade-down">
                    {{ 'ICT_SOLUTIONS.INTRO.TITLE_1' | translate }}<span class="color-linearGradient">{{
                        'ICT_SOLUTIONS.INTRO.HIGHLIGHT' | translate }}</span>
                </h1>
                <p class="subtitle20px style-font colorTwo mb12">
                    {{ 'ICT_SOLUTIONS.INTRO.DESC_1' | translate }}
                </p>
                <p class="subtitle20px style-font colorTwo mb12">
                    {{ 'ICT_SOLUTIONS.INTRO.DESC_2' | translate }}
                </p>
                <p class="subtitle20px style-font colorTwo mb-0">
                    {{ 'ICT_SOLUTIONS.INTRO.DESC_3' | translate }}
                </p>
            </div>
            <div class="partOne">
                <img src="assets/images/ict-services/Performance.png" alt="Performance img">
            </div>
        </div>
    </div>
</section>

<app-services-s4></app-services-s4>

<section class="sectionNineNew">
    <div class="sectionNineNew-container px-120">
        <div class="ourServiceFlow-titles d-flex flex-column align-items-center">
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">
                {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.TITLE_1' | translate }} <span class="color-linearGradient">{{
                    'ICT_SOLUTIONS.WHAT_WE_OFFER.HIGHLIGHT' | translate }}</span>
            </h1>
            <p class="style-font text-center colorTwo subtitle20px p-head mb-0">
                {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SUBTITLE' | translate }}
            </p>
        </div>

        <div class="d-flex fx-sectionNineNew align-items-center">
            <div class="partOne">
                <img src="assets/images/ict-services/Passive-Civil-Work.png" alt="Passive Civil Work img">
            </div>
            <div class="partTwo d-flex flex-column ">
                <h1 class="font-bold subtitle36px mb24" data-aos="fade-down">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.PASSIVE_CIVIL.TITLE' | translate }}
                </h1>
                <p class="subtitle22px style-font colorTwo mb24">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.PASSIVE_CIVIL.DESC' | translate }}
                </p>
                <button type="button" class="btn-linearGradient"
                    routerLink="/ourServices/ICT-Solutions/PassiveAndCivilWork">
                    <span class="font-semiBold colorWhite subtitle20px">{{
                        'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.PASSIVE_CIVIL.BTN' | translate }}</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>

        <div class="d-flex fx-sectionNineNew align-items-center">
            <div class="partTwo d-flex flex-column ">
                <h1 class="font-bold subtitle36px mb24" data-aos="fade-down">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.HEALTHCARE.TITLE' | translate }}
                </h1>
                <p class="subtitle22px style-font colorTwo mb24">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.HEALTHCARE.DESC' | translate }}
                </p>
                <button type="button" class="btn-linearGradient"
                    routerLink="/ourServices/ICT-Solutions/DigitalHealthcare">
                    <span class="font-semiBold colorWhite subtitle20px">{{
                        'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.HEALTHCARE.BTN' | translate }}</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
            <div class="partOne">
                <img src="assets/images/ict-services/Digital-Healthcare.png" alt="Digital Healthcare img">
            </div>
        </div>

        <div class="d-flex fx-sectionNineNew align-items-center">
            <div class="partOne">
                <img src="assets/images/ict-services/Data-Cloud-Engineering.png" alt="Data Cloud Engineering img">
            </div>
            <div class="partTwo d-flex flex-column ">
                <h1 class="font-bold subtitle36px mb24" data-aos="fade-down">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.DATA_CLOUD.TITLE' | translate }}
                </h1>
                <p class="subtitle22px style-font colorTwo mb24">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.DATA_CLOUD.DESC' | translate }}
                </p>
                <button type="button" class="btn-linearGradient"
                    routerLink="/ourServices/ICT-Solutions/DataAndCloudEngineering">
                    <span class="font-semiBold colorWhite subtitle20px">{{
                        'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.DATA_CLOUD.BTN' | translate }}</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>

        <div class="d-flex fx-sectionNineNew align-items-center">
            <div class="partTwo d-flex flex-column ">
                <h1 class="font-bold subtitle36px mb24" data-aos="fade-down">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.AUTOMATION_SECURITY.TITLE' | translate }}
                </h1>
                <p class="subtitle22px style-font colorTwo mb24">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.AUTOMATION_SECURITY.DESC' | translate }}
                </p>
                <button type="button" class="btn-linearGradient"
                    routerLink="/ourServices/ICT-Solutions/AutomationAndSecurity">
                    <span class="font-semiBold colorWhite subtitle20px">{{
                        'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.AUTOMATION_SECURITY.BTN' | translate }}</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
            <div class="partOne">
                <img src="assets/images/ict-services/Automation-Security.png" alt="Automation Security img">
            </div>
        </div>

        <div class="d-flex fx-sectionNineNew align-items-center">
            <div class="partOne">
                <img src="assets/images/ict-services/Software-Development.png" alt="Software Development img">
            </div>
            <div class="partTwo d-flex flex-column ">
                <h1 class="font-bold subtitle36px mb24" data-aos="fade-down">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.SOFTWARE_DEV.TITLE' | translate }}
                </h1>
                <p class="subtitle22px style-font colorTwo mb24">
                    {{ 'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.SOFTWARE_DEV.DESC' | translate }}
                </p>
                <button type="button" class="btn-linearGradient"
                    routerLink="/ourServices/ICT-Solutions/SoftwareAndDevelopment">
                    <span class="font-semiBold colorWhite subtitle20px">{{
                        'ICT_SOLUTIONS.WHAT_WE_OFFER.SERVICES.SOFTWARE_DEV.BTN' | translate }}</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
    </div>
</section>

<section class="sectionTexts">
    <div class="backSection">
        <div class="sectionTexts-container px-120 h-100">
            <div class="d-flex fx-sectionTexts align-items-center flex-column justify-content-center h-100">
                <span class="color-linearGradient subtitle20px font-medium">{{ 'ICT_SOLUTIONS.REGULATED_ENV.PRE_TITLE' |
                    translate }}</span>
                <h1 class="colorWhite  aos-init text-center font-bold subtitle44px " data-aos="fade-down">
                    {{ 'ICT_SOLUTIONS.REGULATED_ENV.TITLE_1' | translate }} <span class="color-linearGradient">{{
                        'ICT_SOLUTIONS.REGULATED_ENV.HIGHLIGHT' | translate }}</span> {{
                    'ICT_SOLUTIONS.REGULATED_ENV.TITLE_2' | translate }}
                </h1>
                <p class="mb-0 colorWhite  style-font  subtitle24px p-head text-center">
                    {{ 'ICT_SOLUTIONS.REGULATED_ENV.DESC' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<app-our-service-flow></app-our-service-flow>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <h1 class=" subtitle40px font-bold mb-0 " data-aos=" fade-down"><span class="color-linearGradient">{{
                        'ICT_SOLUTIONS.CONTACT.HIGHLIGHT' | translate }}</span>{{ 'ICT_SOLUTIONS.CONTACT.TITLE_1' |
                    translate }}</h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">{{
                        'WEB_MOBILE_DEVELOPMENT.contactSection.button' | translate }}</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">
            {{ 'ICT_SOLUTIONS.CONTACT.DESC' | translate }}
        </p>
    </div>
</section>