.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  
  .logo-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
  }
  
  .logo-pulse {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(59, 130, 246, 0.2);
    animation: pulse 2s infinite;
  }
  
  .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    position: relative;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1.6);
      opacity: 0;
    }
  }
  app-root {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
@media (max-width:614px) {
  .logo-wrapper {
    width: 80%;
    height: 100%;
  }
}
.swal2-title{font-weight: 500;font-family: 'Inter Medium';}
.swal2-html-container{
  font-weight: 400;font-family: 'Inter';
}