<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle40px font-bold">Web & Mobile App Development</h1>
            <div class="d-flex fxWrapMb">
                <div class="font-medium  subtitle18px colorBlack d-flex gap-2">
                    <a routerLink="/ourServices/Software&Development"
                        class="font-medium mb-0 subtitle20px colorBlack">Software &
                        Development</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <span class="mb-0 color-linearGradient font-medium  subtitle18px">Web & Mobile App Development</span>
            </div>
        </div>
        <img src="assets/images/CodeServices/Software & Development/Web & Mobile App Development/Web and Mobile Development-min.jpeg"
            alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500"><span class="color-linearGradient">Modern Digital </span>Experiences. <br>
                    Built for
                    <span class="color-linearGradient">Performance.</span> <br>Designed for
                    <span class="color-linearGradient">Growth.</span>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">In today’s digital-first economy, your web and mobile
                    presence defines your brand, reach and impact.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb16 colorOne subtitle18px style-font">CODE’s Web & Mobile App Development services empower
                    organizations to build future-ready platforms that are fast,
                    secure, and user-centric.</p>
                <p class="mb16 colorOne subtitle18px style-font">Whether launching a customer-facing app, digitizing
                    internal operations, or enabling end-to-end
                    service delivery, we
                    combine strategy, UX design, and modern engineering to deliver solutions that scale.</p>
                <p class="mb-0 colorOne subtitle18px style-font">. Our native-first, security-by-design approach ensures
                    seamless performance across devices, regions and user segments
                    enabling your business to grow without limits.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="ourServiceFlow-titles mb24">
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center"> Your Digital Presence,
                <span class="color-linearGradient ">Elevated </span>
            </h1>
            <h4 class="text-center colorBlack subtitle20px font-medium"> Websites. Mobile Apps.
                Admin Dashboards — Seamlessly Connected.
            </h4>
        </div>
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">

                <h4 class="colorThree subtitle36px font-bold mb24">What
                    <span class="color-linearGradient ">We </span> Deliver
                </h4>
                <p class="font-medium subtitle18px colorBlack">Native & Cross-Platform Mobile Apps</p>
                <p class="style-font subtitle16px colorBlack">We build high-performance mobile applications using native
                    technologies for iOS and Android delivering speed,
                    reliability and exceptional UX. Prefer cross-platform? We deliver seamless solutions using modern
                    frameworks without
                    compromising quality.</p>
                <p class="font-medium subtitle18px colorBlack">Web Applications & Admin Portals </p>
                <p class="style-font subtitle16px colorBlack">From engaging websites to powerful dashboards, we develop
                    scalable, fast-loading web platforms using cloud-ready
                    technologies designed for ease of use, flexibility and growth.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <img src="assets/images/CodeServices/Software & Development/Web & Mobile App Development/Web and Mobile Development1-min.jpeg"
                    alt="image AI">
            </div>
        </div>
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <div class="boxBootom"></div>
                <p class="font-bold subtitle18px colorBlack">Business-Aligned Architecture</p>
                <p class="style-font subtitle16px colorBlack">Your goals drive our designs. We architect web and mobile
                    solutions tailored to your workflows, audience and objectives
                    whether you're a startup, SME, or enterprise.</p>
                <p class="font-bold subtitle18px colorBlack">Security & Performance by Design </p>
                <p class="style-font subtitle16px colorBlack">Our platforms are built with security, speed and
                    scalability at their core. Expect enterprise-grade backend systems,
                    responsive design and high availability all by default.</p>
                <p class="font-bold subtitle18px colorBlack">User-First Experience </p>
                <p class="style-font subtitle16px colorBlack">We design beautiful, intuitive interfaces that users love.
                    Every click, swipe and scroll is optimized for clarity,
                    engagement and conversion from frontend to backend.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxBootom"></div>
                <img src="assets/images/CodeServices/Software & Development/Web & Mobile App Development/Web and Mobile Development2-min.jpeg"
                    alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Backed by <span class="color-linearGradient ">CODE Care </span>Services</h1>
            <div class="d-flex align-items-center">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">From strategic consultation to
                    post-launch optimization, CODE is with you every step of the way. Our expert teams handle
                    system integration, seamless deployment and proactive performance monitoring ensuring reliability,
                    continuity and
                    lasting impact.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">

                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">Build Your <br> <span
                        class="color-linearGradient">Digital Flagship </span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Whether you're launching a new service, digitizing operations,
            or creating a standout user experience our web and mobile
            development team is here to turn your vision into reality.</p>
    </div>
</section>