<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle36px font-bold">Media Center </h1>
            <p class="font-medium mb-0 subtitle18px colorBlack">AI Solutions > <br><span
                    class="color-linearGradient">Media Center </span></p>
        </div>
        <img src="assets/images/CodeServices/Passive & Civil Work/Media Center/Media Center-min.jpg" alt="service image"
            data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">Designed for Performance. Built for
                    Impact.</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">Where <span class="color-linearGradient">Communication</span><br>
                    Meets <span class="color-linearGradient">Capability</span></h1>
                <p class="subtitle18px mb-0 style-font colorTwo">ODE’s Media Center solutions are designed for
                    organizations that need to communicate clearly, securely, and at scale.</p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class=" colorOne subtitle18px style-font mb16">Whether you're delivering public broadcasts, internal
                    briefings, or high-stakes updates, our custom-built Media Centers
                    combine resilient infrastructure with cutting-edge AV technology to ensure every message lands —
                    without delay or
                    disruption.</p>
                <p class="colorOne subtitle18px style-font mb-0">Built for use in government, public institutions, and
                    enterprise settings, each solution is tailored from the ground up
                    to support strategic communication goals.</p>

            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3 align-items-start">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">
                    Communicate <span class="color-linearGradient">Smarter.</span> <br>
                    Broadcast with <span class="color-linearGradient">Confidence.</span>
                </h4>
                <p class="font-bold subtitle18px colorBlack">Integrated AV & Display Systems</p>
                <p class="style-font subtitle16px colorBlack">Deliver professional-grade audio and video with built-in
                    broadcast tools, smart switching, and synchronized visual
                    outputs — optimized for control, clarity, and reach.</p>
                <p class="font-bold subtitle18px colorBlack">Real-Time Content Management</p>
                <p class="style-font subtitle16px colorBlack">Support live communication through multi-channel feeds,
                    internal dashboards, and connected presentation systems — all
                    operated from a secure control suite.</p>
                <p class="font-bold subtitle18px colorBlack">Purpose-Built for High Impact</p>
                <p class="style-font subtitle16px colorBlack">Each space is designed for both content creators and
                    decision-makers — with acoustic optimization, presenter zones, and
                    seamless operator workflows.</p>
                <p class="font-bold subtitle18px colorBlack">Secure, Always-On Environment</p>
                <p class="style-font subtitle16px colorBlack">Resilient infrastructure with controlled access,
                    UPS-backed continuity, and IT system integration — supporting
                    operations when they matter most.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <div class="boxBootom"></div>
                <img src="assets/images/CodeServices/Passive & Civil Work/Media Center/Media Center1-min.jpg"
                    alt="image AI">
            </div>
        </div>

    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Designed for <span class="color-linearGradient ">Vision 2030 </span>Engagement</h1>
            <div class="d-flex align-items-center flex-column gap-3">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">From public announcements to
                    internal strategy rollouts, CODE’s Media Centers help institutions across Saudi Arabia
                    communicate with speed, authority, and precision.</p>
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">
                    Designed for transparency, coordination, and digital transformation, they support the national drive
                    toward smarter,
                    more responsive public service.</p>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">Let's Build a <span
                        class="color-linearGradient">Space </span><br>
                    That <span class="color-linearGradient">Amplifies <br> Your Message</span></h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">See how CODE can design and deliver a Media Center that brings
            your voice to the people — with clarity, security, and
            purpose.</p>
    </div>
</section>