<section class="contactUsS1">
    <div class="contactUsS1-container px-120">
        <div class="d-flex fx-contactUsS1">
            <div class="contactUsS1-text">
                <span class="font-medium text-start subtitle24px color-linearGradient mb12 d-block">
                    {{ 'CONTACT.HERO.subTitle' | translate}}</span>
                <h1 class="font-bold subtitle64px colorBlack" data-aos="fade-down" data-aos-easing="linear">{{
                    'CONTACT.HERO.TITLE' | translate}}</h1>
                <p class="mb-0 colorOne subtitle20px style-font">
                    {{ 'CONTACT.HERO.Description' | translate}}
                </p>
            </div>
            <div class="contactUsS1-img">
                <img src="assets/images/contactS1.png" alt="contact image" data-aos="zoom-in">
            </div>
        </div>
    </div>
</section>
<section class="contactUsS2">
    <div class="contactUsS2-container px-120">
        <!-- <div class="d-flex fx-contactUsS2">
            <div class="contactUsS2-part1">
                <span class="color-linearGradient subtitle24px font-medium">Our Contacts</span>
                <h1 class="font-bold subtitle64px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">Get our all <span class="color-linearGradient">info</span><br>
                    <span class="color-linearGradient">directly</span> from here
                </h1>
            </div>
            <div class="contactUsS2-part2">
                <p class="mb-0 colorOne subtitle24px font-medium">CODE helps you define your business
                    requirements with precision, ensuring a clear roadmap to success. <br> <br>
                    Contact us to discover how we can support your business growth and streamline your path to
                    success.
                </p>
            </div>
        </div> -->
        <div class="d-flex flex-column divTitles">
            <span class="font-medium text-center subtitle24px color-linearGradient">
                {{ 'CONTACT.Sec1.subTitle' | translate}}</span>
            <h1 class="text-center font-bold subtitle48px" data-aos="fade-down">
                {{ 'CONTACT.Sec1.TITLE' | translate}}
            </h1>
            <p class="mb-0 text-center subtitle22px style-font">{{ 'CONTACT.Sec1.Description' | translate}}</p>
        </div>
        <div class="d-flex fxGeneral-cards align-items-start contactInfo">
            <div class="box fxCard">
                <img src="assets/images/Address-icon.svg" alt="Address icon" class="Icon">
                <div class="boxText">
                    <h3 class="colorBlack subtitle20px font-semiBold">{{ 'CONTACT.Sec1.Details1.TITLE' | translate}}
                    </h3>
                    <!-- <span class="colorBlack font-bold subtitle16px spanOne  d-block">HQ Office</span> -->
                    <span class="colorBlack style-font subtitle16px">
                        {{ 'CONTACT.Sec1.Details1.Description' | translate}}</span>
                </div>
            </div>
            <div class="box fxCard">
                <img src="assets/images/GetInTouch-icon.svg" alt="Get In Touch icon" class="Icon">
                <div class="boxText">
                    <h3 class="colorBlack subtitle20px font-semiBold">{{ 'CONTACT.Sec1.Details2.TITLE' | translate}}
                    </h3>
                    <span class="colorBlack style-font subtitle16px spanOne d-block">
                        {{ 'CONTACT.Sec1.Details2.Mobile' | translate}} <bdo dir="ltr">+966 11 471 0010</bdo></span>
                    <span class="colorBlack style-font subtitle16px">
                        {{ 'CONTACT.Sec1.Details2.E-mail' | translate}}
                    </span>
                </div>
            </div>
            <div class="box fxCard">
                <img src="assets/images/HourOfOperation-icon.svg" alt="Hour of operation icon" class="Icon">
                <div class="boxText">
                    <h3 class="colorBlack subtitle20px font-semiBold">{{ 'CONTACT.Sec1.Details3.TITLE' | translate}}
                    </h3>
                    <span class="colorBlack style-font subtitle16px spanOne d-block">
                        {{ 'CONTACT.Sec1.Details3.dayOpen' | translate}}</span>
                    <span class="colorBlack style-font subtitle16px">
                        {{ 'CONTACT.Sec1.Details3.dayClosed' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionMap">
    <iframe height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13110.473471824234!2d46.58496754484667!3d24.799350121937895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sIntersection%20of%20Al%20Khair%20Street%20Anas%20bin%20Malik%20Road%20Al%20Malqa%20District%20%E2%80%93%20Riyadh%2013524%20Saudi%20Arabia!5e1!3m2!1sen!2s!4v1750930893649!5m2!1sen!2s"></iframe>
</section>
<section class="contactUsBanner">
    <img [src]="'CONTACT-IMG.BANNER.IMAGE' | translate" alt="contact Banner" class="w-100" data-aos="zoom-in">
</section>
<section class="contactUsS3">
    <img src="assets/images/CONTACT-WORD.svg" alt="CONTACT WORD" class="contactWord">
    <div class="contactUsS3-container">
        <div class="contactUsS3-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">{{
                'CONTACT.Sec2.subTitle' | translate}}</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center " data-aos="fade-down"
                data-aos-easing="linear" data-aos-duration="500">{{ 'CONTACT.Sec2.TITLE' | translate}}</h1>
            <p class="style-font text-center colorTwo subtitle18px p-head">{{ 'CONTACT.Sec2.Description' | translate}}
            </p>
        </div>
        <div class="boxContact">
            <img src="assets/images/back-boxContact.png" alt="back boxContact" class="back-boxContact">
            <div class="d-flex fx-boxContact">
                <div class="boxContact-text">
                    <img src="assets/images/mailbox.svg" alt="mailbox icon">
                    <h1 class="font-bold colorBlack subtitle36px text-center">
                        {{ 'CONTACT.Sec2.titleContactBox' | translate }}
                    </h1>
                    <p class="style-font mb-0 subtitle16px colorOne text-center">
                        {{ 'CONTACT.Sec2.subtitleContactBox' | translate }}
                    </p>
                </div>

                <div class="boxContact-form">
                    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                        <div class="form-group">
                            <input type="text" name="fullName" [(ngModel)]="formData.fullName" #fullName="ngModel"
                                class="style-font subtitle16px"
                                placeholder="{{ 'CONTACT.Sec2.FORM.NAME_PLACEHOLDER' | translate }}" required />
                            <div *ngIf="fullName.invalid && fullName.touched" class="text-danger font-medium">
                                {{ 'CONTACT.Sec2.FORM.NAME_REQUIRED' | translate }}
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" [(ngModel)]="formData.email" #email="ngModel"
                                class="style-font subtitle16px"
                                placeholder="{{ 'CONTACT.Sec2.FORM.EMAIL_PLACEHOLDER' | translate }}" required />
                            <div *ngIf="email.invalid && email.touched" class="text-danger font-medium">
                                {{ 'CONTACT.Sec2.FORM.EMAIL_REQUIRED' | translate }}
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" name="subject" [(ngModel)]="formData.subject" #subject="ngModel"
                                class="style-font subtitle16px"
                                placeholder="{{ 'CONTACT.Sec2.FORM.SUBJECT_PLACEHOLDER' | translate }}" required />
                            <div *ngIf="subject.invalid && subject.touched" class="text-danger font-medium">
                                {{ 'CONTACT.Sec2.FORM.SUBJECT_REQUIRED' | translate }}
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea name="message" [(ngModel)]="formData.message" #message="ngModel"
                                class="style-font subtitle16px"
                                placeholder="{{ 'CONTACT.Sec2.FORM.MESSAGE_PLACEHOLDER' | translate }}"
                                required></textarea>
                            <div *ngIf="message.invalid && message.touched" class="text-danger font-medium">
                                {{ 'CONTACT.Sec2.FORM.MESSAGE_REQUIRED' | translate }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="d-flex fxButtonsForm">
                                <button type="button" class="btnCancel subtitle16px font-medium btn-hover"
                                    (click)="onCancel()">
                                    {{ 'CONTACT.Sec2.FORM.CANCEL' | translate }}
                                </button>
                                <button type="submit" [disabled]="loading || contactForm.invalid"
                                    class="subtitle16px font-medium colorWhite btn-linearGradient w-100">
                                    {{ loading ? ('CONTACT.Sec2.FORM.SENDING' | translate) : ('CONTACT.Sec2.FORM.SEND' |
                                    translate) }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>