<section class="serviceDetailsS4">
    <div class="serviceDetailsS4-container px-120">
        <div class="back-serviceDetailsS4 AISmartSecurityManagement" style="
              background: 
                                linear-gradient(rgba(45, 101, 178, 0.2), rgba(45, 101, 178, 0.3)),
                                radial-gradient(circle, rgba(34, 72, 134, 0.4) 0%, rgba(3, 32, 80, 0.4) 100%),
                                url('assets/images/AIPackages-services/AISmartSecurityManagement/s1.jpeg');">
            <div class="divText">
                <h1 class="subtitle36px font-bold">{{ 'AI_SECURITY_MANAGEMENT.HERO.TITLE' | translate }}</h1>
            </div>
        </div>
    </div>
</section>

<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">
                    <span class="color-linearGradient">{{ 'AI_SECURITY_MANAGEMENT.INTRO.TITLE_1' | translate }}</span>
                    {{ 'AI_SECURITY_MANAGEMENT.INTRO.TITLE_2' | translate }}
                    <span class="color-linearGradient">{{ 'AI_SECURITY_MANAGEMENT.INTRO.HIGHLIGHT' | translate }}</span>
                </h1>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb16 colorOne subtitle18px style-font">
                    {{ 'AI_SECURITY_MANAGEMENT.INTRO.DESC' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ai-security-section px-120 pt-5 pb-5 d-flex align-items-center justify-content-between fxColumnMb">
    <div class="ai-security-section-content w-100">
        <h2 class="subtitle48px font-bold colorOne mb24">
            {{ 'AI_SECURITY_MANAGEMENT.WHAT_IS.TITLE_1' | translate }} <span class="color-linearGradient">{{
                'AI_SECURITY_MANAGEMENT.WHAT_IS.HIGHLIGHT' | translate }}</span> {{
            'AI_SECURITY_MANAGEMENT.WHAT_IS.TITLE_2' | translate }}
        </h2>
        <p class="subtitle20px colorThree style-font mb24">
            {{ 'AI_SECURITY_MANAGEMENT.WHAT_IS.DESC_1_1' | translate }} <span class="font-bold colorOne">{{
                'AI_SECURITY_MANAGEMENT.WHAT_IS.DESC_1_BOLD' | translate }}</span> {{
            'AI_SECURITY_MANAGEMENT.WHAT_IS.DESC_1_2' | translate }}
        </p>

        <p class="subtitle20px colorThree style-font">
            {{ 'AI_SECURITY_MANAGEMENT.WHAT_IS.DESC_2_1' | translate }} <span
                class="ai-security-section-text-red font-medium">{{ 'AI_SECURITY_MANAGEMENT.WHAT_IS.DESC_2_BOLD' |
                translate }}</span>{{ 'AI_SECURITY_MANAGEMENT.WHAT_IS.DESC_2_2' | translate }}
        </p>
    </div>
    <div class="ai-security-section-grid w-100">

        <div class="ai-security-section-item d-flex flex-column gap-3">
            <div class="ai-security-section-icon-box raduis20 d-flex align-items-center justify-content-center">
                <img src="/assets/images/AIPackages-services/AISmartSecurityManagement/247IntelligentSurveillance.svg"
                    alt="24 / 7Intelligent Surveillance">
            </div>
            <h3 class="subtitle18px font-medium colorOne mb-0">{{ ('AI_SECURITY_MANAGEMENT.WHAT_IS.ITEMS' |
                translate)[0] }}</h3>
        </div>

        <div class="ai-security-section-item d-flex flex-column gap-3">
            <div class="ai-security-section-icon-box raduis20 d-flex align-items-center justify-content-center">
                <img src="/assets/images/AIPackages-services/AISmartSecurityManagement/SmartAccessControl.svg"
                    alt="Smart Access Control">
            </div>
            <h3 class="subtitle18px font-medium colorOne mb-0">{{ ('AI_SECURITY_MANAGEMENT.WHAT_IS.ITEMS' |
                translate)[1] }}</h3>
        </div>

        <div class="ai-security-section-item d-flex flex-column gap-3">
            <div class="ai-security-section-icon-box raduis20 d-flex align-items-center justify-content-center">
                <img src="/assets/images/AIPackages-services/AISmartSecurityManagement/Response.svg"
                    alt="Automated Incident Response">
            </div>
            <h3 class="subtitle18px font-medium colorOne mb-0">{{ ('AI_SECURITY_MANAGEMENT.WHAT_IS.ITEMS' |
                translate)[2] }}</h3>
        </div>

        <div class="ai-security-section-item d-flex flex-column gap-3">
            <div class="ai-security-section-icon-box raduis20 d-flex align-items-center justify-content-center">
                <img src="/assets/images/AIPackages-services/AISmartSecurityManagement/Detection.svg"
                    alt="Perimeter Intrusion Detection">
            </div>
            <h3 class="subtitle18px font-medium colorOne mb-0">{{ ('AI_SECURITY_MANAGEMENT.WHAT_IS.ITEMS' |
                translate)[3] }}</h3>
        </div>

        <div class="ai-security-section-item d-flex flex-column gap-3">
            <div class="ai-security-section-icon-box raduis20 d-flex align-items-center justify-content-center">
                <img src="/assets/images/AIPackages-services/AISmartSecurityManagement/Analysis.svg"
                    alt="Behavioral & Anomaly Analysis">
            </div>
            <h3 class="subtitle18px font-medium colorOne mb-0">{{ ('AI_SECURITY_MANAGEMENT.WHAT_IS.ITEMS' |
                translate)[4] }}</h3>
        </div>

        <div class="ai-security-section-item d-flex flex-column gap-3">
            <div class="ai-security-section-icon-box raduis20 d-flex align-items-center justify-content-center">
                <img src="/assets/images/AIPackages-services/AISmartSecurityManagement/Auditing.svg"
                    alt="Compliance Auditing & Event Logging">
            </div>
            <h3 class="subtitle18px font-medium colorOne mb-0">{{ ('AI_SECURITY_MANAGEMENT.WHAT_IS.ITEMS' |
                translate)[5] }}</h3>
        </div>

    </div>
</section>

<section class="comparison-section-wrapper">
    <div class="d-flex flex-column align-items-center mb-5">
        <h2 class="subtitle48px font-bold colorOne text-center mb16">
            {{ 'AI_SECURITY_MANAGEMENT.COMPARISON.TITLE_1' | translate }} <span class="color-linearGradient">{{
                'AI_SECURITY_MANAGEMENT.COMPARISON.HIGHLIGHT_1' | translate }}</span> {{
            'AI_SECURITY_MANAGEMENT.COMPARISON.TITLE_2' | translate }}
            <span class="color-linearGradient">{{ 'AI_SECURITY_MANAGEMENT.COMPARISON.HIGHLIGHT_2' | translate }}</span>
            {{ 'AI_SECURITY_MANAGEMENT.COMPARISON.TITLE_3' | translate }}
        </h2>
        <p class="subtitle20px colorThree style-font text-center mb-0">
            {{ 'AI_SECURITY_MANAGEMENT.COMPARISON.DESC_1' | translate }} <span class="font-bold">{{
                'AI_SECURITY_MANAGEMENT.COMPARISON.DESC_BOLD' | translate }}</span>{{
            'AI_SECURITY_MANAGEMENT.COMPARISON.DESC_2' | translate }}
        </p>
    </div>
    <div class="comparison-section-cards d-flex align-items-stretch">
        <div class="comparison-section-left">
            <div class="divTextOne">
                <h3 class="subtitle32px font-medium colorBlue">{{ 'AI_SECURITY_MANAGEMENT.COMPARISON.TRADITIONAL.TITLE'
                    | translate }}</h3>
            </div>
            <ul class="comparison-section-list d-flex flex-column p-0 m-0">
                <li *ngFor="let item of 'AI_SECURITY_MANAGEMENT.COMPARISON.TRADITIONAL.ITEMS' | translate"
                    class="d-flex align-items-center subtitle20px colorGrey3 font-medium">
                    <svg class="comparison-section-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="12" fill="#006EC6" />
                        <path d="M8 8L16 16M16 8L8 16" stroke="white" stroke-width="2.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <span class="mt-1">{{ item }}</span>
                </li>
            </ul>
        </div>
        <div class="divBorder"></div>
        <div class="comparison-section-right">
            <div class="divTextTwo">
                <h3 class="subtitle32px font-medium color-linearGradient">{{
                    'AI_SECURITY_MANAGEMENT.COMPARISON.SMART.TITLE' | translate }}</h3>
            </div>
            <ul class="comparison-section-list d-flex flex-column p-0 m-0">
                <li *ngFor="let item of 'AI_SECURITY_MANAGEMENT.COMPARISON.SMART.ITEMS' | translate"
                    class="d-flex align-items-center subtitle20px colorGrey3 font-medium">
                    <svg class="comparison-section-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="12" fill="url(#paint_ai_check)" />
                        <path d="M7 12.5L10 15.5L17 8.5" stroke="white" stroke-width="2.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <defs>
                            <linearGradient id="paint_ai_check" x1="24" y1="12" x2="0" y2="12"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#E74B62" />
                                <stop offset="1" stop-color="#FAA26B" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <span class="mt-1">{{ item }}</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="business-objectives-section">
    <div class="business-objectives-section-overlay"></div>
    <div class="business-objectives-section-content px-120">
        <div class="business-objectives-flex d-flex">
            <div class="business-objectives-section-header">
                <p class="subtitle18px font-medium business-objectives-section-pretitle mb12">
                    {{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.PRE_TITLE' | translate }}
                </p>
                <h2 class="subtitle48px font-bold colorWhite mb16">
                    <span class="color-linearGradient">{{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.HIGHLIGHT_1' | translate
                        }}</span> {{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.TITLE_1' | translate }}
                    <span class="color-linearGradient">{{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.HIGHLIGHT_2' | translate
                        }}</span>
                </h2>
                <p class="subtitle18px style-font business-objectives-section-subtitle mb-0 colorWhite">
                    {{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.DESC' | translate }}
                </p>
            </div>

            <div class="d-flex align-items-start fxTexts">
                <div class="business-objectives-section-indicator d-flex align-items-center">
                    <span class="business-objectives-section-dot"></span>
                    <span class="business-objectives-section-line"></span>
                </div>
                <p class="subtitle18px colorWhite style-font mb-0">
                    <span class="font-bold">{{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.1.BOLD' | translate }}</span> {{
                    'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.1.TEXT' | translate }}
                </p>
            </div>

            <div class="d-flex align-items-start fxTexts">
                <div class="business-objectives-section-indicator d-flex align-items-center">
                    <span class="business-objectives-section-dot"></span>
                    <span class="business-objectives-section-line"></span>
                </div>
                <p class="subtitle18px colorWhite style-font mb-0">
                    <span class="font-bold">{{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.2.BOLD' | translate }}</span> {{
                    'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.2.TEXT' | translate }}
                </p>
            </div>

            <div class="d-flex align-items-start fxTexts">
                <div class="business-objectives-section-indicator d-flex align-items-center">
                    <span class="business-objectives-section-dot"></span>
                    <span class="business-objectives-section-line"></span>
                </div>
                <p class="subtitle18px colorWhite style-font mb-0">
                    <span class="font-bold">{{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.3.BOLD' | translate }}</span> {{
                    'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.3.TEXT' | translate }}
                </p>
            </div>

            <div class="d-flex align-items-start fxTexts">
                <div class="business-objectives-section-indicator d-flex align-items-center">
                    <span class="business-objectives-section-dot"></span>
                    <span class="business-objectives-section-line"></span>
                </div>
                <p class="subtitle18px colorWhite style-font mb-0">
                    <span class="font-bold">{{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.4.BOLD' | translate }}</span> {{
                    'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.4.TEXT' | translate }}
                </p>
            </div>

            <div class="d-flex align-items-start fxTexts">
                <div class="business-objectives-section-indicator d-flex align-items-center">
                    <span class="business-objectives-section-dot"></span>
                    <span class="business-objectives-section-line"></span>
                </div>
                <p class="subtitle18px colorWhite style-font mb-0">
                    <span class="font-bold">{{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.5.BOLD' | translate }}</span> {{
                    'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.5.TEXT' | translate }}
                </p>
            </div>

            <div class="d-flex align-items-start fxTexts">
                <div class="business-objectives-section-indicator d-flex align-items-center">
                    <span class="business-objectives-section-dot"></span>
                    <span class="business-objectives-section-line"></span>
                </div>
                <p class="subtitle18px colorWhite style-font mb-0">
                    <span class="font-bold">{{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.6.BOLD' | translate }}</span> {{
                    'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.6.TEXT' | translate }}
                </p>
            </div>

            <div class="d-flex align-items-start fxTexts">
                <div class="business-objectives-section-indicator d-flex align-items-center">
                    <span class="business-objectives-section-dot"></span>
                    <span class="business-objectives-section-line"></span>
                </div>
                <p class="subtitle18px colorWhite style-font mb-0">
                    <span class="font-bold">{{ 'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.7.BOLD' | translate }}</span> {{
                    'AI_SECURITY_MANAGEMENT.OBJECTIVES.ITEMS.7.TEXT' | translate }}
                </p>
            </div>

        </div>
    </div>
</section>

<section class="tech-stack-section px-120">
    <div class="tech-stack-section-wrapper d-flex">
        <div class="tech-stack-section-col w-100 d-flex flex-column">
            <div class="tech-stack-section-header mb24">
                <p class="subtitle18px font-medium tech-stack-section-accent-text mb12">{{
                    'AI_SECURITY_MANAGEMENT.TECH_STACK.PRE_TITLE' | translate }}</p>
                <h2 class="subtitle48px font-bold colorOne mb-0">
                    {{ 'AI_SECURITY_MANAGEMENT.TECH_STACK.TITLE_1' | translate }}
                    <span class="color-linearGradient">{{ 'AI_SECURITY_MANAGEMENT.TECH_STACK.HIGHLIGHT' | translate
                        }}</span> {{ 'AI_SECURITY_MANAGEMENT.TECH_STACK.TITLE_2' | translate }}
                </h2>
            </div>
            <div class="tech-stack-section-card raduis20">
                <div class="tech-stack-section-num font-bold mb16">01</div>
                <div class="d-flex align-items-start contentSection">
                    <div class="tech-stack-section-line"></div>
                    <div>
                        <h4 class="subtitle20px font-bold colorThree mb-1">{{
                            'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.1.TITLE' | translate }}</h4>
                        <p class="subtitle16px colorGrey3 style-font mb-0">
                            {{ 'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.1.DESC' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="tech-stack-section-card raduis20">
                <div class="tech-stack-section-num font-bold mb16">02</div>
                <div class="d-flex align-items-start contentSection">
                    <div class="tech-stack-section-line"></div>
                    <div>
                        <h4 class="subtitle20px font-bold colorThree mb-1">{{
                            'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.2.TITLE' | translate }}</h4>
                        <p class="subtitle16px colorGrey3 style-font mb-0">
                            {{ 'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.2.DESC' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tech-stack-section-col tech-stack-section-col-right w-100 d-flex flex-column">
            <div class="tech-stack-section-card raduis20">
                <div class="tech-stack-section-num font-bold mb16">03</div>
                <div class="d-flex align-items-start contentSection">
                    <div class="tech-stack-section-line"></div>
                    <div>
                        <h4 class="subtitle20px font-bold colorThree mb-1">{{
                            'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.3.TITLE' | translate }}</h4>
                        <p class="subtitle16px colorGrey3 style-font mb-0">
                            {{ 'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.3.DESC' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="tech-stack-section-card raduis20">
                <div class="tech-stack-section-num font-bold mb16">04</div>
                <div class="d-flex align-items-start contentSection">
                    <div class="tech-stack-section-line"></div>
                    <div>
                        <h4 class="subtitle20px font-bold colorThree mb-1">{{
                            'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.4.TITLE' | translate }}</h4>
                        <p class="subtitle16px colorGrey3 style-font mb-0">
                            {{ 'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.4.DESC' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="tech-stack-section-card raduis20">
                <div class="tech-stack-section-num font-bold mb16">05</div>
                <div class="d-flex align-items-start contentSection">
                    <div class="tech-stack-section-line"></div>
                    <div>
                        <h4 class="subtitle20px font-bold colorThree mb-1">{{
                            'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.5.TITLE' | translate }}</h4>
                        <p class="subtitle16px colorGrey3 style-font mb-0">
                            {{ 'AI_SECURITY_MANAGEMENT.TECH_STACK.ITEMS.5.DESC' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sectionThree">
    <div class="sectionThree-container px-120">
        <div class="d-flex fx-sectionThree">
            <div *ngFor="let box of boxes; let i = index" class="d-flex sectionThree-box"
                [ngClass]="{'active': box.isActive}" (click)="onBoxClick(box)">

                <div class="d-flex align-items-center sectionThree-part1">
                    <p class="font-medium mb-0 subtitle28px">{{ i + 1 }}</p>
                    <p class="font-medium mb-0 rotate-p subtitle28px">{{ box.titleKey | translate }}</p>
                </div>

                <div class="sectionThree-part2" *ngIf="box.showPart2" [ngClass]="{'animate-part2': box.isAnimating}">
                    <h2 class="font-medium subtitle32px colorWhite">{{ box.titleKey | translate }}</h2>
                    <h1 class="font-bold subtitle48px" data-aos="fade-down">{{ box.subTitleKey | translate }}</h1>

                    <p class="style-font subtitle22px mt-2 mb-2">{{ box.contentKey | translate }}</p>

                    <ul class="style-font subtitle22px custom-list" *ngIf="box.listItems && box.listItems.length > 0">
                        <li *ngFor="let item of box.listItems" class="colorWhite">{{ item | translate }}</li>
                    </ul>

                    <p class="style-font subtitle22px mt-2 mb-0" *ngIf="box.footerContentKey">{{ box.footerContentKey |
                        translate }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="serviceDetailsS3 ">
    <div class="serviceDetailsS3-container px-120">
        <div class="ourServiceFlow-titles mb24">
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center">
                <span class="color-linearGradient"></span>
            </h1>
            <h4 class="text-center colorBlack subtitle20px font-medium">
            </h4>
        </div>
        <div class="d-flex fx-serviceDetailsS3 align-items-center">
            <div class="serviceDetailsS3-texts">
                <span class="color-linearGradient subtitle22px font-medium">{{
                    'AI_SECURITY_MANAGEMENT.DETAILS.COMMAND.PRE_TITLE' | translate }}</span>
                <h4 class="colorThree subtitle36px font-bold mb12">
                    {{ 'AI_SECURITY_MANAGEMENT.DETAILS.COMMAND.TITLE_1' | translate }}
                    <span class="color-linearGradient">{{ 'AI_SECURITY_MANAGEMENT.DETAILS.COMMAND.HIGHLIGHT' | translate
                        }}</span>
                </h4>
                <p class="font-medium subtitle20px colorBlack mb-1">{{ 'AI_SECURITY_MANAGEMENT.DETAILS.COMMAND.DESC_1' |
                    translate }}</p>
                <ul class="mb-1">
                    <li *ngFor="let item of 'AI_SECURITY_MANAGEMENT.DETAILS.COMMAND.ITEMS' | translate"
                        class="subtitle20px colorBlack font-medium ">{{ item }}</li>
                </ul>
                <p class="font-medium subtitle20px colorBlack">
                    {{ 'AI_SECURITY_MANAGEMENT.DETAILS.COMMAND.DESC_2' | translate }}
                </p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <img src="assets/images/AIPackages-services/AISmartSecurityManagement/1.jpeg" alt="image AI">
            </div>
        </div>

        <div class="d-flex fx-serviceDetailsS3 align-items-center">
            <div class="serviceDetailsS3-texts">
                <span class="color-linearGradient subtitle22px font-medium">{{
                    'AI_SECURITY_MANAGEMENT.DETAILS.ROI.PRE_TITLE' | translate }}</span>
                <h4 class="colorThree subtitle36px font-bold mb12">
                    {{ 'AI_SECURITY_MANAGEMENT.DETAILS.ROI.TITLE_1' | translate }}
                    <span class="color-linearGradient">{{ 'AI_SECURITY_MANAGEMENT.DETAILS.ROI.HIGHLIGHT' | translate
                        }}</span>
                </h4>
                <ul class="mb-1">
                    <li *ngFor="let item of 'AI_SECURITY_MANAGEMENT.DETAILS.ROI.ITEMS' | translate"
                        class="subtitle20px colorBlack font-medium ">{{ item }}</li>
                </ul>
                <p class="font-medium subtitle20px colorBlack">
                    {{ 'AI_SECURITY_MANAGEMENT.DETAILS.ROI.DESC_2' | translate }}
                </p>
            </div>

            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxBootom"></div>
                <img src="assets/images/AIPackages-services/AISmartSecurityManagement/2.jpg" alt="image AI">
            </div>
        </div>
    </div>
</section>

<section class="pricing-tiers-section">
    <div class="d-flex flex-column align-items-center">
        <p class="pricing-tiers-section-subtitle font-medium mb12">{{ 'AI_SECURITY_MANAGEMENT.PRICING.PRE_TITLE' |
            translate }}</p>
        <h2 class="subtitle48px font-bold colorOne text-center mb-0">
            <span class="color-linearGradient">{{ 'AI_SECURITY_MANAGEMENT.PRICING.HIGHLIGHT' | translate }}</span> {{
            'AI_SECURITY_MANAGEMENT.PRICING.TITLE' | translate }}
        </h2>
    </div>
    <div class="pricing-tiers-section-grid d-flex align-items-center justify-content-center gap-4">

        <div class="pricing-tiers-section-card w-100"
            [ngClass]="{'pricing-tiers-section-card-middle': activeCardId === 1}" (mouseenter)="activeCardId = 1"
            (mouseleave)="activeCardId = 2">
            <div class="pricing-tiers-section-ribbon-wrapper" *ngIf="activeCardId === 1">
                <div class="pricing-tiers-section-ribbon font-bold">{{ 'AI_SECURITY_MANAGEMENT.PRICING.RIBBON' |
                    translate }}</div>
            </div>
            <div class="pricing-tiers-section-badge d-flex justify-content-center align-items-center">
                <div class="badge-circle" *ngIf="activeCardId === 1">
                    <span class="subtitle20px font-bold colorWhite">01</span>
                </div>
                <span class="subtitle20px font-bold colorWhite" *ngIf="activeCardId !== 1">01</span>
            </div>
            <div class="pricing-tiers-section-content d-flex flex-column h-100">
                <div class="divfx-one">
                    <div class="pricing-tiers-title d-flex flex-column">
                        <h3 class="subtitle20px font-semiBold colorOne mb-2">{{
                            'AI_SECURITY_MANAGEMENT.PRICING.PACKAGES.BASIC.TITLE' | translate }}</h3>
                        <p class="subtitle14px colorThree style-font mb-0">{{
                            'AI_SECURITY_MANAGEMENT.PRICING.PACKAGES.BASIC.SUBTITLE' | translate }}</p>
                    </div>
                    <div class="pricing-tiers-section-divider"></div>
                    <ul class="d-flex flex-column pricing-tiers-list">
                        <li *ngFor="let item of 'AI_SECURITY_MANAGEMENT.PRICING.PACKAGES.BASIC.ITEMS' | translate"
                            class="d-flex align-items-center gap-2 subtitle14px colorOne font-medium">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12" cy="12" r="11" stroke="#F05D5B" stroke-width="1.5" />
                                <path d="M7 12.5L10 15.5L17 8.5" stroke="#F05D5B" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <button class="pricing-tiers-section-btn btn-linearGradient colorWhite font-medium subtitle14px"
                    (click)="openTalkCodeModal()">
                    {{ 'AI_SECURITY_MANAGEMENT.PRICING.BTN' | translate }}
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.5 10.5L10.5 3.5M10.5 3.5H4.5M10.5 3.5V9.5" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="pricing-tiers-section-card w-100"
            [ngClass]="{'pricing-tiers-section-card-middle': activeCardId === 2}" (mouseenter)="activeCardId = 2"
            (mouseleave)="activeCardId = 2">
            <div class="pricing-tiers-section-ribbon-wrapper" *ngIf="activeCardId === 2">
                <div class="pricing-tiers-section-ribbon font-bold">{{ 'AI_SECURITY_MANAGEMENT.PRICING.RIBBON' |
                    translate }}</div>
            </div>
            <div class="pricing-tiers-section-badge d-flex justify-content-center align-items-center">
                <div class="badge-circle" *ngIf="activeCardId === 2">
                    <span class="subtitle20px font-bold colorWhite">02</span>
                </div>
                <span class="subtitle20px font-bold colorWhite" *ngIf="activeCardId !== 2">02</span>
            </div>
            <div class="pricing-tiers-section-content d-flex flex-column h-100">
                <div class="divfx-one">
                    <div class="pricing-tiers-title d-flex flex-column">
                        <h3 class="subtitle20px font-bold colorOne mb-2">{{
                            'AI_SECURITY_MANAGEMENT.PRICING.PACKAGES.ADVANCE.TITLE' | translate }}</h3>
                        <p class="subtitle14px colorThree style-font mb-0">{{
                            'AI_SECURITY_MANAGEMENT.PRICING.PACKAGES.ADVANCE.SUBTITLE' | translate }}</p>
                    </div>
                    <div class="pricing-tiers-section-divider"></div>
                    <ul class="d-flex flex-column p-0 m-0 flex-grow-1 pricing-tiers-list">
                        <li *ngFor="let item of 'AI_SECURITY_MANAGEMENT.PRICING.PACKAGES.ADVANCE.ITEMS' | translate"
                            class="d-flex align-items-center gap-2 subtitle14px colorOne font-medium">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12" cy="12" r="12" fill="#F05D5B" />
                                <path d="M7 12.5L10 15.5L17 8.5" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <button class="pricing-tiers-section-btn btn-linearGradient colorWhite font-medium subtitle14px"
                    (click)="openTalkCodeModal()">
                    {{ 'AI_SECURITY_MANAGEMENT.PRICING.BTN' | translate }}
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.5 10.5L10.5 3.5M10.5 3.5H4.5M10.5 3.5V9.5" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="pricing-tiers-section-card w-100"
            [ngClass]="{'pricing-tiers-section-card-middle': activeCardId === 3}" (mouseenter)="activeCardId = 3"
            (mouseleave)="activeCardId = 2">
            <div class="pricing-tiers-section-ribbon-wrapper" *ngIf="activeCardId === 3">
                <div class="pricing-tiers-section-ribbon font-bold">{{ 'AI_SECURITY_MANAGEMENT.PRICING.RIBBON' |
                    translate }}</div>
            </div>
            <div class="pricing-tiers-section-badge d-flex justify-content-center align-items-center">
                <div class="badge-circle" *ngIf="activeCardId === 3">
                    <span class="subtitle20px font-bold colorWhite">03</span>
                </div>
                <span class="subtitle20px font-bold colorWhite" *ngIf="activeCardId !== 3">03</span>
            </div>
            <div class="pricing-tiers-section-content d-flex flex-column h-100">
                <div class="divfx-one">
                    <div class="pricing-tiers-title d-flex flex-column">
                        <h3 class="subtitle20px font-semiBold colorOne mb-2">{{
                            'AI_SECURITY_MANAGEMENT.PRICING.PACKAGES.PRO.TITLE' | translate }}</h3>
                        <p class="subtitle14px colorThree style-font mb-0">{{
                            'AI_SECURITY_MANAGEMENT.PRICING.PACKAGES.PRO.SUBTITLE' | translate }}</p>
                    </div>
                    <div class="pricing-tiers-section-divider"></div>
                    <ul class="d-flex flex-column pricing-tiers-list">
                        <li *ngFor="let item of 'AI_SECURITY_MANAGEMENT.PRICING.PACKAGES.PRO.ITEMS' | translate"
                            class="d-flex align-items-center gap-2 subtitle14px colorOne font-medium">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12" cy="12" r="11" stroke="#F05D5B" stroke-width="1.5" />
                                <path d="M7 12.5L10 15.5L17 8.5" stroke="#F05D5B" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <button class="pricing-tiers-section-btn btn-linearGradient colorWhite font-medium subtitle14px"
                    (click)="openTalkCodeModal()">
                    {{ 'AI_SECURITY_MANAGEMENT.PRICING.BTN' | translate }}
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.5 10.5L10.5 3.5M10.5 3.5H4.5M10.5 3.5V9.5" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="implementation-process-section">
    <div class="implementation-process-container px-135">
        <div class="implementation-process-section-header ">
            <p class="implementation-process-section-pretitle subtitle18px font-medium mb12">
                {{ 'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.PRE_TITLE' | translate }}
            </p>
            <h2 class="subtitle48px font-bold colorOne mb-0">
                {{ 'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.TITLE_1' | translate }} <span class="color-linearGradient">{{
                    'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.HIGHLIGHT' | translate }}</span> {{
                'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.TITLE_2' | translate }}
            </h2>
        </div>

        <div class="implementation-process-section-grid d-flex justify-content-between">
            <div class="implementation-process-section-card w-100 d-flex flex-column">
                <div class="implementation-process-section-icon-box d-flex">
                    <img src="assets/images/AIPackages-services/AISmartSecurityManagement/implementation-process-icon1.svg"
                        alt="implementation process icon" class="implementation-process-section-gear">
                </div>

                <div class="d-flex align-items-stretch w-100 divText">
                    <div
                        class="implementation-process-section-num implementation-process-section-color-blue d-flex align-items-center font-ExtraBold subtitle48px">
                        01</div>
                    <div class="implementation-process-section-timeline d-flex flex-column align-items-center">
                        <span
                            class="implementation-process-section-circle implementation-process-section-border-blue"></span>
                        <span class="implementation-process-section-line implementation-process-section-bg-blue"></span>
                        <span
                            class="implementation-process-section-circle implementation-process-section-border-blue"></span>
                    </div>
                    <div class="implementation-process-section-text py-1">
                        <h3 class="subtitle22px font-bold colorOne ">{{
                            'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.STEPS.1.TITLE' | translate }}</h3>
                        <p class="subtitle18px colorOne style-font mb-0">{{
                            'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.STEPS.1.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="implementation-process-section-card w-100 d-flex flex-column">
                <div class="implementation-process-section-icon-box d-flex">
                    <img src="assets/images/AIPackages-services/AISmartSecurityManagement/implementation-process-icon2.svg"
                        alt="implementation process icon" class="implementation-process-section-gear">
                </div>

                <div class="d-flex align-items-stretch w-100 divText">
                    <div
                        class="implementation-process-section-num implementation-process-section-color-coral d-flex align-items-center font-ExtraBold subtitle48px">
                        02</div>
                    <div class="implementation-process-section-timeline d-flex flex-column align-items-center">
                        <span
                            class="implementation-process-section-circle implementation-process-section-border-coral"></span>
                        <span
                            class="implementation-process-section-line implementation-process-section-bg-coral"></span>
                        <span
                            class="implementation-process-section-circle implementation-process-section-border-coral"></span>
                    </div>
                    <div class="implementation-process-section-text py-1">
                        <h3 class="subtitle22px font-bold colorOne ">{{
                            'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.STEPS.2.TITLE' | translate }}</h3>
                        <p class="subtitle18px colorOne style-font mb-0">{{
                            'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.STEPS.2.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="implementation-process-section-card w-100 d-flex flex-column">
                <div class="implementation-process-section-icon-box d-flex">
                    <img src="assets/images/AIPackages-services/AISmartSecurityManagement/implementation-process-icon3.svg"
                        alt="implementation process icon" class="implementation-process-section-gear">
                </div>

                <div class="d-flex align-items-stretch w-100 divText">
                    <div
                        class="implementation-process-section-num implementation-process-section-color-cyan d-flex align-items-center font-ExtraBold subtitle48px">
                        03</div>
                    <div class="implementation-process-section-timeline d-flex flex-column align-items-center">
                        <span
                            class="implementation-process-section-circle implementation-process-section-border-cyan"></span>
                        <span class="implementation-process-section-line implementation-process-section-bg-cyan"></span>
                        <span
                            class="implementation-process-section-circle implementation-process-section-border-cyan"></span>
                    </div>
                    <div class="implementation-process-section-text py-1">
                        <h3 class="subtitle22px font-bold colorOne ">{{
                            'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.STEPS.3.TITLE' | translate }}</h3>
                        <p class="subtitle18px colorOne style-font mb-0">{{
                            'AI_SECURITY_MANAGEMENT.IMPLEMENTATION.STEPS.3.DESC' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <h1 class="subtitle48px font-bold mb-0" data-aos="fade-down">
                    {{ 'AI_SECURITY_MANAGEMENT.CONTACT.TITLE_1' | translate }} <span class="color-linearGradient">{{
                        'AI_SECURITY_MANAGEMENT.CONTACT.HIGHLIGHT' | translate }}</span> {{
                    'AI_SECURITY_MANAGEMENT.CONTACT.TITLE_2' | translate }}
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">
                        {{ 'WEB_MOBILE_DEVELOPMENT.contactSection.button' | translate }}
                    </span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">
            {{ 'AI_SECURITY_MANAGEMENT.CONTACT.DESC' | translate }}
        </p>
    </div>
</section>