.modalJoinUs{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 90%;
    z-index: 99;
    transform: translate(-50%,-50%);
    padding: 72px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 1px 0px 10px 2px rgba(0, 0, 0, 0.11);
    overflow-y: auto;
    height: 90%;
    display: none;
}
.coverBack.show, .modal.show {
    display: block !important;
  }
  .coverBack.show{
    opacity: 1;
    visibility: visible;
    z-index: 98;
  }
.modalJoinUs .text-danger{font-size: 12px;}
.modalJoinUs .fxModal{
    gap: 22px;
    align-items: normal;
}
.modalJoinUs .fxModal .part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    gap: 16px;
}
.modalJoinUs .fxModal .part2{padding-right: 3rem;width: 60%;}
.modalJoinUs .fxModal .part1 .lineProgress{
    height: 100%;
    width: 2px;
    background: #EFF0F6;
    border-radius: 6px;
    position: relative;
    margin: auto;
}
.modalJoinUs .fxModal .part1 .lineProgress:after{
    position: absolute;
    content: "";
    height: 136px;
    width: 4px;
    background: linear-gradient(180deg, rgba(250, 162, 107, 0.88) 0%, rgba(231, 75, 98, 0.88) 163.46%);
    border-radius: 6px;
}
.modalJoinUs .fxInputs{
    gap: 12px;
}
.modalJoinUs .modal-content{position: relative;}
.modalJoinUs .modal-content .w50{
    flex: 1 1 calc(50% - 12px);
    max-width: calc(50% - 0px);
}
.modalJoinUs .modal-content .w100{
    flex: 1 1 calc(100% - 12px);
    max-width: calc(100% - 0px);
}
.modalJoinUs .modal-content .form-group{display: flex;flex-direction: column;}
.modalJoinUs .inputDesign{
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding: 0 16px;
    height:43px ;
    font-size: 14px;
    width: 100%;
}
.modalJoinUs .fxFormGroup{
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding: 0 16px;
    height:43px ;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.modalJoinUs .fxFormGroup input{
    width: 80%;
    font-size: 14px;
    border: none;
    height: 100%;
    padding: 0;
}
.modalJoinUs .fxFormGroup img{width: 18px;}
.modalJoinUs .textAreaDesign{
    height: 129px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding:16px;
    width: 100%;
}
.modalJoinUs .fxModal .part3{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
}
.modalJoinUs .fxModal .part3 .joinUsImage{width: 100%;}
.modalJoinUs .fxModal .part3 .closeIcon{
    display: block;
    margin-left: auto;
    cursor: pointer;
}
.modalJoinUs .fxModal .part3 .fxButtonsForm{
    margin-top: auto;
    gap: 8px;
}
.modalJoinUs .fxModal .part3 button{
    width: 50%;
    height: 43px;
    font-size: 14px;
    border-radius: 5px;
}
.modalJoinUs .fxModal .part3 .btnCancel{
    background: #FEEFE6;
    color: #FFAB86;
}
.inMobile{
    display: none;
    background: none;
    height: min-content;
}
/* Just for copy */
@media (min-width:1706.67px) {
    .modalJoinUs .fxModal .part3 button,
    .modalJoinUs .inputDesign,
    .modalJoinUs .fxFormGroup{height: 48px;font-size: 16px;}
    .modalJoinUs .fxInputs{gap: 18px;}
    .modalJoinUs{height: auto;}
}
@media (min-width:1920px) {
    .modalJoinUs .fxModal .part3 button,
    .modalJoinUs .inputDesign,
    .modalJoinUs .fxFormGroup{height: 60px;font-size: 18px;}
    .modalJoinUs .fxInputs{gap: 24px;}
}
@media (min-width:2048px) { 
    .modalJoinUs{width: 87%;}
}
@media (min-width:2304px) {
    .modalJoinUs{width: 82%;}
}
@media (min-width:3072px) {
    .modalJoinUs{width: 1900px;}
}
@media (max-width:1396.36px) {
    .modalJoinUs{padding: 56px;}
}
@media (max-width:1228.8px) {
    .modalJoinUs{padding: 32px;}
    .modalJoinUs .fxModal .part3 button,
    .modalJoinUs .inputDesign,
    .modalJoinUs .fxFormGroup{height: 38px;font-size: 12px;}
}
@media (max-width:1024px) {
    .modalJoinUs{padding: 24px;}
    .modalJoinUs .fxModal .part1 img{width: 50px;}
    .modalJoinUs .fxModal .part3 button,
    .modalJoinUs .inputDesign,
    .modalJoinUs .fxFormGroup{font-size: 11px;}
}
@media (max-width:877.71px) {
    .modalJoinUs .inputDesign,
    .modalJoinUs .fxFormGroup{padding: 12px;}
    .modalJoinUs .fxModal .part1{width: 10%;}
    .modalJoinUs .fxModal .part2{width: 60%;padding-right: 0;}
    .modalJoinUs .fxModal .part3{width: 30%;justify-content: center;gap: 24px;}
    .modalJoinUs .fxModal .part3 .fxButtonsForm{margin-top: 0;}
}
@media (max-width:768px) {}
@media (max-width:614.4px) {
    .modalJoinUs{z-index: 98;}
    .modalJoinUs .fxModal{flex-wrap: wrap;gap: 16px;}
    .modalJoinUs .fxModal .part1{width: 10%;}
    .modalJoinUs .fxModal .part2{width: 82%;}
    .modalJoinUs .fxModal .part3{width: 100%;}
    .inMobile{display: block;}
    .inMobile img{
        width: 25px;height: 100%;
    }
    .fxMobile{gap: 4px;}
    .modalJoinUs .fxModal .part1 img{width: 35px;}
    .modalJoinUs .fxModal .part3 .joinUsImage{display: none;}
    .modalJoinUs .fxModal .part3 .closeIcon{display: none;}
    .modalJoinUs .fxModal .part2 .subtitle36px {
        font-size: 24px;
        line-height: 140%;
    }
    .modalJoinUs .text-danger{font-size: 10px;}
    .modalJoinUs .modal-content .w50{
        flex: 1 1 calc(100% - 12px);
        max-width: calc(100% - 0px);
    }
}
@media (max-width:512px) {}