<section class="ourClientsS1">
    <div class="ourClientsS1-container px-120">
        <div class="ourClientsS1-content">
            <h1 class="font-bold subtitle48px colorWhite text-center" data-aos="fade-down">Built for <span
                    class="color-linearGradient">Impact. </span> Chosen for
                <span class="color-linearGradient">Reliability.</span>
            </h1>
            <p class="mb-0 style-font text-center colorWhite subtitle20px p-head">CODE is the partner of choice for
                institutions that demand performance, security, and
                long-term value.
            </p>
        </div>
    </div>
</section>
<section class="tabsLogos">
    <div class="tabsLogos-container px-120">
        <!-- Tabs -->
        <div class="justify-content-between fxBtns fxGeneral-cards">
            <button *ngFor="let tab of tabs" type="button" [ngClass]="getTabClasses(tab.key)"
                [style.background]="tab.bgColor" (click)="setActiveTab(tab.key)">
                {{ tab.label }}
            </button>
        </div>
        <!-- Logos Content -->
        <div class="contentsTabs">
            <div class="content fxGeneral-cards tab-content" *ngIf="tabContent[activeTab]">
                <div class="boxLogo fxCard" *ngFor="let item of tabContent[activeTab]">
                    <img [src]="item.image" [alt]="item.label + ' logo'" />
                    <span class="colorGrey2 font-medium">{{ item.label }}</span>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="sectionTitles">
    <div class="d-flex flex-column divTitles"><span
            class="font-medium text-center subtitle24px color-linearGradient">Trusted where it matters most</span>
        <h1 data-aos="fade-down" class="text-center font-bold subtitle48px aos-init aos-animate"> Chosen by <span
                class="color-linearGradient"> Leaders. </span> Built for <span
                class="color-linearGradient">Impact.</span></h1>
        <p class="mb-0 text-center subtitle24px style-font">Every partnership reflects our commitment to scalable
            technology, trusted delivery, and long-term impact.
            We work where performance matters most.</p>
    </div>
</section>
<!-- <app-people-saying></app-people-saying> -->

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24" data-aos="fade-down"
                    data-aos-easing="linear" data-aos-duration="1000"> Your Next Move Starts Here</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="zoom-in-up">Partner with <span
                        class="color-linearGradient">CODE</span> <br> Perform with <span
                        class="color-linearGradient">Confidence.</span></h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="router.navigate(['contactUs'])">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Talk to our team about future-focused solutions tailored to
            your organization’s needs.</p>
    </div>
</section>