<section class="servicesS1">
    <div class="servicesS1-container px-120">
        <div class="back-servicesS1" style="background-image:url('assets/images/AIPackages-services/hero.jpeg');">
            <div class="servicesS1-texts">
                <h1 class="subtitle44px colorThree font-bold">{{ 'AI_PACKAGES.HERO.TITLE' | translate }}</h1>
                <p class="mb-0 colorThree subtitle16px font-medium">
                    {{ 'AI_PACKAGES.HERO.DESC' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<app-services-s4></app-services-s4>

<section class="sectionEightNew">
    <div class="sectionEightNew-container px-120">
        <div class="d-flex fx-sectionEight">
            <div class="partOne">
                <img src="assets/images/AIPackages-services/1.png" alt="ExtendingIntelligence img">
            </div>
            <div class="partTwo d-flex flex-column justify-content-between">
                <h1 class="font-bold subtitle48px" data-aos="fade-down">
                    {{ 'AI_PACKAGES.WHAT_WE_OFFER.TITLE' | translate }}
                </h1>
                <p class="style-font subtitle24px">
                    {{ 'AI_PACKAGES.WHAT_WE_OFFER.SUBTITLE' | translate }}
                </p>

                <div *ngFor="let item of 'AI_PACKAGES.WHAT_WE_OFFER.ITEMS' | translate"
                    class="d-flex align-items-start lineCheck">
                    <img src="assets/images/HomePage/checkMark.svg" alt="check">
                    <p class="subtitle22px style-font colorTwo mb-0">
                        {{ item }}
                    </p>
                </div>

                <p class="subtitle22px style-font colorTwo mb-0 mt-3">
                    {{ 'AI_PACKAGES.WHAT_WE_OFFER.FOOTER' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="servicesS3">
    <div class="servicesS3-container px-120">
        <div class="ourServiceFlow-titles">
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">
                {{ 'AI_PACKAGES.OUR_PACKAGES.TITLE' | translate }}
            </h1>
            <p class="style-font text-center colorTwo subtitle20px p-head mb-0">
                {{ 'AI_PACKAGES.OUR_PACKAGES.DESC' | translate }}
            </p>
        </div>
        <div class="d-flex fx-servicesS3 fxGeneral-cards">
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                *ngFor="let card of serviceCards" (mouseenter)="onMouseEnter(card)" (mouseleave)="onMouseLeave(card)">

                <div class="divOne" [style.background]="'url('+ card.imageUrl +')'" [class.hidden]="card.isHovered">
                    <h3 class="font-bold subtitle22px colorWhite">{{ card.nameKey | translate }}</h3>
                    <div class="divArrow">
                        <a class="btn-hover" [routerLink]="card.link" routerLinkActive="active">
                            <img src="assets/images/arrow-linear.svg" alt="arrow-linear">
                        </a>
                    </div>
                </div>

                <div class="divTwo" [class.visible]="card.isHovered">
                    <p class="mb-0 font-medium colorWhite subtitle20px">{{ card.descKey | translate }}</p>
                    <div class="d-flex fxDescription align-items-center justify-content-between">
                        <h3 class="font-bold subtitle24px colorWhite">{{ card.nameKey | translate }}</h3>
                        <div class="divArrow">
                            <a class="btn-hover" [routerLink]="card.link" routerLinkActive="active">
                                <img src="assets/images/arrow-linear.svg" alt="arrow-linear">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sectionTexts">
    <div class="backSection">
        <div class="sectionTexts-container px-120 h-100">
            <div class="d-flex fx-sectionTexts align-items-center justify-content-center h-100">
                <div class="d-flex flex-column align-items-start fxTextTitles-one">
                    <span class="color-linearGradient font-bold subtitle40px text-start">{{
                        'AI_PACKAGES.INDEPENDENT_SOLUTIONS.TITLE_1' | translate }}</span>
                    <h1 class="colorWhite mb24 aos-init text-center font-bold subtitle40px text-start"
                        data-aos="fade-down">
                        {{ 'AI_PACKAGES.INDEPENDENT_SOLUTIONS.TITLE_2' | translate }}
                    </h1>
                    <p class="mb-0 subtitle22px style-font colorWhite text-start">
                        {{ 'AI_PACKAGES.INDEPENDENT_SOLUTIONS.DESC_1' | translate }}
                    </p>
                </div>
                <div class="d-flex fxTexts flex-column fxTextTitles-two">
                    <p class="colorWhite style-font subtitle22px p-head">
                        {{ 'AI_PACKAGES.INDEPENDENT_SOLUTIONS.DESC_2' | translate }}
                    </p>
                    <p class="mb-0 colorWhite style-font subtitle22px p-head">
                        {{ 'AI_PACKAGES.INDEPENDENT_SOLUTIONS.DESC_3' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="operational-section px-120 pt-5 pb-5">
    <div class="d-flex justify-content-between align-items-end mb24 fxColumnMb header-wrapper">
        <div class="header-text">
            <h2 class="subtitle48px font-bold colorOne mb16">
                {{ 'AI_PACKAGES.OPERATIONAL_ENV.TITLE_1' | translate }} <span class="color-linearGradient">{{
                    'AI_PACKAGES.OPERATIONAL_ENV.HIGHLIGHT' | translate }}</span><br>{{
                'AI_PACKAGES.OPERATIONAL_ENV.TITLE_2' | translate }}
            </h2>
            <p class="subtitle20px colorThree style-font mb-0">
                {{ 'AI_PACKAGES.OPERATIONAL_ENV.DESC' | translate }}
            </p>
        </div>

        <div class="slider-arrows d-flex gap-2 mb-3">
            <button (click)="slickModal.slickPrev()"
                class="arrow-btn prev-btn d-flex align-items-center justify-content-center transition3s bgNone">
                <img src="assets/images/rightBlog.svg" alt="Previous Slide" class="rightBlog transition3s ms-2"
                    style="cursor: pointer;">
            </button>

            <button (click)="slickModal.slickNext()"
                class="arrow-btn next-btn d-flex align-items-center justify-content-center transition3s bgNone">
                <img src="assets/images/leftBlog.svg" alt="Next Slide" class="leftBlog transition3s"
                    style="cursor: pointer;">
            </button>
        </div>
    </div>

    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slidesData" class="slide">
            <div class="content-cards d-flex gap-3 mb24">
                <div class="features-card raduis20 w-100 d-flex flex-column justify-content-center">
                    <ul class="features-list d-flex flex-column gap-3 mb-0">
                        <li *ngFor="let feature of slide.features"
                            class="d-flex align-items-center gap-2 subtitle18px font-medium colorWhite">
                            <svg class="check-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12" cy="12" r="10" fill="white" />
                                <path d="M8 12.5L10.5 15L16 9" stroke="#E74B62" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            {{ feature | translate }}
                        </li>
                    </ul>
                </div>
                <div class="image-card raduis20 w-100">
                    <img [src]="slide.image" class="w-100 h-100 raduis20 object-fit-cover" [alt]="slide.altText">
                </div>
            </div>
        </div>
    </ngx-slick-carousel>

    <div class="footer-text">
        <p class="subtitle18px colorThree style-font">
            {{ 'AI_PACKAGES.OPERATIONAL_ENV.FOOTER_1' | translate }} <span class="font-bold">{{
                'AI_PACKAGES.OPERATIONAL_ENV.FOOTER_BOLD' | translate }}</span>{{ 'AI_PACKAGES.OPERATIONAL_ENV.FOOTER_2'
            | translate }}
        </p>
    </div>
</section>

<section class="servicesS5">
    <div class="servicesS5-container px-120">
        <div class="ourServiceFlow-titles mb24 d-flex flex-column align-items-center">
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">
                {{ 'AI_PACKAGES.TECH_DELIVERS.TITLE_1' | translate }}
                <span class="color-linearGradient"> {{ 'AI_PACKAGES.TECH_DELIVERS.HIGHLIGHT' | translate }}</span>
                {{ 'AI_PACKAGES.TECH_DELIVERS.TITLE_2' | translate }}
            </h1>
            <p class="text-center colorBlack subtitle20px style-font">
                {{ 'AI_PACKAGES.TECH_DELIVERS.DESC' | translate }}
            </p>
        </div>
        <div class="fxServicesS5 fxGeneral-cards">
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/servicesS5/BuiltforSaudiInfrastructure.svg"
                    alt="Built for Saudi Infrastructure">
                <h3 class="font-semiBold subtitle20px text-center">
                    {{ 'AI_PACKAGES.TECH_DELIVERS.CARDS.ARCHITECTURE.TITLE' | translate }}
                </h3>
                <p class="text-center subtitle18px style-font mb-0">
                    {{ 'AI_PACKAGES.TECH_DELIVERS.CARDS.ARCHITECTURE.DESC' | translate }}
                </p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/servicesS5/Client-AlignedArchitecture.svg" alt="Client Aligned Architecture">
                <h3 class="font-semiBold subtitle20px text-center">
                    {{ 'AI_PACKAGES.TECH_DELIVERS.CARDS.SAUDI.TITLE' | translate }}
                </h3>
                <p class="text-center subtitle18px style-font mb-0">
                    {{ 'AI_PACKAGES.TECH_DELIVERS.CARDS.SAUDI.DESC' | translate }}
                </p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/servicesS5/FullLifecycleSupport.svg" alt="Full Life cycle Support">
                <h3 class="font-semiBold subtitle20px text-center">
                    {{ 'AI_PACKAGES.TECH_DELIVERS.CARDS.PARTNERSHIP.TITLE' | translate }}
                </h3>
                <p class="text-center subtitle18px style-font mb-0">
                    {{ 'AI_PACKAGES.TECH_DELIVERS.CARDS.PARTNERSHIP.DESC' | translate }}
                </p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/servicesS5/Enterprise-GradeSecurity.svg" alt="Enterprise GradeSecurity">
                <h3 class="font-semiBold subtitle20px text-center">
                    {{ 'AI_PACKAGES.TECH_DELIVERS.CARDS.SECURITY.TITLE' | translate }}
                </h3>
                <p class="text-center subtitle18px style-font mb-0">
                    {{ 'AI_PACKAGES.TECH_DELIVERS.CARDS.SECURITY.DESC' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<app-our-service-flow></app-our-service-flow>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <h1 class=" subtitle48px font-bold mb-0 " data-aos=" fade-down">
                    {{ 'AI_PACKAGES.CONTACT.TITLE' | translate }}
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">{{ 'AI_PACKAGES.CONTACT.BTN' | translate
                        }}</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">
            {{ 'AI_PACKAGES.CONTACT.DESC' | translate }}
        </p>
    </div>
</section>