<section class="sectionOne">
    <div class="sectionOne-container px-120">
        <h1 class="font-bold text-center">{{ 'HOME.HERO.TITLE' | translate }}
        </h1>
        <!-- <p class=" font-medium p-head text-center">Inspire your
            vision</p> -->
        <div class="d-flex fx-sectionOne">
            <div class="d-flex justify-content-between align-items-end part1-sectionOne">
                <img src="assets/images/img-sectionOne.png" alt="img section One" class="img-sectionOne">
                <div class="texts-side">
                    <div class="d-flex fxHead-texts align-items-center">
                        <span class="font-bold colorThree">{{ 'HOME.HERO.subTitle' | translate }}</span>
                        <!-- <div class="border"></div> -->
                    </div>
                    <p class="style-font subtitle20px colorBlack">{{ 'HOME.HERO.Description' | translate }}</p>
                    <!-- <div class="d-flex fxLast-texts">
                        <img src="assets/images/arrow-linear.svg" alt="arrow linear"
                            class="arrow-linear">
                        <p class="mb-0 style-font subtitle20px colorBlack">is constantly rising and the need to
                            be the best is greater
                            than ever
                            before.</p>
                    </div> -->
                </div>
                <div class="button-side">
                    <button class="btn-linearGradient" type="button"
                        (click)="router.navigate(['/ourServices/AISolutions'])">
                        <span class="font-semiBold colorWhite subtitle20px">{{ 'HOME.HERO.BUTTON' | translate
                            }}</span>
                        <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                    </button>
                </div>
            </div>
            <div class="d-flex part2-sectionOne">
                <div class="d-flex flex-column fxBox-num">
                    <div class="d-flex fx-number">
                        <h2 class="font-semiBold subtitle48px">10</h2>
                        <img src="assets/images/plusLinear.svg" alt="plusLinear icon" class="">
                    </div>
                    <p class="font-light mb-0 subtitle16px colorBlack text-capitalize">
                        {{ 'HOME.HERO.Statistic.YearsOfExperience' | translate}}</p>
                </div>
                <div class="d-flex flex-column fxBox-num">
                    <div class="d-flex fx-number">
                        <h2 class="font-semiBold subtitle48px">97</h2>
                        <img src="assets/images/plusLinear.svg" alt="plusLinear icon" class="">
                    </div>
                    <p class="font-light mb-0 subtitle16px colorBlack text-capitalize">
                        {{ 'HOME.HERO.Statistic.CompletedProjects' | translate}}
                    </p>
                </div>
                <div class="d-flex flex-column fxBox-num">
                    <div class="d-flex fx-number">
                        <h2 class="font-semiBold subtitle48px">85</h2>
                        <img src="assets/images/plusLinear.svg" alt="plusLinear icon" class="">
                    </div>
                    <p class="font-light mb-0 subtitle16px colorBlack text-capitalize">
                        {{ 'HOME.HERO.Statistic.HappyClients' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionTwo">
    <div class="sectionTwo-container px-120">
        <div class="d-flex fx-sectionTwo">
            <div class="part1-sectionTwo">
                <h4 class="font-medium color-linearGradient subtitle24px">{{ 'HOME.Sec1.subTitle' | translate }}</h4>
                <h1 class="font-bold mb-0 subtitle48px" data-aos="fade-down">
                    {{ 'HOME.Sec1.TITLE' | translate }}
                </h1>
            </div>
            <p class="style-font mb-0 subtitle24px">{{ 'HOME.Sec1.Description' | translate }}</p>
        </div>
        <!-- <div class="fx-sectionTwoImgs d-flex align-items-center">
            <img src="assets/images/sectionTwo-img1.png" alt="Who we are img" class="sectionTwo-img1"
                data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
            <img src="assets/images/sectionTwo-img2.png" alt="Who we are img" class="sectionTwo-img2"
                data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
            <div class="d-flex justify-content-center  fx-columnImages">
                <img src="assets/images/sectionTwo-img3.png" alt="Who we are img" class="sectionTwo-img3"
                    data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
                <img src="assets/images/sectionTwo-img4.png" alt="Who we are img" class="sectionTwo-img4"
                    data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
            </div>
        </div> -->
    </div>
</section>
<div class="sectionNewOne">
    <div class="sectionNewOne-container px-120">
        <div class="d-flex fx-sectionNewOne align-items-center">
            <div class="partOne">
                <div class="sectionNewOne-part1">
                    <h1 class="font-bold mb24 subtitle48px" data-aos="fade-down">
                        How We Help
                    </h1>
                </div>
                <p class="style-font mb24 subtitle22px">CODE delivers AI-driven systems that turn fragmented
                    environments
                    into connected, intelligent operations.</p>
                <p class="style-font mb-0 subtitle22px">We combine AI, real-time data, and operational platforms to help
                    organizations:</p>
            </div>
            <div class="partTwo style-font raduis30">
                <div class="d-flex  justify-content-between fx-partTwo  raduis30 ">
                    <div class="d-flex flex-column ulCustom">
                        <div class="d-flex align-items-center mb24 lineCheck">
                            <img src="assets/images/HomePage/check_icon.png" alt="check">
                            <p class="subtitle20px font-medium colorGrey3 mb-0">reduce risk</p>
                        </div>

                        <div class="d-flex align-items-center mb24 lineCheck">
                            <img src="assets/images/HomePage/check_icon.png" alt="check">
                            <p class="subtitle20px font-medium colorGrey3 mb-0">improve response time</p>
                        </div>

                        <div class="d-flex align-items-center mb24 lineCheck">
                            <img src="assets/images/HomePage/check_icon.png" alt="check">
                            <p class="subtitle20px font-medium colorGrey3 mb-0">operate more efficiently</p>
                        </div>

                        <div class="d-flex align-items-center mb24 lineCheck">
                            <img src="assets/images/HomePage/check_icon.png" alt="check">
                            <p class="subtitle20px font-medium colorGrey3 mb-0">make decisions with confidence</p>
                        </div>

                    </div>
                    <div class="fxCardPublic">
                        <img src="assets/images/HomePage/sectionNewOne-img.png" alt="img" class="raduis30 w-100">
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>
<section class="ai-impact-section px-120">
    <div class="container text-center">
        <h2 class="subtitle48px font-bold mb24">
            Where AI Creates the <span class="color-linearGradient">Most Immediate Impact</span>
        </h2>

        <div class="tabs-nav d-flex justify-content-center">
            <button (click)="setActiveTab('security')"
                [ngClass]="activeTab === 'security' ? 'btn-linearGradient colorWhite' : 'btn-light-inactive'"
                class="subtitle24px font-semiBold ">
                <span>AI Smart Security Management</span>
            </button>
            <button (click)="setActiveTab('facility')"
                [ngClass]="activeTab === 'facility' ? 'btn-linearGradient colorWhite' : 'btn-light-inactive'"
                class="subtitle24px font-semiBold ">
                <span>AI Smart Facility Management</span>
            </button>
        </div>

        <div *ngIf="activeTab === 'security'" class="tab-content-wrapper d-flex flex-column">
            <div class="d-flex  text-start securitySection">
                <div class="partOne d-flex flex-column">
                    <p class="color-linearGradient font-medium subtitle22px">See It in Action</p>
                    <h3 class="subtitle32px font-bold">
                        Detect earlier. Respond faster. Stay ahead.
                    </h3>
                    <p class="subtitle18px colorBlack2 style-font">
                        AI-powered security operations that help you move from reactive monitoring to proactive threat
                        prevention.
                    </p>
                </div>

                <div class="partTwo d-flex flex-column justify-content-between ">
                    <h3 class="subtitle22px font-bold colorOne">Available in tiers to match your needs:</h3>
                    <div class="d-flex tier-items justify-content-between">
                        <div class="tier-item">
                            <span class="tier-number font-bold">1</span>
                            <h4 class="font-semiBold subtitle22px colorTwo">Basic</h4>
                            <p class="subtitle18px colorGrey3 colorTwo style-font">Compliance-ready visibility</p>
                        </div>
                        <div class="tier-item">
                            <span class="tier-number font-bold">2</span>
                            <h4 class="font-semiBold subtitle22px colorTwo">Advanced</h4>
                            <p class="subtitle18px colorGrey3 colorTwo style-font">AI-driven detection and prevention
                            </p>
                        </div>
                        <div class="tier-item">
                            <span class="tier-number font-bold">3</span>
                            <h4 class="font-semiBold subtitle22px colorTwo">Pro</h4>
                            <p class="subtitle18px colorGrey3 colorTwo style-font">Predictive intelligence & automated
                                response</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-card raduis30 position-relative">
                <video #videoAISmartSecurity class="mainVideo" [attr.src]="AISmartSecurityVideo.src"
                    [controls]="isVideoPlaying" muted crossorigin="anonymous" (pause)="onVideoPause()"
                    (ended)="onVideoPause()" poster="assets/images/img-sectionOne.png">
                    Your browser does not support the video tag.
                </video>

                <div class="divBtn-video" *ngIf="!isVideoPlaying">
                    <button class="play-btn" (click)="playVideo()">
                        <img src="assets/images/HomePage/palyVideoIcon.svg" alt="playVideo icon">
                    </button>
                </div>
                <div class="card-overlay" *ngIf="!isVideoPlaying"></div>
                <div class="d-flex flex-column justify-content-end align-items-start card-text" *ngIf="!isVideoPlaying">
                    <h3 class="colorWhite font-bold subtitle36px">See Threats Before They Escalate</h3>
                    <p class="colorWhite subtitle16px font-medium">Real-time AI detection, behavior analysis, and
                        coordinated response across complex security environments.
                    </p>
                </div>
            </div>
        </div>

        <div *ngIf="activeTab === 'facility'" class="tab-content-wrapper">
            <div class="d-flex  text-start securitySection">
                <div class="partOne d-flex flex-column">
                    <p class="color-linearGradient font-medium subtitle22px">See It in Action</p>
                    <h3 class="subtitle32px font-bold">
                        Operate smarter. Prevent failures. Optimize continuously.
                    </h3>
                    <p class="subtitle18px colorBlack2 style-font">Real-time intelligence for buildings and assets that
                        helps you reduce downtime, improve safety, and control costs.</p>
                </div>

                <div class="partTwo d-flex flex-column justify-content-between ">
                    <h3 class="subtitle22px font-bold colorOne">Available in tiers to match your needs:</h3>
                    <div class="d-flex tier-items justify-content-between">
                        <div class="tier-item">
                            <span class="tier-number font-bold">1</span>
                            <h4 class="font-semiBold subtitle22px colorTwo">Basic</h4>
                            <p class="subtitle18px colorGrey3 colorTwo style-font">Operational visibility and safety
                                monitoring</p>
                        </div>
                        <div class="tier-item">
                            <span class="tier-number font-bold">2</span>
                            <h4 class="font-semiBold subtitle22px colorTwo">Advanced</h4>
                            <p class="subtitle18px colorGrey3 colorTwo style-font">Predictive maintenance and
                                optimization
                            </p>
                        </div>
                        <div class="tier-item">
                            <span class="tier-number font-bold">3</span>
                            <h4 class="font-semiBold subtitle22px colorTwo">Pro</h4>
                            <p class="subtitle18px colorGrey3 colorTwo style-font">Fully automated, intelligent facility
                                control</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-card raduis30 position-relative">
                <video #videoAISmartFacility class="mainVideo" [attr.src]="AISmartfacilityVideo.src"
                    [controls]="isVideoAiSmartfacilityPlaying" muted crossorigin="anonymous"
                    (pause)="onVideoAISmartfacilityPause()" (ended)="onVideoAISmartfacilityPause()"
                    poster="assets/images/img-sectionOne.png">
                    Your browser does not support the video tag.
                </video>

                <div class="divBtn-video" *ngIf="!isVideoAiSmartfacilityPlaying">
                    <button class="play-btn" (click)="playVideoAISmartfacility()">
                        <img src="assets/images/HomePage/palyVideoIcon.svg" alt="playVideo icon">
                    </button>
                </div>
                <div class="card-overlay" *ngIf="!isVideoAiSmartfacilityPlaying"></div>
                <div class="d-flex flex-column justify-content-end align-items-start card-text"
                    *ngIf="!isVideoAiSmartfacilityPlaying">
                    <h3 class="colorWhite font-bold subtitle36px">From Reactive to Predictive Operations</h3>
                    <p class="colorWhite subtitle16px font-medium">AI-powered facility intelligence that enables safer,
                        more efficient, and more resilient operations.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionEightNew">
    <div class="sectionEightNew-container px-120">
        <div class="d-flex fx-headSection align-items-center">
            <div class="part1Header">
                <h1 class="font-bold mb-0 subtitle48px" data-aos="fade-down">
                    Extending Intelligence Across Operations
                </h1>
            </div>
            <div class="part2Header">
                <p class="style-font mb-0 subtitle24px">As operational needs expand, we support broader intelligence,
                    integration, and transformation initiatives, including:</p>
            </div>
        </div>
        <div class="d-flex fx-sectionEight">
            <div class="partOne">
                <img src="assets/images/HomePage/Extending-Intelligence.png" alt="ExtendingIntelligence img">
            </div>
            <div class="partTwo">
                <div class="d-flex align-items-start lineCheck">
                    <img src="assets/images/HomePage/checkMark.svg" alt="check">
                    <p class="subtitle22px style-font colorTwo mb-0">AI Packages for smart cities, command starts,
                        and intelligent venues</p>
                </div>
                <div class="d-flex align-items-start lineCheck">
                    <img src="assets/images/HomePage/checkMark.svg" alt="check">
                    <p class="subtitle22px style-font colorTwo mb-0">Core AI capabilities such as AI Digital Twins,
                        AI Computer Vision, and automation</p>
                </div>
                <div class="d-flex align-items-start lineCheck">
                    <img src="assets/images/HomePage/checkMark.svg" alt="check">
                    <p class="subtitle22px style-font colorTwo mb-0">Digital Transformation Services covering
                        Enterprise Architecture, NDMO-aligned data governance, and DGA consulting</p>
                </div>
                <div class="d-flex align-items-start lineCheck">
                    <img src="assets/images/HomePage/checkMark.svg" alt="check">
                    <p class="subtitle22px style-font colorTwo mb-0">ICT platforms & infrastructure designed for
                        scalability, reliability, and secure integration</p>
                </div>
                <p class="subtitle22px style-font colorTwo mb-0">All solutions are designed to work independently or
                    together, allowing organizations to expand
                    capabilities without
                    disruption, based on their priorities.</p>
            </div>
        </div>
    </div>
</section>
<!-- <section class="sectionThree">
    <div class="sectionThree-container px-120">
        <div class="d-flex flex-column gap24 sectionThree-titles">
            <span class="font-medium text-center subtitle24px color-linearGradient">
                {{ 'HOME.Sec2.subTitle' | translate }}</span>
            <h1 class="text-center font-bold subtitle48px" data-aos="fade-down">
                {{ 'HOME.Sec2.TITLE' | translate }}
            </h1>
            <p class=" text-center subtitle22px style-font">{{ 'HOME.Sec2.Description' | translate }}</p>
        </div>
        <div class="d-flex fx-sectionThree">
            <div *ngFor="let box of boxes; let i = index" class="d-flex sectionThree-box"
                [ngClass]="{'active': box.isActive}" (click)="onBoxClick(box)">
                <div class="d-flex align-items-center sectionThree-part1">
                    <p class="font-medium mb-0">{{ i + 1 }}</p>
                    <p class="font-medium mb-0 rotate-p">{{ box.titleKey | translate }}</p>
                </div>
                <div class="sectionThree-part2" *ngIf="box.showPart2" [ngClass]="{'animate-part2': box.isAnimating}">
                    <h2 class="font-medium subtitle32px colorWhite">{{ box.titleKey | translate }}</h2>
                    <h1 class="font-bold subtitle48px" data-aos="fade-down">{{ box.subTitleKey | translate }}</h1>
                    <p class="style-font subtitle24px">{{ box.contentKey | translate }}</p>
                    <button [routerLink]="'/ourServices/' + box.pathBtn" type="button"
                        class="font-medium d-flex align-items-center justify-content-center">
                        {{ 'COMMON.learnMore' | translate }}
                    </button>
                </div>
            </div>

        </div>
    </div>
</section> -->
<!-- <section class="sectionVideos">
    <div class="sectionVideos-container ">
        <div class="divTitles">
            <span class="font-medium text-center subtitle24px color-linearGradient d-block span-head">{{
                'HOME.Sec3.subTitle' | translate }}</span>
            <h1 class="text-center font-bold subtitle48px h1-head">{{ 'HOME.Sec3.TITLE' | translate }}</h1>
            <p class="mb-0 text-center subtitle20px style-font">{{ 'HOME.Sec3.Description' | translate }}</p>
        </div>
        <div class="divVideo  px-120">
            <img src="assets/images/AL-POWER.svg" alt="AL POWER Word" class="AL-POWER">
            <div class="fx-Videos">
                <div class="divMainVideo" *ngIf="mainVideo">
                    <div class="mainVideo-text">
                        <h3 class="subtitle36px font-bold color-two">{{ 'VIDEOS.Video1.Title' | translate }}</h3>
                        <p class="subtitle16px style-font color-two mb-0">{{ 'VIDEOS.Video1.SubTitle' | translate }}</p>
                    </div>

                    <video #videoPlayer class="mainVideo" [attr.src]="mainVideo.src" controls muted
                        crossorigin="anonymous" poster="assets/images/backVideo.jfif">
                        Your browser does not support the video tag. </video>
                    <video #videoPlayer class="mainVideo" controls muted crossorigin="anonymous">
                        <source [attr.src]="mainVideo.src" [attr.type]="mainVideo.type">
                        Your browser does not support the video tag.
                    </video>

                </div>
                <div class="d-flex video-thumbnails fxGeneral-cards">
                    <div class="thumbnail" *ngFor="let video of plyrList" (click)="changeVideo(video)">
                        <img src="assets/images/play-button.svg" alt="play-button" class="play-button">
                        <img [src]="video.img" alt="{{ video.title }}" class="imgVideo">
                        <div class="thumbnail-text">
                            <h3 class="subtitle16px font-bold colorWhite">{{ 'VIDEOS.Video1.Title' | translate }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->

<section class="sectionFive">
    <div class="sectionFive-container">
        <h1 class="text-center font-bold subtitle48px">{{ 'HOME.Sec4.TITLE' | translate }}</h1>
        <ngx-slick-carousel class="sliderLogos sliderLogos1 m-sliderLogos" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let logo of logos" class="slide">
                <img [src]="logo" alt="logo" />
            </div>
        </ngx-slick-carousel>

        <ngx-slick-carousel class="sliderLogos sliderLogos2" [config]="slideConfiglogos2">
            <div ngxSlickItem *ngFor="let logo of logos2" class="slide">
                <img [src]="logo" alt="logo" />
            </div>
        </ngx-slick-carousel>

    </div>
</section>
<section class="sectionFour">
    <div class="sectionFour-container px-120">
        <div class="d-flex fx-sectionFour">
            <div class="sectionFour-part1">
                <img [src]="slidesBlogs[0].img" #imgActive alt="Active Slide Image" class="slideActive imgActive"
                    id="imgActive">
            </div>
            <div class="sectionFour-part2">
                <span class="color-linearGradient font-medium subtitle24px">
                    {{ 'BLOGS.featuredArticles' | translate }}
                </span>
                <h1 class="font-bold subtitle48px" #slideTitle id="slideTitle">
                    {{ slidesBlogs[0].titleKey | translate }}
                </h1>

                <ngx-slick-carousel #slickModalBlogs="slick-carousel" class="sliderBlogs" [config]="slideBlog"
                    (beforeChange)="onBeforeChange($event)">
                    <div ngxSlickItem *ngFor="let slide of slidesBlogs">
                        <div class="slide">
                            <img [src]="slide.img" alt="Blog image" class="slideImage" />
                        </div>
                    </div>
                </ngx-slick-carousel>

                <div class="d-flex fxTexts align-items-start mt-3">
                    <div class="fxTexts-part1">
                        <p class="style-font mb-0" #slideText id="slideText" (click)="onReadMoreClick($event)">
                            {{ slidesBlogs[0].shortTextKey | translate }}
                            <b class="color-linearGradient readMoreBtn" style="cursor:pointer;">
                                {{ 'BLOGS.readMore' | translate }}
                            </b>
                        </p>
                    </div>
                    <div class="arrows-blogs d-flex align-items-center ms-3">
                        <img src="assets/images/rightBlog.svg" alt="Next Slide" class="rightBlog transition3s ms-2"
                            style="cursor:pointer;" (click)="prevSlideBlog()">
                        <img src="assets/images/leftBlog.svg" alt="Previous Slide" class="leftBlog transition3s"
                            style="cursor:pointer;" (click)="nextSlideBlog()">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<app-section-insights></app-section-insights>
<section class="sectionSeven">
    <div class="sectionSeven-container px-120">
        <div class="d-flex fx-sectionSeven">
            <div class="sectionSeven-part1">
                <span class="font-medium color-linearGradient subtitle24px d-block">Straight to the Point</span>
                <h1 class="subtitle48px font-bold" data-aos=" fade-down">Frequently Asked Questions</h1>
            </div>
            <div class="d-flex flex-column gap24 sectionSeven-part2">
                <div *ngFor="let faq of faqs; let i = index" class="faqBox" [class.active]="activeIndex === i">
                    <div class="d-flex justify-content-between faqBox-head transition3s" (click)="toggleFaq(i)">
                        <h4 class="subtitle20px font-semiBold">{{ faq.questionKey | translate }}</h4>
                        <img [src]="activeIndex === i ? 'assets/images/minus-circle.svg' : 'assets/images/plus-circle.svg'"
                            alt="icon" class="faq-icon"
                            [style.transform]="activeIndex === i ? 'rotate(180deg)' : 'rotate(0deg)'" />
                    </div>
                    <div class="boxText" *ngIf="activeIndex === i">
                        <p class="style-font mb-0">{{ faq.answerKey | translate }}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- @slideFade -->
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">

                <h1 class=" subtitle40px font-bold mb-0">{{ 'HOME.Sec5.TITLE' | translate }}</h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">{{'btnTalk' | translate}}</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">{{ 'HOME.Sec5.Description' | translate }}</p>
    </div>
</section>