<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle48px font-bold">Data Engineering & Management</h1>
            <p class="font-medium mb-0 subtitle20px colorBlack">AI Solutions > <br><span
                    class="color-linearGradient">Data Engineering & Management</span></p>
        </div>
        <img src="assets/images/CodeServices/Data & Cloud Engineering/Data Engineering & Management/Data Engineering & Management-min.jpg"
            alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle20px font-medium spanHead">Turning Data into Actionable
                    Advantage</span>
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">From Raw Data to <span class="color-linearGradient">Trusted Insight </span>
                    — Built for
                    with <span class="color-linearGradient">Scale</span> and <span
                        class="color-linearGradient">Simplicity</span>
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">At CODE, we help you turn scattered, unstructured data
                    into trusted, scalable assets. </p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb-0 colorOne subtitle18px style-font">Our Data Engineering & Management solutions cover the
                    full data lifecycle — from advanced data preparation to automated
                    model deployment — ensuring every step adds value.
                    <br><br>
                    With secure platforms and intuitive tools, both technical teams and business users can collaborate,
                    accelerate insights,
                    and enforce governance with ease. Whether you're building machine learning pipelines or
                    standardizing reporting across
                    departments, CODE helps you stay agile, compliant, and impact-driven.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24"> What It
                    <span class="color-linearGradient ">Delivers </span>
                </h4>
                <p class="font-bold subtitle18px colorBlack">Unified Data Access</p>
                <p class="style-font subtitle16px colorBlack">Connect, clean, and work with structured and unstructured
                    data across your entire cloud or on-premise infrastructure —
                    with 30+ connectors and custom integration.</p>
                <p class="font-bold subtitle18px colorBlack">Self-Service Analytics</p>
                <p class="style-font subtitle16px colorBlack">Empower both technical and non-technical teams to run
                    their own analysis with code optional interfaces, visual
                    workflows, and AI-driven recommendations.</p>
                <p class="font-bold subtitle18px colorBlack">Collaborative Machine Learning</p>
                <p class="style-font subtitle16px colorBlack">Build, deploy, and monitor predictive models using visual
                    workflows or your preferred code environment — with full
                    version control, automation, and A/B testing support.</p>
                <p class="font-bold subtitle18px colorBlack">Governance & Cataloging</p>
                <p class="style-font subtitle16px colorBlack">Track lineage, manage access rights, and catalog every
                    asset to improve data quality, visibility, and collaboration
                    across departments.</p>
                <p class="font-bold subtitle18px colorBlack">Real-Time Deployment & Monitoring</p>
                <p class="style-font subtitle16px colorBlack">Automate workflows, retrain models, and monitor
                    performance in real time using built-in dashboards and alerting tools.</p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Data & Cloud Engineering/Data Engineering & Management/Data Engineering & Management1-min.jpg"
                    alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Built for Vision <span class="color-linearGradient ">2030 Transformation </span></h1>
            <div class="d-flex align-items-center ">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">From predictive maintenance to
                    smarter public services, data is the foundation of digital transformation. <br> <br>
                    CODE enables Saudi organizations to scale safely, collaborate efficiently, and operationalize data
                    science projectsthat deliver impact.</p>
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle20px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down"> Let's <span
                        class="color-linearGradient">Simplify </span>How You Work with Data
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Looking to connect your teams, improve data quality, or deploy
            AI at scale? <br> Let’s talk about how CODE’s Data Engineering
            & Management solutions can help.</p>
    </div>
</section>