<section class="servicesS4">
    <div class="servicesS4-container px-120">
        <div class="fxServicesS4 fxGeneral-cards ">
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/AISolutions"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/AISolutions.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">AI solutions</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Automation&Security"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Automation&Security.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Automation & Security</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/DigitalHealthcare"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/DigitalHealthcare.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Digital Healthcare</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Passive&CivilWork"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Passive&CivilWork.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Passive & Civil Work</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Data&CloudEngineering"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Data&CloudEngineering.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Data & Cloud Engineering</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic " routerLink="/ourServices/Software&Development"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Software&Development.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Software & Development</span>
            </a>
        </div>
    </div>
</section>