<section class="servicesS1">
    <div class="servicesS1-container px-120">
        <div class="back-servicesS1"
            style="background-image:url('assets/images/CodeServices/Passive & Civil Work/Passive & Civil Work.png');">
            <div class="servicesS1-texts">
                <h1 class="subtitle36px colorThree font-bold"> <span class="color-linearGradient">Smart Spaces</span>
                    Engineered for
                    <span class="color-linearGradient">Strategic Impact</span>
                </h1>
                <p class="mb-0 colorThree subtitle16px font-medium">CODE’s Passive & Civil Work offering delivers the
                    physical foundation for intelligent operations — from secure command
                    centers and collaborative war rooms to fully integrated environments supporting real-time
                    decision-making. </p>
            </div>
        </div>
    </div>
</section>
<app-services-s4></app-services-s4>
<section class="servicesS3">
    <div class="servicesS3-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for
                Performance. Built for Impact.</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">
                <span class="color-linearGradient">Operational Spaces</span> That Scale with
                <span class="color-linearGradient">Ambition</span>
            </h1>
            <p class="style-font text-center colorTwo subtitle20px p-head mb-0">These spaces aren’t just built — they’re
                engineered for performance, resilience, and alignment with Saudi Arabia’s
                Vision 2030. We combine infrastructure, audiovisual systems, data integration, and environmental
                controls to deliver
                turnkey solutions that empower your teams to operate smarter, communicate clearly, and act decisively.
            </p>
        </div>
        <div class="d-flex fx-servicesS3 fxGeneral-cards">

            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/Passive & Civil Work/CommandCenters.jpg');">
                <h3 class="font-bold subtitle24px colorWhite">Command & Control Centers</h3>
                <div class="divArrow">
                    <a class="btn-hover" routerLink="/ourServices/Passive&CivilWork" routerLinkActive="active"><img
                            src="assets/images/arrow-linear.svg" alt="arrow-linear"></a>
                </div>
            </div>

            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/Passive & Civil Work/Media Center-min.jpg');">
                <h3 class="font-bold subtitle24px colorWhite">Media Centers</h3>
                <div class="divArrow">
                    <a class="btn-hover" routerLink="/ourServices/Passive&CivilWork" routerLinkActive="active"><img
                            src="assets/images/arrow-linear.svg" alt="arrow-linear"></a>
                </div>
            </div>

            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/Passive & Civil Work/NOC & SOC-min.jpg');">
                <h3 class="font-bold subtitle24px colorWhite">SOC & NOC Environments</h3>
                <div class="divArrow">
                    <a class="btn-hover" routerLink="/ourServices/Passive&CivilWork" routerLinkActive="active"><img
                            src="assets/images/arrow-linear.svg" alt="arrow-linear"></a>
                </div>
            </div>
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/Passive & Civil Work/Smart Meeting Rooms.jpg');">
                <h3 class="font-bold subtitle24px colorWhite">Smart Meeting Rooms</h3>
                <div class="divArrow">
                    <a class="btn-hover" routerLink="/ourServices/Passive&CivilWork" routerLinkActive="active"><img
                            src="assets/images/arrow-linear.svg" alt="arrow-linear"></a>
                </div>
            </div>
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/Passive & Civil Work/Theatres & BRC.png');">
                <h3 class="font-bold subtitle24px colorWhite">Business Research Centers & Theatres </h3>
                <div class="divArrow">
                    <a class="btn-hover" routerLink="/ourServices/Passive&CivilWork" routerLinkActive="active"><img
                            src="assets/images/arrow-linear.svg" alt="arrow-linear"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="servicesS5">
    <div class="servicesS5-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">End-to-End Delivery.
                Custom-Tailored to You.</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">One Partner.
                <span class="color-linearGradient">Total Integration..</span>
            </h1>
            <p class="style-font text-center colorTwo subtitle20px p-head mb-0">CODE manages the entire process — from
                architectural layout and structured cabling to audiovisual systems, power
                continuity, and smart technology integration. Each space is custom-designed and locally adapted to match
                your
                operational goals, risk profile, and regulatory context.</p>
        </div>
        <div class="fxServicesS5 fxGeneral-cards ">
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/CodeServices/Passive & Civil Work/img1.svg"
                    alt=" Fully integrated infrastructure">
                <p class="text-center  subtitle18px style-font mb-0">Fully integrated infrastructure with centralized
                    dashboards</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/CodeServices/Passive & Civil Work/img2.svg" alt="UPS, access control">
                <p class="text-center  subtitle18px style-font mb-0">UPS, access control, and environmental management
                    built-in</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/CodeServices/Passive & Civil Work/img3.svg" alt="Seamless connection">
                <p class="text-center  subtitle18px style-font mb-0">Seamless connection to Digital Twins, Command
                    Centers, and AI platforms</p>
            </div>
            <div class="fxCardPublic align-items-center d-flex flex-column">
                <img src="assets/images/CodeServices/Passive & Civil Work/img4.svg" alt="Implemented for entities">
                <p class="text-center  subtitle18px style-font mb-0">Implemented for entities across both public  and
                    private sectors</p>
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                Built to Serve <span class="color-linearGradient ">Vision 2030 </span></h1>
            <div class="d-flex align-items-center">
                <p class="mb-0 colorWhite  style-font text-center subtitle20px p-head">CODE’s Passive & Civil Work
                    environments are more than infrastructure — they are active enablers of national
                    transformation.
                    <br> <br>
                    From ministries to enterprises, we help institutions deliver stronger services, boost public trust,
                    and drive
                    operational excellence. Whether for critical response or strategic communication, we build the
                    spaceswhere impact begins.
                </p>
            </div>
        </div>
    </div>
</section>
<app-our-service-flow></app-our-service-flow>
<section class=" contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24">Your Next Move
                    Starts
                    Here</span>
                <h1 class=" subtitle40px font-bold mb-0" data-aos=" fade-down"> Let’s Build the Environment
                    Your
                    <span class="color-linearGradient">Mission Deserves</span>
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Launching a national center? Upgrading internal operations?
            Setting a new benchmark in public service delivery? CODE is
            ready to help.</p>
    </div>
</section>