<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree subtitle36px font-bold">{{ 'RCM.Sections.S1.Title' | translate }}</h1>
            <div class="d-flex fxWrapMb">
                <div class="font-medium subtitle18px colorBlack d-flex gap-2">
                    <a routerLink="/ourServices/DigitalHealthcare" class="font-medium mb-0 subtitle20px colorBlack">
                        {{ 'RCM.Sections.S1.Breadcrumb1' | translate }}
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <span class="mb-0 color-linearGradient font-medium subtitle18px">
                    {{ 'RCM.Sections.S1.Breadcrumb2' | translate }}
                </span>
            </div>
        </div>
        <img src="assets/images/CodeServices/Digital Healthcare/RCM/RCM-min.jpg" alt="service image" data-aos="zoom-in">
    </div>
</section>

<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2 align-items-end">
            <div class="serviceDetailsS2-part1">
                <h1 class="font-bold subtitle40px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">
                    {{ 'RCM.Sections.S2.MainTitle' | translate }}
                </h1>
                <p class="subtitle18px mb-0 style-font colorTwo">
                    {{ 'RCM.Sections.S2.Subtitle1' | translate }}
                </p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb24 colorOne subtitle18px style-font">
                    {{ 'RCM.Sections.S2.Description1' | translate }}
                </p>
                <p class="mb24 colorOne subtitle18px style-font">
                    {{ 'RCM.Sections.S2.Description2' | translate }}
                </p>
                <p class="mb-0 colorOne subtitle18px style-font">
                    {{ 'RCM.Sections.S2.Description3' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">
                    {{ 'RCM.Sections.S3.SecurityTitle' | translate }}
                </h4>
                <p class="style-font subtitle18px colorBlack mb16">
                    {{ 'RCM.Sections.S3.SecurityDescription' | translate }}
                </p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Digital Healthcare/RCM/RCM1-min.jpg" alt="image AI">
            </div>
        </div>

        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle36px font-bold mb24">
                    {{ 'RCM.Sections.S3.AutomationTitle' | translate }}
                </h4>

                <p class="font-bold subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point1Title' | translate }}
                </p>
                <p class="style-font subtitle16px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point1Desc' | translate }}
                </p>

                <p class="font-bold subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point2Title' | translate }}
                </p>
                <p class="style-font subtitle16px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point2Desc' | translate }}
                </p>

                <p class="font-bold subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point3Title' | translate }}
                </p>
                <p class="style-font subtitle16px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point3Desc' | translate }}
                </p>

                <p class="font-bold subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point4Title' | translate }}
                </p>
                <p class="style-font subtitle16px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point4Desc' | translate }}
                </p>

                <p class="font-bold subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point5Title' | translate }}
                </p>
                <p class="style-font subtitle16px colorBlack">
                    {{ 'RCM.Sections.S3.AutomationPoints.Point5Desc' | translate }}
                </p>


            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Digital Healthcare/RCM/RCM2-min.jpg" alt="image AI">
            </div>
        </div>
    </div>
</section>

<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">
                {{ 'RCM.Sections.S6.Title' | translate }}
            </h1>
            <div class="d-flex align-items-center">
                <p class="mb-0 colorWhite style-font text-center subtitle20px p-head">
                    {{ 'RCM.Sections.S6.Description' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="color-three subtitle36px font-bold mb24">
                    {{ 'RCM.Sections.S3.ResultsTitle' | translate }}
                </h4>
                <p class="style-font subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.ResultsDescription' | translate }}
                </p>

                <p class="font-bold subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.ResultsPoints.Point1Title' | translate }}
                </p>
                <p class="style-font subtitle16px colorBlack">
                    {{ 'RCM.Sections.S3.ResultsPoints.Point1Desc' | translate }}
                </p>

                <p class="font-bold subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.ResultsPoints.Point2Title' | translate }}
                </p>
                <p class="style-font subtitle16px colorBlack">
                    {{ 'RCM.Sections.S3.ResultsPoints.Point2Desc' | translate }}
                </p>

                <p class="font-bold subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.ResultsPoints.Point3Title' | translate }}
                </p>
                <p class="style-font subtitle16px colorBlack">
                    {{ 'RCM.Sections.S3.ResultsPoints.Point3Desc' | translate }}
                </p>

                <p class="font-bold subtitle18px colorBlack">
                    {{ 'RCM.Sections.S3.ResultsPoints.Point4Title' | translate }}
                </p>
                <p class="style-font subtitle16px colorBlack">
                    {{ 'RCM.Sections.S3.ResultsPoints.Point4Desc' | translate }}
                </p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <img src="assets/images/CodeServices/Digital Healthcare/RCM/RCM3-min.jpg" alt="image AI">
            </div>
        </div>
    </div>
</section>

<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(assets/images/imageAI-7.png);">
            <div class="contactSection-texts">
                <h1 class="subtitle40px font-bold mb-0" data-aos="fade-down">
                    {{ 'RCM.Sections.Contact.Title' | translate }}
                </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">
                        {{ 'RCM.Sections.Contact.Button' | translate }}
                    </span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">
            {{ 'RCM.Sections.Contact.Description' | translate }}
        </p>
    </div>
</section>