<!-- sidenav -->
<aside
    class="fixed inset-y-0 flex-wrap items-center justify-between block w-full p-0 my-4 overflow-y-auto antialiased transition-transform duration-200 -translate-x-full bg-white border-0 shadow-xl dark:shadow-none dark:bg-slate-850 max-w-64 ease-nav-brand z-990 xl:ml-6 rounded-2xl xl:left-0 xl:translate-x-0"
    aria-expanded="false">

    <!-- Logo -->
    <div class="h-19 relative flex justify-center items-center py-6">
        <i class="absolute top-0 right-0 p-4 opacity-50 cursor-pointer fas fa-times dark:text-white text-slate-400 xl:hidden"
            sidenav-close></i>
        <a class="flex items-center justify-center text-sm whitespace-nowrap dark:text-white text-slate-700"
            href="https://demos.creative-tim.com/argon-dashboard-tailwind/pages/dashboard.html" target="_blank">
            <img src="/assets/images/logo.svg"
                class="inline h-full max-h-8 transition-all duration-200 dark:hidden ease-nav-brand" alt="main_logo" />
        </a>
    </div>

    <hr
        class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />

    <!-- Menu Items -->
    <div class="items-center block w-auto overflow-auto grow basis-full">
        <ul class="flex flex-col pl-0 mb-0">

            <!-- Dashboard -->
            <li class="mt-1 w-full">
                <a class="py-2 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 transition-colors"
                    routerLink="home" routerLinkActive="bg-blue-500/13 text-slate-700 font-semibold">
                    <div
                        class="mr-2 flex h-10 w-10 items-center justify-center rounded-lg bg-blue-100 dark:bg-blue-500/20 text-center xl:p-2.5">
                        <i class="text-blue-500 ni ni-tv-2 text-lg"></i>
                    </div>
                    <span class="ml-2">Dashboard</span>
                </a>
            </li>

            <!-- News -->
            <li class="mt-1 w-full">
                <a class="py-2 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 transition-colors"
                    routerLink="news/table" routerLinkActive="bg-blue-500/13 text-slate-700 font-semibold">
                    <div
                        class="mr-2 flex h-10 w-10 items-center justify-center rounded-lg bg-orange-100 dark:bg-orange-500/20 text-center xl:p-2.5">
                        <i class="text-orange-500 ni ni-calendar-grid-58 text-lg"></i>
                    </div>
                    <span class="ml-2">News</span>
                </a>
            </li>
            <!-- Services -->
            <li class="mt-1 w-full">
                <a class="py-2 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 transition-colors"
                    routerLink="services/table" routerLinkActive="bg-blue-500/13 text-slate-700 font-semibold">
                    <div
                        class="mr-2 flex h-10 w-10 items-center justify-center rounded-lg bg-orange-100 dark:bg-orange-500/20 text-center xl:p-2.5">
                        <i class="text-orange-500 ni ni-calendar-grid-58 text-lg"></i>
                    </div>
                    <span class="ml-2">Services</span>
                </a>
            </li>
            <!-- Services -->
            <li class="mt-1 w-full">
                <a class="py-2 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 transition-colors"
                    routerLink="sub-services/table" routerLinkActive="bg-blue-500/13 text-slate-700 font-semibold">
                    <div
                        class="mr-2 flex h-10 w-10 items-center justify-center rounded-lg bg-orange-100 dark:bg-orange-500/20 text-center xl:p-2.5">
                        <i class="text-orange-500 ni ni-calendar-grid-58 text-lg"></i>
                    </div>
                    <span class="ml-2">Sub Services</span>
                </a>
            </li>
            <!-- Users -->
            <li class="mt-1 w-full">
                <a class="py-2 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 transition-colors"
                    routerLink="users/table" routerLinkActive="bg-blue-500/13 text-slate-700 font-semibold">
                    <div
                        class="mr-2 flex h-10 w-10 items-center justify-center rounded-lg bg-cyan-100 dark:bg-cyan-500/20 text-center xl:p-2.5">
                        <i class="text-cyan-500 ni ni-single-02 text-lg"></i>
                    </div>
                    <span class="ml-2">Users</span>
                </a>
            </li>

            <!-- Back To Home Page -->
            <li class="mt-1 w-full">
                <a class="py-2 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 transition-colors"
                    routerLink="/">
                    <div
                        class="mr-2 flex h-10 w-10 items-center justify-center rounded-lg bg-purple-100 dark:bg-purple-500/20 text-center xl:p-2.5">
                        <i class="text-purple-500 ni ni-app text-lg"></i>
                    </div>
                    <span class="ml-2">Back To Home Page</span>
                </a>
            </li>

            <!-- Account Section -->
            <li class="w-full mt-4">
                <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase dark:text-white opacity-60">
                    Account Pages
                </h6>
            </li>

            <!-- Profile -->
            <li class="mt-1 w-full">
                <a class="py-2 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 transition-colors"
                    [routerLink]="['updateProfile', this.userId]">
                    <div
                        class="mr-2 flex h-10 w-10 items-center justify-center rounded-lg bg-slate-100 dark:bg-slate-700/20 text-center xl:p-2.5">
                        <i class="text-slate-700 dark:text-white ni ni-single-02 text-lg"></i>
                    </div>
                    <span class="ml-2">My Profile</span>
                </a>
            </li>

            <!-- Logout -->
            <li class="mt-1 w-full">
                <a class="py-2 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 transition-colors"
                    (click)="logout()">
                    <div
                        class="mr-2 flex h-10 w-10 items-center justify-center rounded-lg bg-red-100 dark:bg-red-500/20 text-center xl:p-2.5">
                        <i class="text-red-500 ni ni-collection text-lg"></i>
                    </div>
                    <span class="ml-2">Logout</span>
                </a>
            </li>

        </ul>
    </div>

</aside>
<!-- end sidenav -->