<footer>
    <div class="footer-container px-120">
        <div class="fxGeneral-cards fxFooter">
            <div class="fxFooter-part2 fxGeneral-cards-st d-flex flex-column text-center">
                <img src="assets/images/logo.svg" alt="code logo" class="logo">
                <p class="style-font subtitle20px">Your Partner for AI Solutions That Connect Vision with
                    Real-World Impact</p>
                <span class="style-font subtitle20px">Get in Touch <br> sales&#64;code.sa</span>
                <div class="d-flex align-items-center fxFooter-icons ">
                    <a href="https://www.linkedin.com/company/advance-code-it/posts/?feedView=all"
                        class="transition3s"><img src="assets/images/linkedInFooter.svg" alt="linkedIn icon"></a>

                    <!-- <a href="" class="transition3s"><img src="assets/images/facebook-icon.svg" alt="facebook icon"></a>
                    <a href="" class="transition3s"><img src="assets/images/instgram-icon.svg" alt="facebook icon"></a>
                    <a href="" class="transition3s"><img src="assets/images/twitter-icon.svg" alt="twitter icon"></a>
                    <a href="" class="transition3s"><img src="assets/images/linkedin-icon.svg" alt="linkedin icon"></a> -->
                </div>
            </div>
            <div class="fxFooter-part1">
                <h1 class="colorTwo subtitle32px font-medium">Quick links</h1>
                <div class="d-flex flex-column fxLinksFooter">
                    <a routerLink="/" routerLinkActive="color-linearGradient" class="subtitle20px colorTwo style-font"
                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                    <a routerLink="aboutUs" routerLinkActive="color-linearGradient"
                        class="subtitle20px colorTwo style-font">About us</a>
                    <a routerLink="ourServices" routerLinkActive="color-linearGradient"
                        class="subtitle20px colorTwo style-font">Our services</a>
                    <a routerLink="news" routerLinkActive="color-linearGradient"
                        class="subtitle20px colorTwo style-font">Insights</a>
                    <a routerLink="contactUs" routerLinkActive="color-linearGradient"
                        class="subtitle20px colorTwo style-font">Contact us</a>
                </div>
            </div>
            <div class="fxFooter-part3 fxGeneral-cards-st">
                <h2 class="font-medium subtitle32px">Contact</h2>
                <p class="subtitle20px style-font">Intersection of Al Khair Street, Anas bin Malik Road, Al Malqa
                    District – Riyadh 13524, Saudi Arabia</p>
                <p class="subtitle20px style-font">Need help? Call us <br> <b>+966542828120</b></p>
            </div>
        </div>
        <div class="copyright">
            <p class="text-center color-two subtitle20px style-font">Copyright © 2025 CODE. All rights reserved</p>
        </div>
    </div>
</footer>