<section class="servicesS1">
    <div class="servicesS1-container px-120">
        <div class="back-servicesS1" style="background-image:url('assets/images/CodeServices/AISolutions-min.png');">
            <div class="servicesS1-texts">
                <h1 class="subtitle36px colorThree font-bold">AI Solutions That Deliver <br>
                    <span class="color-linearGradient">Clarity</span> and <span
                        class="color-linearGradient">Control</span>
                </h1>
                <p class="mb-0 colorThree subtitle16px font-medium">CODE’s AI solutions empower organizations across the
                    Kingdom to work smarter — by automating processes, analyzing data
                    in real time, and enabling faster, more accurate decisions.
                    The result? <b> Better service quality. Greater agility. Stronger sustainability.</b>
                    <br> <br>
                    Built in alignment with Vision 2030, these solutions support a wide range of government entities,
                    authorities, and large
                    enterprises — across industrial, commercial, real estate, and technology sectors — with scalable
                    platforms and trusted local expertise.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="servicesS4">
    <div class="servicesS4-container px-120">
        <div class="fxServicesS4 fxGeneral-cards ">
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/AISolutions"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/AISolutions.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">AI solutions</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Automation&Security"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Automation&Security.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Automation & Security</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/DigitalHealthcare"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/DigitalHealthcare.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Digital Healthcare</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Passive&CivilWork"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Passive&CivilWork.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Passive & Civil Work</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic" routerLink="/ourServices/Data&CloudEngineering"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Data&CloudEngineering.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Data & Cloud Engineering</span>
            </a>
            <a class="d-flex align-items-center fxCardPublic " routerLink="/ourServices/Software&Development"
                routerLinkActive="active">
                <img src="assets/images/servicesIcons/Software&Development.svg" alt="AI Solutions icon">
                <span class="subtitle20px style-font">Software & Development</span>
            </a>
        </div>
    </div>
</section>
<section class="servicesS3">
    <div class="servicesS3-container px-120">
        <div class="ourServiceFlow-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">What We Offer.</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">
                <span class="color-linearGradient">Smarter</span> Infrastructure.
                <span class="color-linearGradient">Faster </span> Decisions. <br>
                <span class="color-linearGradient">Real</span> Impact.
            </h1>
            <p class="style-font text-center colorTwo subtitle20px p-head mb-0">Across the Kingdom, organizations are
                under growing pressure to deliver services that are faster, safer, and more
                efficient. <br> <br>
                CODE’s AI solutions support that transformation — combining <b> automation, real-time data analysis, and
                    intelligent tools </b>
                to improve how systems, facilities, and people work together.</p>
        </div>
        <div class="d-flex fx-servicesS3 fxGeneral-cards">

            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/AIDigitalTwin-min.png');">
                <h3 class="font-bold subtitle24px colorWhite">AI Digital Twin</h3>
                <div class="divArrow">
                    <a class="btn-hover" routerLink="/ourServices/AISolutions/AIDigitalTwin"
                        routerLinkActive="active"><img src="assets/images/arrow-linear.svg" alt="arrow-linear"></a>
                </div>
            </div>

            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/AIComputerVisionmin.jpeg');">
                <h3 class="font-bold subtitle24px colorWhite">AI Computer Vision</h3>
                <div class="divArrow">
                    <button class="btn-hover"><img src="assets/images/arrow-linear.svg" alt="arrow-linear"></button>
                </div>
            </div>
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/AIVoicebotsChatbots-min.jpeg');">
                <h3 class="font-bold subtitle24px colorWhite">AI Voicebots & Chatbots</h3>
                <div class="divArrow">
                    <button class="btn-hover"><img src="assets/images/arrow-linear.svg" alt="arrow-linear"></button>
                </div>
            </div>
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/AIInnovationHub-min.png');">
                <h3 class="font-bold subtitle24px colorWhite">AI Innovation Hub</h3>
                <div class="divArrow">
                    <button class="btn-hover"><img src="assets/images/arrow-linear.svg" alt="arrow-linear"></button>
                </div>
            </div>
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/IndoorWayfinding-min.jpeg');">
                <h3 class="font-bold subtitle24px colorWhite">Indoor Wayfinding</h3>
                <div class="divArrow">
                    <button class="btn-hover"><img src="assets/images/arrow-linear.svg" alt="arrow-linear"></button>
                </div>
            </div>
            <div class="box fxCardPublic d-flex align-items-end justify-content-between"
                style="background-image: url('assets/images/CodeServices/SmartCabinets.png');">
                <h3 class="font-bold subtitle24px colorWhite">Smart Cabinets</h3>
                <div class="divArrow">
                    <button class="btn-hover"><img src="assets/images/arrow-linear.svg" alt="arrow-linear"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="servicesS6">
    <div class="backSection">
        <div class="servicesS6-container px-120">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Designed for Local
                Excellence</span>
            <h1 class="font-bold subtitle48px colorWhite mb24 aos-init text-center" data-aos="fade-down">Built for <span
                    class="color-linearGradient ">Saudi </span>Institutions</h1>
            <div class="d-flex fxTexts">
                <p class="mb-0 colorWhite  style-font text-justify subtitle20px p-head">Every CODE solution is
                    purpose-built
                    to align with local systems, the Arabic
                    language, and national
                    priorities — from
                    Arabic NLP and smart infrastructure integration to full Vision 2030 compliance.</p>
                <p class="mb-0 colorWhite  style-font text-justify subtitle20px p-head">These systems integrate with
                    what
                    you already have — enhancing workflows,
                    improving service quality, and
                    delivering
                    value from day one.</p>
            </div>
        </div>
    </div>
</section>
<app-our-service-flow></app-our-service-flow>
<section class="contactSection">
    <img src="assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24">Your Next Move Starts
                    Here</span>
                <h1 class=" subtitle48px font-bold mb-0 " data-aos=" fade-down"> <span
                        class="color-linearGradient">Build
                    </span> <br>
                    What’s <span class="color-linearGradient"> Next</span></h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" (click)="openTalkCodeModal()">
                    <span class="font-semiBold colorWhite subtitle20px">Talk to the CODE Team</span>
                    <img src="assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font subtitle20px">Explore, test, or implement — all with local context and
            trusted support.</p>
    </div>
</section>